<div id="rct-container" class="rct-container">
    <div class="top-bar">
        <h1>Results</h1>
    </div>
    <div *ngIf="isLoading" class="result-ct-loader">
        Results are loading, Please wait!
    </div>
    <!-- <app-history></app-history> -->
    <div class="data" *ngIf="!isLoading">
        <div *ngIf="overData.length > 1" class="innings-row">
            <div>
                Filter By Innings
            </div>
            <div class="innings-2">
                <div class="innings-2-value" (click)="selectInnings(3)" id="bothInnings">Both</div>
                <div class="innings-2-value" [ngClass]="{'innings-2-active': currentInnings==1}"
                    (click)="selectInnings(1)" id="firstInnings">1st</div>
                <div class="innings-2-value" [ngClass]="{'innings-2-active': currentInnings==2}"
                    *ngIf="currentInnings==2" (click)="selectInnings(2)" id="secondInnings">2nd</div>
            </div>
        </div>
        <!-- <div class="leaderboard_details">
            <table>
                <tr>
                    <th class="text-center">Position</th>
                    <th class="text-center">Player Name</th>
                    <th class="text-center">Points</th>
                </tr>
                <tr>
                    <td class="text-center">{{currentPlayerDetails? currentPlayerDetails.position : "-"}}</td>
                    <td class="text-center">{{currentPlayerDetails?currentPlayerDetails.playerName : "-"}}</td>
                    <td class="text-center">{{currentPlayerDetails?currentPlayerDetails.points : "-"}}</td>
                </tr>
                
            </table>
        </div> -->
        <hr>
        <div *ngIf="overData.length > 1">
            <div *ngFor="let over of overData; let index = index">
                <div *ngIf="overData.length === 40 && (index === 0 || index === 19)" style="text-align: center">
                    {{index === 0 ? '2nd' : '1st'}} Innings
                    <hr>
                </div>
                <div class="overs-predictions">
                    <div class="op-row-1">
                        <div>{{over.overNumber}}
                            <sup>{{over.overSup}}</sup>
                            Over <span id="{{currentInnings}}-{{over.overNumber}}-predictions"
                                *ngIf="over.predictions == 1">Predictions</span>
                            <span *ngIf="over.predictions == 1 &&  isReal">Bet:
                                {{over.betAmount | currency : currencyCode}}</span>
                            <span class="tip" *ngIf="over.tip == 1">Tip</span>
                        </div>
                        <div class="in-progress"
                            *ngIf="over.overNumber == currentOver && over.inning == currentInnings">In Progress</div>
                        <div class="not-started" *ngIf="over.predictions == 2 && over.overNumber != currentOver">Not
                            Started</div>
                        <div class="not-played"
                            *ngIf="over.overArray.length == 6 && over.resultPrediction == undefined && over.overNumber != currentOver && over.predictions != 2">
                            Not Played</div>
                        <div class="won"
                            *ngIf="over.resultPrediction == 1 && over.predictions != 2 && over.overNumber != currentOver">
                            <span *ngIf="isReal">Won {{over.winAmount | currency : currencyCode}}</span>
                            <span *ngIf="!isReal">
                                {{over.points}} points Won
                            </span>
                        </div>
                        <div class="lost"
                            *ngIf="isReal && over.resultPrediction == 0 && over.predictions != 2 && over.overNumber != currentOver">
                            Lost
                        </div>
                        <div class="won"
                            *ngIf="!isReal && over.points > 0 && over.resultPrediction == 0 && over.predictions != 2 && over.overNumber != currentOver">
                            {{over.points}} points Won
                        </div>
                        <div class="lost"
                            *ngIf="!isReal && over.points == 0 && over.resultPrediction == 0 && over.predictions != 2 && over.overNumber != currentOver">
                            {{over.points}} points Won
                        </div>
                    </div>
                    <br>
                    <div class="op-row-2">
                        <div>Fours <div class="op-circle"
                                [ngClass]="{'correct': over.fourPrediction == 1, 'wrong': over.fourPrediction == 0}">
                                {{over.fours}}</div>
                        </div>
                        <div>Sixes <div class="op-circle"
                                [ngClass]="{'correct': over.sixPrediction == 1, 'wrong': over.sixPrediction == 0}">
                                {{over.sixes}}</div>
                        </div>
                        <div>Wickets <div class="op-circle"
                                [ngClass]="{'correct': over.wicketPrediction == 1, 'wrong': over.wicketPrediction == 0}">
                                {{over.wickets}}</div>
                        </div>
                        <div>Dot Balls <div class="op-circle"
                                [ngClass]="{'correct': over.dotBallPrediction == 1, 'wrong': over.dotBallPrediction == 0}">
                                {{over.dotBalls}}</div>
                        </div>
                    </div>
                    <br>
                    <div class="op-row-3">
                        <div>Actual Score in this over</div>
                        <div class="op-row-3-score">
                            <div class="op-circle">{{over.overArray[0] || '.'}}</div>
                            <div class="op-circle">{{over.overArray[1] || '.'}}</div>
                            <div class="op-circle">{{over.overArray[2] || '.'}}</div>
                            <div class="op-circle">{{over.overArray[3] || '.'}}</div>
                            <div class="op-circle">{{over.overArray[4] || '.'}}</div>
                            <div class="op-circle">{{over.overArray[5] || '.'}}</div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div *ngIf="overData.length == 1" style="display: flex; justify-content:center; align-items: center;">
            Game yet to begin
        </div>
    </div>
</div>