.data {
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

.top-bar {
    text-align: center;
    background: #16165a;
    color: #fc0;
    padding: 5px;
}

.top-bar h1 {
    margin: 0;
}

.result-ct-loader {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 30px;
}

.innings-row {
    display: flex;
    justify-content: space-between;
    background: #f1f1f1;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
}

.innings-2 {
    display: flex;
}

.innings-2 div {
    border: 1px solid #16165a;
    /* border-radius: 39%; */
    border-radius: 20px;
    padding: 5px;
    color: #16165a;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    width: 50px;
}

.innings-2 div:hover,
.innings-2 div:focus,
.innings-2-active {
    background: #16165a;
    color: white !important;
}

.op-row-1 {
    display: flex;
    justify-content: space-between;
}

.op-row-1 span {
    margin: 0 5px;
}

.tip {
    background: #b54444;
    color: white;
    border-radius: 2px;
    padding: 0 5px;
    font-weight: lighter;
}

.not-played {
    background: grey;
    color: white;
    border-radius: 2px;
    padding: 0 3px;
}

.in-progress {
    background: yellow;
    border: 1px solid #e8e8e8;
    /* color: black; */
    border-radius: 2px;
    padding: 0 3px;
}

.not-started {
    background: orange;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    padding: 0 3px;
}

.won {
    background: green;
    color: white;
    border-radius: 2px;
    padding: 0 3px;
}

.lost {
    background: red;
    color: white;
    border-radius: 2px;
    padding: 0 3px;
}

.op-row-2 {
    display: flex;
    font-weight: initial;
    justify-content: space-between;
}

.op-row-2>div {
    display: flex;
}

.op-row-2 .op-circle {
    margin: 0 5px;
}

.op-circle {
    text-align: center;
    border: 2px solid #f3f2f2;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 0.75rem;
    background: #f3f2f2;
}

.correct {
    color: white;
    background: green;
    border: 2px solid green;
}

.wrong {
    color: white;
    background: red;
    border: 2px solid red;
}

.op-row-3 {
    display: flex;
    font-weight: initial;
    font-size: 0.75rem;
    justify-content: space-between;
    padding-bottom: 15px;
}

.op-row-3-score {
    display: flex;
    font-size: 1rem;
}

.op-row-3-score div {
    margin: 0 3px;
}

hr {
    margin-top: 0;
    margin-bottom: 1rem;
}

table {
    width: 100%;
}

#rct-container sup {
    left: -.1em;
}

.leaderboard_details table tr {
    background: #fc0;
}

.leaderboard_details {
    margin-left: -10px;
    margin-right: -10px;
}