@html {
    width: 100%;
    height: 100%;

}
html {
    overflow: hidden;
}
body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width : 100%;
    height : 100vh;
}

.svgcenter {
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 25%; */
    width: 40%;
    position: absolute;
    top: 46%;
    left: 30%;
}

