<ul id="top-nav" class="nav nav-pills nav-pills-collection">
    <li class="nav-item">
        <a class="nav-link active" id="allelement" data-toggle="pill" href="#all" (click)="onAllClicked($event)">GAMES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="bethistoryvcttelement" data-toggle="pill" href="#bethistoryvctttab" (click)="onBetHistoryClicked($event)">BET HISTORY</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="leaderboardvcttelement" data-toggle="pill" href="#leaderboardvctttab" (click)="onLeaderboardClicked($event)">LEADERBOARD</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="rulesvcttelement" data-toggle="pill" href="#rulesvctttab" (click)="onRulesClicked($event)">RULES</a>
    </li>
</ul>