<div class="container-fluid" id="htpanchor" class="container-fluid" *ngIf="rules">
    <div class="row header-row">
        <div class="col-2">

        </div>
        <div class="col-8 text-center">
            <h1>HOW TO PLAY</h1>
        </div>
        <div class="col-2 close_btn">
            <a (click)="onClose()"><img src="assets/images/HTPVCTT_Assets/closeBtn.png"></a>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-touch="true">

        <div class="carousel-inner">
            <div class="carousel-item text-center" *ngFor="let rule of rules; let i=index"
                [ngClass]="(i === 0) ? 'active' : ''">
                <img [src]="rule.img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
                <div class="rules-data">
                    <div class="rules-title" *ngIf="i != 5">
                        <h2>{{rule.title}}</h2>
                    </div>
                    <div class="rules-title" *ngIf="i == 5">
                        <h2 style="margin-bottom: -2px;">{{rule.title}}</h2>
                        <h2>{{rule.title2}}</h2>
                    </div>
                    <div class="rules-text">
                        {{rule.text}}
                    </div>
                </div>
                <div *ngIf="i==(rules.length-1)">
                    <br>
                    <div class="rules-text">
                        <a href="" style="color: yellow; pointer-events: none;">FAQs and Terms</a>
                    </div>
                    <br>
                    <button class="back-button" (click)="onClose()">BACK TO GAME</button>
                </div>
            </div>
        </div>
        <div class="indicators">
            <div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <img src="assets/images/arrow_L.png">
                    <span class="sr-only">Previous</span>
                </a>
            </div>
            <div>
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" *ngFor="let rule of rules;let i = index"
                        attr.data-slide-to="{{i}}" [ngClass]="(i === 0) ? 'active' : ''"></li>
                </ol>
            </div>
            <div>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <img src="assets/images/arrow_R.png">
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</div>