#htpanchor {
  height: 100vh;
  overflow: auto;
  background: #34537b;
  position: fixed;
  top: 0;
  background-image: linear-gradient(rgba(68, 89, 130, 0.5), rgba(68, 89, 130, 0.5)), url("../../../assets/images/splashScreen_BG.png");
  /* background: url("../../../assets/images/howtoplaybg.png"); */
  background-size: contain;
  font-family: Nunito-ExtraBold;
  font-size: 1.05rem;
  letter-spacing: 0.2px;
  max-width: 500px;
}
ul li {
  line-height: 2rem;
  padding: 10px;
}
.container-fluid {
  background: #070738;
  color: white;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  margin: 5% 0 10% 0;
}

.carousel-item {
  padding: 0 4%;
}

.header-row {
  border-bottom: 3px solid white;
  padding-top: 5%;
  background: linear-gradient(rgba(52, 83, 123, 0.05), rgba(52, 83, 123, 0.05)), url("../../../assets/images/HTPVCTT_Assets/BG.png");
  background-size: cover;
}

.header-row h1 {
  color: #f7ea43;
  font-family: Nunito-ExtraBold;
  /* letter-spacing: 0.2px; */
  font-size: 2rem;
}

.header-row img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: #495f88;
}

.back-button {
  background-color: #f7ea43;
  color: #36353C;
  width: 130px;
  border: 0;
  border-radius: 5px;
  padding: 0.5em;
  font-family: 'Nunito-ExtraBold';
  font-size: 1.25rem;
  font-weight: bolder;
}

h2 {
  color: #f7ea43;
  margin: 0 0 5px;
  font-family: Nunito-ExtraBold;
  letter-spacing: 0.2px;
  font-size: 1.5rem;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #151523;
}

.carousel-indicators li.active {
  background-color: #B3EEFB;
}

.carousel-indicators {
  position: relative;
  margin: 0;
}

.indicators {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
}

.indicators img {
  width: 15px;
  height: auto;
  margin-top: 2px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 25px;
  height: 25px;
}

.indicators a {
  margin: 0 10px;
}

.rules-data {
  /* background: #2d364c; */
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  border: 2px solid white;
}

.rules-text {
  white-space: pre-wrap;
  line-height: normal;
}

.close_btn {
  text-align: end;
  cursor: pointer;
}

@media (max-height:700px) {
  .back-button {
    border: 0;
    padding: 0.5em 0.6em;
    font-family: 'Montserrat';
    font-size: 1.05rem;
    font-weight: bold;
  }
}

@media (orientation: landscape) {
  .header-row {
    padding-top: 2%;
  }

  .carousel-item img {
    margin: 2% 0;
  }

  .rules-text {
    font-size: 12px;
  }

  .rules-data h2 {
    font-size: 1rem;
  }
}


@media (min-width: 767px) {
  .indicators {
    margin: 0 28%;
  }

}


/* ul li {
  line-height: 2rem;
  padding: 10px;
}
li span{
  font-weight: bold;
}

li a{
  color: #ffeb00;
  pointer-events: none;
}
.container-fluid {
  background: #070738;
  color: white;
  padding-top: 10px;
}
.back-btn {
  padding-bottom: 20px;
}

.back-btn button {
  background-color: transparent;
}

@media(orientation: landscape){
  .container-fluid{
    height: 100vh;
  }
}

*/