<ul class="list-group" id="fwp_chats">
    <div class="chats-container">
        <li *ngFor="let item of chatData" class="list-group-item"
            [ngClass]="{'player-chat': matchDetails.playerId == item.playerId}">
            <label class="user" (click)="onPlayerIdClicked(item.playerId, false)">{{item.playerId ?
                ((item.playerId=='39209' || item.playerId=='3106909') ? 'Shabiki' : item.playerId) : 'Guest'}}:
                &emsp;</label>
            <span class="message">{{item.message}}</span>
        </li>
    </div>
</ul>
<div class="message_popup" id="message_popup">
    Please refine your sentence and then send
</div>
<div *ngIf="displayDropDown" class="display-dropdown">
    <ul *ngIf="playerIds">
        <li *ngFor="let playerId of playerIds" (click)="onPlayerIdClicked(playerId,true)" style="color: #FBE102;">
            {{playerId}}</li>
    </ul>
</div>
<form [formGroup]="chatForm" (ngSubmit)="chatFormSubmit($event)" class="chat-form-container">
    <div class="enter-message">
        <input type="text" class="form-control" placeholder="Enter a message" formControlName="message"
            (keyup)="wordLength($event)" maxlength="300">
        <button class="arrow" [disabled]="isCorrect"><img src="assets/images/chats-enter.png" width="25px"
                height="25px"></button>
    </div>
</form>