<div class="main-header-container" *ngIf="isStandAlone">
    <div class="header-container">
        <div *ngIf="!hideBackButton" (click)="onBackButtonClicked()" class="header-container-back-button">
            <div>
                {{"<"}} </div>
            </div>
            <div *ngIf="hideBackButton" style="width: 35px;"></div>
            <div>{{gameCode | uppercase}}</div>
            <div>
                <div class="text-center">Balance</div>
                <div>{{currencySymbol}}{{balance}}
                </div>
            </div>
        </div>
    </div>
    <div id="preloader">
        <div class="preloader-back-button">
            <!-- <div class="back-btn">
            <img (click)="navigateToLobby(true)" src="../assets/images/backBtn.png">
        </div> -->
        </div>
        <div class="preloader-img text-center">
            <img src="{{'assets/images/' + defenderPreloaderImg +'.png'}}" id="preload-img">
        </div>
        <div class="preloader-bar-box" id="preloader-bar-box">
            <div class="preloader-bar">
                <div class="progress">
                    <div id="progress-bar" class="progress-bar bg-warning" role="progressbar" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar-loading text-center">
                            {{textConfig ? textConfig.loading : "LOADING"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="game-container" id="game-container" [ngClass]="{'mobile-htp': showHowToPlayFullScreens}">
        <div class="display-game" id="display-game">
            <div class="main_container" id="main-container"
                [ngClass]="{'playabet-main-container': isPlayabet, 'betyetu-main-container': isBetyetu}">
                <div class="play_container">
                    <div class="play">
                        <div id="bet_panel" class="text-white">
                            <app-defenderbetpanel (autoplayBet)="autoplayBet($event)"
                                (itemSelected)="itemChange($event)" [multiplierData]="multiplierData">
                            </app-defenderbetpanel>
                            <app-defenderbottom></app-defenderbottom>
                        </div>
                        <div id="canvas" class="text-white" (window:resize)="onResize($event)">
                            <iframe id="iframeElement" width="100%" height="100%" frameBorder="0" [src]="iframeUrl"
                                scrolling="yes"></iframe>
                        </div>
                    </div>
                    <div class="desktop-previous-multipliers">
                        <div class="multiplier text-white">
                            <div class="bet_times">
                                <div *ngFor="let item of multiplierData;let i = index">
                                    <span *ngIf="i < 10" [ngClass]="getClassOf(item.multiplier)">
                                        {{item.multiplier | number : '1.2-2'}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <div (click)='onInfoClicked()' style="margin-right: 10px;">
                                <img width="20px" height="20px" src="assets/images/infoBtn.png" alt="" srcset="">
                            </div>
                            <div (click)='showFWPTermsPage()'>
                                <img width="20px" height="20px" src="assets/images/termsconditions.png" alt=""
                                    srcset="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="bet-placed-popup" class="modal" tabindex="-1" role="dialog" *ngIf="!newCashoutPopup">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: white; color: #132B80;">
                    <div class="modal-header">
                        <span class="close_btn" data-dismiss="modal" (click)="closeBetPanel('bet-placed-popup')">
                            <img src="assets/images/close_icon.png" alt="">
                        </span>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <p *ngIf="showBetContent" class="text-center">
                            {{textConfig ? textConfig.betPlacedSuccessfully : "Bet Placed Successfully!"}}
                            <br><br>
                            {{inputConfig ? inputConfig.betAmount : "Bet Amount:"}} {{currencyCode}}{{lastBetAmount}}
                        </p>
                        <p *ngIf="showCashOutContent" class="text-center">
                            {{textConfig ? textConfig.cashedOutSuccessfully : "Cashed Out Successfully!"}}
                            <br><br>
                            {{inputConfig ? inputConfig.betAmount : "Bet Amount:"}} {{currencyCode}}{{manualBetAmount}}
                            <br><br>
                            {{textConfig ? textConfig.multiplier : "Multiplier"}}: {{cashOutMultiplier}}
                            <br><br>
                            {{textConfig ? textConfig.cashOutAmount : "Cashout Amount"}}:
                            {{currencyCode}}{{cashOutSessionResponse.winAmountAfterTax | number : '1.2-2'}}
                        </p>
                    </div>
                    <div class="text-center" data-dismiss="modal" (click)="closeBetPanel('bet-placed-popup')">
                        <button class="btn btn-primary">CLOSE</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div id="bet-placed-popup" class="modal" tabindex="-1" role="dialog" *ngIf="newCashoutPopup">
            <div class="modal-dialog modal-dialog-new" [ngClass]="{'betyetu-popup-new': isBetyetu, 'modal-dialog-new-wac' : isWeAreCasino}" role="document">
                <div class="modal-content modal-content-new" style="border-radius: 15px; background-color: transparent;">
                    <div class="modal-body-new" id="modal-body-new">
                        <div class="text-center new-close-button" data-dismiss="modal" (click)="closeBetPanel('bet-placed-popup')">
                            <img src="assets/images/close-button-cashedout.png" alt="close" style="height: 25px">
                        </div>
                        <div class="text-center" style="padding-top: 25px;">
                            <img src="assets/images/checked.png" alt="checked" style="height: 45px; width: 45px;">
                            <p class="new-cashedout-successfully-text">
                                {{textConfig ? textConfig.cashedOutSuccessfully : "Cashed Out Successfully!"}}
                            </p>
                        </div>
                        <div *ngIf="showCashOutContent" class="text-center new-info-class">
                            <div id="firstCashoutContent" *ngIf="cashOutMultiplier">
                                <div class="new-bet-info">
                                    <span>
                                        {{inputConfig ? inputConfig.betAmount : "Bet Amount:"}}
                                    </span>
                                    <span>
                                        {{currencyCode}}{{manualBetAmount}}
                                    </span>
                                </div>
                                <div class="new-bet-info">
                                    <span>
                                        {{textConfig ? textConfig.multiplier : "Multiplier"}}:
                                    </span>
                                    <span>
                                        {{cashOutMultiplier}}
                                    </span>
                                </div>
                                <div class="new-bet-info">
                                    <span>
                                        {{textConfig ? textConfig.cashOutAmount : "Cashout Amount"}}:
                                    </span>
                                    <span>
                                        {{currencyCode}}{{cashOutSessionResponse.winAmountAfterTax}}
                                    </span>
                                </div>
                            </div>
                            <br>
                            <div id="secondCashoutContent" *ngIf="cashOutMultiplier2">
                                <div class="new-bet-info">
                                    <span>
                                        {{inputConfig ? inputConfig.betAmount : "Bet Amount:"}}
                                    </span>
                                    <span>
                                        {{currencyCode}}{{manualBetAmount2}}
                                    </span>
                                </div>
                                <div class="new-bet-info">
                                    <span>
                                        {{textConfig ? textConfig.multiplier : "Multiplier"}}:
                                    </span>
                                    <span>
                                        {{cashOutMultiplier2}}
                                    </span>
                                </div>
                                <div class="new-bet-info">
                                    <span>
                                        {{textConfig ? textConfig.cashOutAmount : "Cashout Amount"}}:
                                    </span>
                                    <span>
                                        {{currencyCode}}{{cashOutSessionResponse2 ? cashOutSessionResponse2.winAmountAfterTax : ""}}
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="generic-popup" class="modal" tabindex="-1" role="dialog" *ngIf="!newCashoutPopup">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: white; color: #132B80;">
                    <div class="modal-header">
                        <span class="close_btn" data-dismiss="modal" (click)="closeBetPanel('generic-popup')">
                            <img src="assets/images/close_icon.png" alt="">
                        </span>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <p class="text-center">
                            {{genericErrorMessage}}
                        </p>
                    </div>
                    <div class="text-center" data-dismiss="modal" (click)="closeBetPanel('generic-popup')">
                        <button class="btn btn-primary">CLOSE</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div id="generic-popup" class="modal" tabindex="-1" role="dialog" *ngIf="newCashoutPopup">
            <div class="modal-dialog modal-dialog-generic-new" role="document">
                <div class="modal-content" style="background-color: #262626; color: #FFFFFF;">
                    <div class="modal-body-new" id="modal-body" style="padding-top: 12px;">
                        <div class="text-center new-close-button" data-dismiss="modal" (click)="closeBetPanel('bet-placed-popup')">
                            <img src="assets/images/close-button-cashedout.png" alt="close" style="height: 25px">
                        </div>
                        <p class="text-center" style="margin-top: 15px;">
                            {{genericErrorMessage}}
                        </p>
                    </div>
                    <div class="text-center" data-dismiss="modal" (click)="closeBetPanel('generic-popup')">
                        <button class="btn btn-primary" style="border-color: transparent;">CLOSE</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-defenderhowtoplayscreens> </app-defenderhowtoplayscreens> -->