<div id="pick-10-head" class="pick-10-card">
    <div class="p10c-head-1">Pick 10</div>
    <div class="p10c-head-2">{{matchDetails.firstTeamId}} vs {{matchDetails.secondTeamId}}</div>
    <div class="p10c-head-3">Predict 10 scores which will be on scoreboard</div>
    <div class="p10c-head-4"><span>&#8377;</span><span>{{matchDetails.jackpot}}</span></div>
</div>
<div id="pick-10-card-2" class="pick-10-card-2">
    <div>{{matchDetails.firstTeamId}}
    </div>
    <div class="p10c2-head-2">
        <div>
            <button class="btn" *ngIf="matchDetails.status == 1">{{matchDetails.date}}</button>
            <span *ngIf="matchDetails.status == 0">{{matchDetails.date}}</span>
        </div>
    </div>
    <div>{{matchDetails.secondTeamId}}</div>
</div>
<iframe id="iframeElement" width="100%" height="100%" frameBorder="0" [src]="iframeUrl"></iframe>
<router-outlet></router-outlet>