.pick-10-card{
    background: url("../../assets/images/bigbannerblue.png") no-repeat center;
    background-size: 101%;
    padding: 10px;
    color: white
}
.p10c-head-1{
    color: #fc0;
    font-weight: bold;
    font-size: 1.75em;
    font-family: 'HelveticaNeueLTStd-Bd';
    padding: 5px 5px 0 5px;
}
.p10c-head-2{
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 5px;
}
.p10c-head-3{
    font-size: 0.9em;
    padding: 5px 5px 0 5px;
}
.p10c-head-4{
    color: #fc0;
    font-weight: bold;
    font-size: 2.5em;
    padding: 10px 5px;
}
.p10c-head-4 span:first-child {
    font-size: 1.5rem;
    padding-right: 5px;
}
.p10c-head-4 span:nth-child(2) {
    font-family: 'HelveticaNeueLTStd-Bd';
}
.pick-10-card-2{
    display: flex;
    justify-content: space-between;
    color: white;
    background: #16165a;
    font-size: 1.5em;
    font-weight: bold;
    padding: 4% 2%;
}
.pick-10-card-2 .p10c2-head-2{
    font-size: 0.5em;
    font-weight: initial;
}
.p10c2-head-2 .btn{
    background: red;
    font-size: 1em;
    color: white;
    padding: .01rem 1rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    width: 29%;
}

li a {
    display: block;
    text-align: center;
    padding: 5px 2px;
    color: black;
    text-decoration: none;
    font-size: 13px;
}

li:hover, li.active {
    font-weight: bold;
}

li:hover a span, li.active a span {
    background: #16165a;
    color: white;
    border-radius: 20px;
    padding: 5px;
}
.pick-10-nav {
    padding: 3% 1%;
    background: #dbddf7;
}
li:first-child {
    width: 28%
}
li:nth-child(3) {
    width: 12%
}
li:nth-child(4) {
    width: 31%
}
.pick10-score-card{
    background: #29294c;
    color: white;
    font-size: 0.8em;
}
.last-over {
    display: flex;
    justify-content: space-between;
}
.run-rate {
    padding-top: 5px;
}
.last-overs span{
    padding: 5px;
}
.last-over, .last-overs {
    padding: 5px 10px;
}
.circle {
    display: inline-block;
    line-height: 0px;
    border-radius: 50%;
    font-size: 12px;
    margin: 0 5px;
    height: 25px;
    width: 25px;
    text-align: center;
}
.circle span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin: 0 auto;
}
.boundary {
    background: #4cabf3;
    color: white;
}
.run {
    background: white;
    color: blue;
}
.wicket {
    background: red;
    color: white;
    margin-right:8px;
}
.light-text, th {
    color: #7881c3;
}
.total-score span {
    font-size: 0.7em;
}
th {
    font-weight: normal;
}
th:not(:first-child), td:not(:first-child) {
    text-align: right;;
}
th, td {
    padding: 0.1rem .75rem;
}
.table {
    color: white;
    margin-bottom: 0;
}
.current-player {
    color: #fc0;
}
#iframeElement {
    display: none;
}
.bet-class {
    display: flex;
    justify-content: space-evenly;
    background-color: #dedede;
}
.symbol-bet {
    margin: 2% 0;
    font-size: 10px;
}
.bet-class .btn {
    background: white;
    font-size: 0.8rem;
}
.bet-class .play-button {
    width: 10rem;
}
.bet-class .play-button-enabled {
    background-color: #badaba;
    color: #2cbf2c;
    border: 1px solid #0fcc0f;
    font-weight: bold;
}
.bet-class .play-button-disabled {
    background: #4a4444;
    border: darkgrey;
    color: #2cbf2c;
    font-weight: bold;
}
.button-selected {
    background: #fc0 !important;
}
#iframeElement html{
    overflow: hidden;
}
#pick-10-bet .symbol-bet:last-child {
    margin-left: 5%;
}
.bet-class input {
    width: 100px;
}


@media (min-width: 500px) {
    li {
       width: 25% !important;
    }
    li a {
        font-size: 16px;
        padding: 14px 5px;
    }
    li.active a span, li:hover a span {
        padding: 10px;
        border-radius: 30px;
    }
    #pick-10-bet .symbol-bet:last-child {
        margin-left: 20%;
    }
}

@media (max-width: 500px) {
    .bet-class input {
        width: 4rem;
    }
    .bet-class .play-button {
        width: 6rem;
    }
    .bet-class .btn {
        font-size: 0.7rem;
        padding: .375rem .4rem;
    }
}