.row {
    margin: 0 15px 0 0;
}

.nav-pills .nav-link span {
    padding: 15px;
}

#v-pills-tab div {
    font-size: .70rem;
    font-weight: 700;
    background-color: transparent;
    margin-left: 25px;
    text-align: center;
    writing-mode: vertical-lr;
    transform: scale(-1);
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#v-pills-tabContent {
    background: #353B49;
    margin-left: -1px;
    padding: 0 10px;
}


#v-pills-tab .nav-link.active {
    background-color: #353B49;
}

#v-pills-tab div span.material-icons {
    font-size: 12px;
    line-height: 25px;
}

.fwp-main-component {
    overflow: auto;
    height: 420px;
}

table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 0.2rem;
    font-size: 0.70rem;
}

table td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 5px;
}

table td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

table td div {
    padding: 5px 0 5px 5px;
}

.date-time {
    line-height: 14px;
}

thead {
    font-size: 0.65rem;
    color: #7F8899;
}

.table-header{
    background: #353b49;
    position: sticky;
    top: 0;
}

thead th {
    font-weight: 700;
}

tr {
    background-color: #484F62;
}

::-webkit-scrollbar {
    display: none;
}

.nav-link {
    padding: .5rem .3rem;
}

label {
    color: #8D94A9;
    margin-bottom: 0;
}

table label {
    color: #959CAF;
    font-size: 0.70rem;
    font-weight: 700;
}

.bg-red {
    color: red;
}

img.arrow {
    height: 5px;
    transform: rotate(270deg);
}


table .list-group-item {
    background-color: #535A6D;
    border: none;
    border-bottom: 1px solid #6e6e6e;
    padding: 5px 10px 0 10px;
    display: flex;
    justify-content: space-between;
}

table .list-group-item:last-child {
    border-bottom: none;
}

table tr.inner {
    background-color: #535A6D;
}

@media (min-width: 800px) {
    .fwp-main-component .text-right {
        text-align: center !important;
    }
}