<div class="lobby">
    <!-- Nav pills -->
    <ul class="nav nav-pills nav-pills-collection">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#all">GAMES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bethistoryvctt" data-toggle="pill" href="#bethistoryvctt" (click)="onNavClicked('bethistoryvctt')">BET HISTORY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="leaderboardvctt" data-toggle="pill" href="#leaderboardvctt" (click)="onNavClicked('leaderboardvctt')">LEADERBOARD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="rulesvctt" data-toggle="pill" href="#rulesvctt" (click)="onNavClicked('rulesvctt')">RULES</a>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="all">
            
            <div *ngFor="let lobbyItem of lobbyDetails" class="generic-card-1"
            [ngClass]="{'generic-card-2': (lobbyItem.gameName == 'Virtual Catch the Trend') || (lobbyItem.gameName == 'Catch the Trend')}" id="{{lobbyItem.matchId}}">
            <span class="material-icons share_icon" >share</span>
            <div class="gc-head-1">
                    <div>{{lobbyItem.gameName}}</div>
                    <!-- <div><button class="btn">Free</button></div> -->
                </div>
                <div class="gc-head-2">{{lobbyItem.league}}</div>
                <div class="gc-head-3" [ngClass]="{'showTeams': ((lobbyItem.gameName == 'Penalty Shootout') || (lobbyItem.gameName == 'First Wicket Partnership') || (lobbyItem.gameName == 'Match Predictor'))}">
                    <div class="item">{{lobbyItem.firstTeamId}}</div>
                    <div class="item">
                        <span>V</span>
                    </div>
                    <div class="item">{{lobbyItem.secondTeamId}}</div>
                </div>
                <div class="lobby_item_date">
                    <span *ngIf="lobbyItem.status == 1">{{lobbyItem.date}}</span>
                    <span *ngIf="lobbyItem.status == 0">{{lobbyItem.date}}</span>
                </div>
                <div class="gc-head-6">
                    <button *ngIf="lobbyItem.demoPlay" class="btn" (click)="onPlayClicked(lobbyItem, true)">PLAY FOR CASH</button>
                    <button *ngIf="lobbyItem.demoPlay" class="btn" (click)="onPlayClicked(lobbyItem, false)">PLAY FOR FREE</button>
                    <button style="margin: 0 auto" *ngIf="!lobbyItem.demoPlay" class="btn" (click)="onPlayClicked(lobbyItem, true)">PLAY HERE</button>
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="bethistoryvctt">
        </div>
        <div class="tab-pane container fade" id="leaderboardvctt">
        </div>
        <div class="tab-pane container fade" id="rulesvctt">
        </div>
    </div>
</div>