@font-face {
    font-family: ZillaSlab-Regular;
    src: url("../../assets/fonts/ZillaSlab-Regular.ttf");
}

.lobby {
    max-width: 767px;
    margin: 0 auto;
}

:host{
    font-family: Nunito-Bold;
}

.nav-pills-collection {
    background: #16165a;
    padding: 10px 10px 0 10px;
}
.nav-pills-collection li a {
    /* background: white; */
    color:white;
    font-size: small;
    padding: .5rem .5rem;
}
.nav-pills-collection li a.active {
    background: white;
    color: #16165a;
    border-radius : 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}
.tab-pane {
    padding: 0;
    max-width: 100%;
}
.generic-card-1{
    background: url("../../assets/images/bigbannerblue.png") no-repeat;
    background-size: cover;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white
}
.gc-head-1{
    text-align: center;
    color: #fc0;
    font-weight: bold;
    font-size: 22px;
    font-family: 'ZillaSlab-Regular';
    padding: 5px 0 0 5px;
}
.gc-head-1 .btn {
    background: #fc0;
    padding: .01rem .5rem;
    height: 1rem;
    font-size: 0.5em;
    vertical-align: top;
}
.gc-head-2{
    font-family: 'Nunito';
    text-align: center;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 100;
    padding: 0 0 0 5px;
}
.gc-head-3{
    font-size: 1.5em;
    display: flex;
    font-weight: bold;
    padding: 15px 5px;
}

.item{
    font-family: 'Nunito-ExtraBold';
    font-weight: 900;
    flex: 1;
    display: flex;
    justify-content: center;
}

.item:first-child { margin-right: auto; justify-content: flex-start;}

.item:last-child { margin-left: auto;  justify-content: flex-end; }
.gc-head-3:not(:nth-child(2)){
    font-size: 32px;
}

.share_icon{
    margin-top: 5px;
    font-size: 20px;
    float: right;
}
/* .gc-head-3 .btn{
    background: red;
    font-size: 0.75em;
    color: white;
    padding: .01rem 1rem;
    font-weight: bold;
} */
.gc-head-3 div:nth-child(2) {
    font-weight: normal;
    font-size: large;
    font-weight: 900;
}
.gc-head-4{
    color: #fc0;
    font-weight: bold;
    font-size: 2.5em;
    padding: 10px 5px 5px 5px !important;
}
.gc-head-4 span:first-child {
    font-size: 1.5rem;
    padding-right: 5px;
}
.gc-head-4 span:nth-child(2) {
    font-family: 'Nunito-Bold';
}
.gc-head-5 {
    font-size: 0.75em;
    padding: 0 0 0 5px;
}
.gc-head-6 {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px 0 5px;
}
.gc-head-6 .btn {
    width: 165px;
    height: 40px;
    background: #fc0;
    padding: .1rem .5rem .05rem .5rem;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: -0.3px;
    font-family: 'Nunito-ExtraBold';
}
.gc-head-6 .btn:first-child {
    margin: 0 10px 0 0;
}
.gc-head-6 .material-icons {
    font-size: 18px;
}
.share-text {
    vertical-align: 5px;
    margin-left: 2px;
}
.generic-card-2 {
    background: url("../../assets/images/bigbannerpurple.png") no-repeat;
    background-size: cover;
}

.lobby_item_date{
    text-align: center;
    color: #F7CD46;
    font-weight: 700;
    font-size: 18px;
}

.showTeams {
    visibility: hidden;
}

@media (min-width: 500px) {
    .nav-pills-collection li a {
        padding: .5rem 1rem;
    }
}