<div [ngClass]="{'standalone-class': isStandAlone}" class="container-fluid" id="leaderboard-ps">
    <div class="header">
        <div class="back-btn">
            <a (click)="onClose()"><img width="30" src="assets/images/backBtn.png"></a>
        </div>
        <div class="title" style="padding: 0 5px;">
            <h1>{{!gameMode ? textConfig.tournamentLeaderboard : textConfig.singleGameLeaderboard}}</h1>
        </div>
        <div style="width: 25px;"></div>
    </div>
    <div class="leaderboard_info">
        <!-- <div>
            Top our <span>{{!gameMode? 'Tournament' : 'Single Game'}}</span> Leaderboard to win one of the great prizes
            below. Competition closes at midnight EAT on Sunday <span>{{currentSunday}}</span>th {{currentMonth}}.
        </div> -->

        <div *ngIf="gameMode">
            <span>{{textConfig.singleGameLeaderboardNote ? textConfig.singleGameLeaderboardNote : "Top our Single Game Leaderboard to win one of the great prizes below. Competition closes at midnight EAT on Sunday"}}</span><span>{{currentSunday}}</span>th {{currentMonth}}
        </div>
        <div *ngIf="!gameMode">
            <span>{{textConfig.tournamentLeaderboardNote ? textConfig.tournamentLeaderboardNote : "Top our Tournament Leaderboard to win one of the great prizes below. Competition closes at midnight EAT on Sunday"}}</span><span>{{currentSunday}}</span>th {{currentMonth}}
        </div>

    </div>
    <div class="current_player" *ngIf="currentPlayer">
        <div class="flag_icon" *ngIf="!gameMode">
            <img class="sub-icon" [src]='currentPlayer.img || clubImage' alt="">
        </div>
        <div class="flag_icon" *ngIf="gameMode">
            <img class="sub-icon" [src]='currentPlayer.img || clubImage' alt="">
        </div>
        <div class="current_player_info" *ngIf="currentPlayer">
            <div class="current_player_name">
                {{currentUserName.length > 14 ? currentUserName.substring(0,14) + '...' : currentUserName}}</div>
            <div class="penalty_scored">{{textConfig ? textConfig.myPenaltiesScored :"My Penalties Scored"}}:
                <span>{{currentPlayer.points ? currentPlayer.points : '0'}}</span> </div>
            <div class="current_player_position">{{textConfig ? textConfig.myPosition :"My Position: "}}
                <span>{{currentPlayer.rank ? currentPlayer.rank + 1 : resultLength}}</span> </div>
        </div>
    </div>
    <div class="leaderboard-content" *ngIf="leaderBoardData.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">
                        {{textConfig ? textConfig.user : "User"}}
                    </th>
                    <th class="text-center">
                        {{textConfig ? textConfig.pens : "Pens"}}
                    </th>
                    <th class="text-center">
                        {{textConfig ? textConfig.rank : "Rank"}}
                    </th>
                    <th class="text-center">
                        {{textConfig ? textConfig.prize : "Prize"}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of leaderBoardData; let i = index;">
                    <td class="text-left">
                        <div class="logo-player">
                            <div class="avatar-td" *ngIf="gameMode">
                                <img *ngIf="item && item.img" [src]="item.img">
                            </div>
                            <div class="avatar-td" *ngIf="!gameMode">
                                <img *ngIf="item && item.countryImg" [src]="item.countryImg">
                            </div>
                            <div class="player-text m-top-5" *ngIf="item.playerName">
                                {{item.playerName.length > 8 ? item.playerName.substring(0,8) + '...' : item.playerName}}
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="m-top-5">
                            {{item.points}}
                        </div>
                    </td>
                    <td class="text-center">
                        <div *ngIf="i==0">
                            <img src="assets/images/medal_gold_S_1_.png">
                        </div>
                        <div *ngIf="i==1">
                            <img src="assets/images/medal_silver_S_2_.png">
                        </div>
                        <div *ngIf="i==2">
                            <img src="assets/images/medal_bronze_S_3_.png">
                        </div>
                        <div class="m-top-5" *ngIf="i>2" style="display: flex; justify-content: center;">
                            {{i+1}}
                        </div>
                    </td>
                    <td *ngIf="gameMode && currencyCode">
                        <div *ngIf="i==0">
                            {{currencyCode}} {{tournamentPrizes.firstPrize}}
                        </div>
                        <div *ngIf="i==1" class="m-top-5">
                            {{currencyCode}} {{tournamentPrizes.secondPrize}}
                        </div>
                        <div *ngIf="i==2" class="m-top-5">
                            {{currencyCode}} {{tournamentPrizes.thirdPrize}}
                        </div>
                        <div *ngIf="i>2">
                            -
                        </div>
                    </td>
                    <td *ngIf="!gameMode">
                        <div *ngIf="i==0" class="m-top-5">
                            {{currencyCode}} {{singleGamePrizes.firstPrize}}
                        </div>
                        <div *ngIf="i==1" class="m-top-5">
                            {{currencyCode}} {{singleGamePrizes.secondPrize}}
                        </div>
                        <div *ngIf="i==2" class="m-top-5">
                            {{currencyCode}} {{singleGamePrizes.thirdPrize}}
                        </div>
                        <div *ngIf="i>2">
                            -
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>