#leaderboard-ps {
    height: 100vh;
    overflow: auto;
    background-color: #34537b;
    position: fixed;
    top: 0;
    background: url("../../../../assets/images/splashScreen_BG.jpg");
    background-size: contain;
    font-family: lalezar-Regular;
    font-size: 1rem;
    letter-spacing: 0.2px;
    max-width: 500px;
    left: 0;
    right: 0;
}

#leaderboard-ps.standalone-class{
    margin-top: 15px;
}

.leaderboard-content {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0;
    padding-bottom: 2%;
    letter-spacing: 0.2px;
}

.header h1 {
    color: #fc0;
    font-size: 1.3em;
    margin: 0 0 8px;
    font-family: lalezar-Regular;
    margin: 8px 0;
}

table {
    color: white;
    border-collapse: separate;
    border-spacing: 0 10px;
    max-width: 100%;
}

.table td,
.table th {
    border-top: 0;
    vertical-align: middle;
    text-align: center;
    padding: .175rem;
}

thead th {
    border: 0 !important;
}

thead {
    line-height: 1px;
}

.avatar-td {
    display: flex;
    justify-content: space-between;
}

table th:first-child,
table td:first-child {
    width: 40%;
}

table img {
    max-width: 30px;
    height: auto;
}

.logo-player {
    display: flex;
}

.player-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.m-top-5 {
    margin-top: 5px;
}

tbody tr {
    background: #495f88;
}

tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.current_player {
    display: flex;
    align-items: center;
    background: #495f88;
    border-radius: 10px;
}

.current_player_info {
    font-size: 18px;
    color: #FFF;
    line-height: 28px;
}

.current_player_name {
    font-size: 22px;
}

.leaderboard_info {
    background-color: #495f88;
    border-radius: 5px;
    margin-bottom: 10px;
}

.leaderboard_info div {
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 5px;
}

.sub-icon {
    width: 90px;
    height: 90px;
    padding: 10px;
}

.back-btn {
    max-width: 30px;
}

@media (max-width: 320px) {
    .title {
        font-size: 18px;
    }

    .sub-icon {
        width: 57px;
        height: 57px;
        padding: 10px;
    }

    .penalty_scored,
    .current_player_position {
        font-size: 18px;
    }

    #leaderboard-ps {
        padding: 0 8px 0 8px;
    }
}