<table class="table">
    <thead>
        <tr>
            <th colspan="4" class="leader-board-heading">Leader Board</th>
        </tr>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th class="text-center">Points</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of leaderBoardData; let i = index;">
            <td><div class="avatar-td"><span>{{i+1}}</span> <img src="assets/images/iconfinder_1.png"></div></td>
            <td>{{item.playerId}}</td>
            <td class="text-center" style="color:#05ff05">{{item.points}}</td>
        </tr>
    </tbody>
</table>