table {
    color: white;
    font-size: 12px;
}
.leader-board-heading {
    text-align: center;
    color: #fc0;
    font-size: 20px;
}
thead tr{
    background: #010169;
    font-size: 14px;
}
thead tr:first-child{
    background: #2d2d8c;
}
tbody {
    background: #070738;
}
.table td, .table th {
    border-bottom: 1px solid #4f5356;
    border-top: 0;
    vertical-align: middle;
}
thead th {
    border: 0 !important;
}
.avatar-td {
    display: flex;
    justify-content: space-between;
}
table th:first-child, table td:first-child {
    width: 100px;
}

@media (min-width:500px) {
    table {
        font-size: 14px;
    }
}