.error {
    color: red;
    text-align: center;
}
.login-container {
    background-color: black;
    color: white;
    height: 100%;
    max-width: 500px;
}
.btn-primary, .btn-primary:focus, .btn-primary:active {
    color: black !important;
    background-color: white !important;
}
h1 {
    font-weight: bold;
}
