<div class="container login-container">
    <div class="login">
        <br><br><br><br>
        <h1 class="text-center">Login</h1>
        <br>
        <form class="form-horizontal" [formGroup]="loginForm">
            <div class="form-group mb-4">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" formControlName="username">
            </div>
            <div class="form-group mb-4">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <br>
            <div class="form-group mt-4 text-center">
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </div>
    <div class="error mt-4" *ngIf="showError">
        Error Logging in. Please enter correct username/password to login.
    </div>
</div>