<div id="faq" class="container-fluid" *ngIf="showFaq" [ngClass]="{'standalone-class': isStandAlone}">
  <div class="row header-row">
    <div class="col-2 text-left">
      <a class="faq-back-button" (click)="onClose()"><img [src]="backButtonURL"></a>
    </div>
    <div class="col-8 text-center">
      <h1 [ngClass]="{'sbk_font_orange_primary': isShabikiPlatform}">{{faqsTitle || "FAQs"}}</h1>
    </div>
    <div class="col-2">

    </div>
  </div>
  <div class="faq-data">
    <div class="accordion" id="accordionExample">
      <div class="card" *ngFor="let rule of rules; let i=index">
        <div class="card-header" id="headingOne" data-toggle="collapse" [attr.data-target]="'#collapse' + i"
          aria-expanded="true" [attr.aria-controls]="'#collapse' + i">
          <div>
            <h2 class="mb-0">
              <div class="rule-title">
                <div style="padding-top:2px; text-align: left !important;">
                  {{rule.title}}
                </div>
              </div>
            </h2>
          </div>
          <div class="card-icon">
            <img src="assets/images/arrow_R.png" class="arrow-icon">
          </div>
        </div>
        <div id="{{'collapse' + i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

            <div *ngIf="rule.terms">
              <ul>
                <li *ngFor="let terms of rule.terms; let index = index">{{terms}}</li>
              </ul>
            </div>
            <div class="rules-text" *ngIf="rule.text && !rule.showPayTable">
              {{rule.text}}
            </div>
            <div *ngIf="rule.showPayTable && singleGamePaytableData">
              <div>
                <h4>
                  {{singleGamePaytableData.heading ? singleGamePaytableData.heading : "SINGLE GAME PAYTABLE"}}
                </h4>
                <table class="single-play-table">
                  <thead>
                    <tr class="headings">
                      <td>{{singleGamePaytableData ? singleGamePaytableData.headings.gameType : "GAME TYPE"}}</td>
                      <td>{{singleGamePaytableData ? singleGamePaytableData.headings.penaltiesScored : "PENALTIES SCORED"}}</td>
                      <td>{{singleGamePaytableData ? singleGamePaytableData.headings.odds : "ODDS"}}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr></tr>
                    <tr *ngIf="singleGamePaytableData.Penalties3">
                      <td>{{singleGamePaytableData.Penalties3 ? singleGamePaytableData.Penalties3.headingPenalty :  "3 Penalties"}}</td>
                      <td>{{(singleGamePaytableData.Penalties3) ? singleGamePaytableData.Penalties3.penalties :"3"}}</td>
                      <td>{{(singleGamePaytableData.Penalties3) ? singleGamePaytableData.Penalties3.odds : "6.00"}}</td>
                    </tr>
                    <tr></tr>
                    <tr *ngIf="singleGamePaytableData.Penalties4">
                      <td>{{singleGamePaytableData.Penalties4 ? singleGamePaytableData.Penalties4.headingPenalty :  "4 Penalties"}}</td>
                      <td>{{singleGamePaytableData.Penalties4 ? singleGamePaytableData.Penalties4["4"].penalties : "4"}}</td>
                      <td>{{singleGamePaytableData.Penalties4 ? singleGamePaytableData.Penalties4["4"].odds : "8.00"}}</td>
                    </tr>
                    <tr>
                      <td>{{singleGamePaytableData.Penalties4 ? singleGamePaytableData.Penalties4.headingPenalty :  "4 Penalties"}}</td>
                      <td>{{singleGamePaytableData.Penalties4 ? singleGamePaytableData.Penalties4["3"].penalties : "3"}}</td>
                      <td>{{singleGamePaytableData.Penalties4 ? singleGamePaytableData.Penalties4["3"].odds : "1.00"}}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td>{{singleGamePaytableData.Penalties5 ? singleGamePaytableData.Penalties5.headingPenalty :  "5 Penalties"}}</td>
                      <td>{{singleGamePaytableData.Penalties5 ? singleGamePaytableData.Penalties5["5"].penalties :  "5"}}</td>
                      <td>{{singleGamePaytableData.Penalties5 ? singleGamePaytableData.Penalties5["5"].odds :  "15.00"}}</td>
                    </tr>
                    <tr>
                      <td>{{singleGamePaytableData.Penalties5 ? singleGamePaytableData.Penalties5.headingPenalty :  "5 Penalties"}}</td>
                      <td>{{singleGamePaytableData.Penalties5 ? singleGamePaytableData.Penalties5["4"].penalties :  "5"}}</td>
                      <td>{{singleGamePaytableData.Penalties5 ? singleGamePaytableData.Penalties5["4"].odds :  "1.50"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <h4 style="margin-top: 16px;">
                  {{tournamentGamePaytableData ? tournamentGamePaytableData.heading : "TOURNAMENT GAME PAYTABLE"}}
                </h4>
                <table class="tournament-play-table">
                  <thead>
                    <tr class="headings">
                      <td>{{tournamentGamePaytableData ? tournamentGamePaytableData.headings.successfully : "Successfully"}}</td>
                      <td>{{tournamentGamePaytableData ? tournamentGamePaytableData.headings.guaranteedPayout : "Guaranteed Payout"}}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr></tr>
                    <tr>
                      <td>{{tournamentGamePaytableData ? tournamentGamePaytableData.quarterFinal.titleText : "Qualifying from the Quarter Finals"}}</td>
                      <td>{{tournamentGamePaytableData ? tournamentGamePaytableData.quarterFinal.odds : "2.00"}}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td>{{tournamentGamePaytableData ? tournamentGamePaytableData.semiFinal.titleText : "Qualifying from the Semi Finals"}}</td>
                      <td>{{tournamentGamePaytableData ? tournamentGamePaytableData.semiFinal.odds : "4.00"}}</td>
                    </tr>
                    <tr>
                      <td>{{tournamentGamePaytableData ? tournamentGamePaytableData["3GoalsFinal"].titleText : "Scoring 3 Goals in Final"}}</td>
                      <td>{{tournamentGamePaytableData ? tournamentGamePaytableData["3GoalsFinal"].odds : "10.00"}}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td>{{tournamentGamePaytableData ? tournamentGamePaytableData["4GoalsFinal"].titleText : "Scoring 4 Goals in Final"}}</td>
                      <td>{{tournamentGamePaytableData ? tournamentGamePaytableData["4GoalsFinal"].odds : "50.00"}}</td>
                    </tr>
                    <tr>
                      <td>{{tournamentGamePaytableData ? tournamentGamePaytableData["5GoalsFinal"].titleText : "Scoring 5 Goals in Final"}}</td>
                      <td>{{tournamentGamePaytableData ? tournamentGamePaytableData["5GoalsFinal"].odds : "200.00"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="operator !== 'starbet' && operator != 'paribet'" class="card t-c-link" [ngClass]="{'sbk_font_orange_primary': isShabikiPlatform}"
    (click)="showTermsAndConditions()">
    {{fullTermstitle}}
  </div>
  <div id="terms-modal" class="modal show" tabindex="-1" role="dialog" *ngIf="showPopup">
    <div id="modal-dialog-margin" class="modal-dialog" role="document">
      <div [ngClass]="{'standalone-class': isStandAlone}" class="modal-content">
        <div class="popup" id="terms-modal-popup">
          <div class="heading">
            <h3>{{termsMainTitle || "TERMS AND CONDITIONS"}}
              <span class="close-btn" *ngIf="termsAndConditionsOperator" (click)="closePopup()">X</span>
              <span class="close-btn close-btn-2" *ngIf="!termsAndConditionsOperator" (click)="closePopup()"><img src="assets/images/crossIcon.png"></span>
            </h3>
          </div>
          <div class="terms" *ngIf="termsAndConditions && termsAndConditionsOperator">
            <div class="terms-content" *ngFor="let term of termsAndConditions.newTerms; let index = index;">
              <div style="font-size: 1rem; margin: 5px;">{{term.heading}}</div>
              <div *ngIf="oddGamesContent.length <= 0 && !isShabiki">
                <div *ngFor="let term of term.terms">{{term}}</div>
              </div>
              <div *ngIf="oddGamesContent">
                <div *ngIf="index != 3 || isShabiki">
                  <div *ngFor="let term of term.terms">{{term}}</div>
                </div>

                <div *ngIf="index == 3 && !isShabiki" class="oddTerms">
                  <div *ngFor="let oddTerm of oddGamesContent; let index = index;">
                    <div *ngIf="index != 2 && index != 4">
                      {{oddTerm}}
                    </div>
                    <div style="margin-left: 25px;" *ngIf="index == 2">
                      {{oddTerm}}
                    </div>
                    <div style="margin-left: 25px;" *ngIf="index == 4">
                      {{oddTerm}}
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="terms" *ngIf="termsAndConditions && !termsAndConditionsOperator">
            <div class="terms-content" *ngFor="let term of termsAndConditions.newTerms; let index = index;">
              <div class="tnc-heading" style="font-size: 1rem; margin: 5px;">{{term.heading}}</div>
              <div class="tnc-content">
                <div *ngFor="let term of term.terms" class="tnc-content-1">
                  <div *ngIf="term.indexOf('\t')<0">{{term}}</div>
                  <div class="tnc-content-2" *ngIf="term.indexOf('\t')>=0">{{term}}</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>