.sbk_font_orange_primary {
  color: #ff6600 !important;
}

.sbk_bg_orange_primary {
  background-color: #ff6600 !important;
}

.sbk_font_blue_primary {
  color: #0006f3 !important;
}

.sbk_bg_blue_primary {
  background-color: #0006f3 !important;
}

.sbk_font_grey_primary {
  color: #dadcd3 !important;
}

.sbk_bg_grey_primary {
  background-color: #dadcd3 !important;
}

.sbk_font_yellow_secondary {
  color: #ffff00 !important;
}

.sbk_bg_yellow_secondary {
  background-color: #ffff00 !important;
}

.sbk_font_green_secondary {
  color: #a6ff00 !important;
}

.sbk_bg_green_secondary {
  background-color: #a6ff00 !important;
}

.sbk_font_violet_secondary {
  color: #a626ff !important;
}

.sbk_bg_violet_secondary {
  background-color: #a626ff !important;
}

.sbk_font_ruby_red_secondary {
  color: #ff0099 !important;
}

.sbk_bg_ruby_red_primary {
  background-color: #ff0099 !important;
}

.sbk_orange_btn {
  background-color: #ff6600 !important;
  color: #fff !important;
}


#faq {
  min-height: 100%;
  background: #293e67;
  padding: 5% 2%;
  position: fixed;
  overflow: auto;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url("../../../assets/images/splashScreen_BG.jpg");
  background-size: contain;
  /* font-size: 1.05rem; */
  letter-spacing: 0.2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
}

.material-icons {
  font-weight: bold;
  font-size: 2em;
}

.header-row h1 {
  color: #fc0;
  font-size: 2.5em;
  margin: 0 0 8px;
  margin: 8px 0;
  letter-spacing: 0.2px;
}

.header-row div:first-child {
  padding: 5px 15px;
}

h2,
h4 {
  letter-spacing: 0.2px;
  height: 100%;
}

.header-row img {
  width: 30px;
  height: 30px;
  background: #495f88;
  border-radius: 5px;
}

.rules-text {
  white-space: pre-wrap;
}

.card {
  margin: 14px 0 14px 0;
  min-width: 100%;
  border-radius: 5px !important;
  background: #303954;
  color: white;
}

.card-header {
  padding: 0.25rem 0.05rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.card-header .card-icon {
  padding: .3rem .75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-icon img {
  width: 10px;
  height: auto;
  transform: rotate(90deg);
}

.rule-title {
  padding: .3rem .5rem;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single-play-table,
.tournament-play-table {
  width: 100%;
  text-align: center;
}

.table-header {
  font-size: 16px;
}

.headings,
tbody {
  border: 1px solid;
}

.tournament-play-table tbody tr td:first-child {
  text-align: left;
}

#faq.standalone-class {
  margin-top: 20px;
}

.modal-content.standalone-class {
  margin-top: 40px;
}

@media (max-width: 320px) {
  .rule-title {
    font-size: 14px;
  }

  .arrow-icon {
    font-size: 14px;
  }
}

.card-header button {
  color: white;
  box-shadow: none;
  text-decoration: none;
  font-size: 1.05rem;
  letter-spacing: 0.2px;
  height: 100%;
}

.card-body ul {
  padding: 0 .75rem;
}

.card-body li {
  padding-bottom: 0.5rem;
}

.t-c-link {
  margin: 10px 0;
  color: #ffcc00;
  padding: 1rem 0.5rem;
  cursor: pointer;
}

#terms-modal.modal {
  display: block;
}

#terms-modal .heading {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  background: white;
  width: 100%;
  height: 25px;
  top: -1px;
}

.heading h3 {
  font-weight: bold;
}

#terms-modal .popup {
  height: 100%;
  overflow: auto;
}

#terms-modal .terms {
  margin-top: 45px;
  padding-bottom: 45px;
}

.close-btn {
  position: absolute;
  right: 10px;
  color: red;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
}

.popup .terms .terms-content {
  text-align: left;
  margin: 0 10px;
}

.popup .terms .terms-content div {
  margin: 0 5px;
  text-align: justify;
}

.popup .terms div .oddTerms {
  margin: -2px;
}

.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.faq-back-button {
  cursor: pointer;
}

#modal-dialog-margin {
  margin-top: 0;
}

.tnc-content .tnc-content-1 {
  padding: 5px;
}

.tnc-content-2 {
  padding: 0 15px;
}

.close-btn-2 img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: #495f88;
}

/* } */