<div id="main-header-container" class="main-header-container" *ngIf="isStandAlone">
    <div class="header-container">
        <div *ngIf="!hideBackButton" (click)="onBackButtonClicked()" class="header-container-back-button">
            <div>
                {{"<"}}
            </div>
        </div>
        <div *ngIf="hideBackButton" style="width: 30px;"></div>
        <div>{{gameCode | uppercase}}</div>
        <div>
            <div class="text-center">Balance</div>
            <div>{{currencySymbol}}{{balance}}
            </div>
        </div>
    </div>
</div>
<div id="preloader">
    <div class="preloader-back-button">
        <!-- <div class="back-btn">
            <img (click)="navigateToLobby(true)" src="../assets/images/backBtn.png">
        </div> -->
    </div>
    <div class="preloader-img text-center">
        <img [src]="preloaderImg" id="preload-img">

    </div>
    <div id="tips" class="tips" *ngIf="tipsData && !_isBetyetuPlatform">
        <p id="tip" class="tip"></p>
    </div>
    <div class="preloader-bar-box" id="preloader-bar-box">
        <div class="loading-text">
            <div>{{textConfig ? textConfig.loading : "Loading"}}</div>
            <div class="loading-dots">
                <span></span>
            </div>
        </div>
        <!-- <div class="preloader-bar">
            <div class="progress">
                <div id="progress-bar" class="progress-bar bg-warning" role="progressbar" aria-valuenow="0"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar-loading text-center">
                        LOADING
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="menu" id="penalty-shootout-menu" *ngIf="showMenu">
    <div class="menu-container">
        <div class="game_logo">
            <img src="{{'assets/images/' + psTitleImage + '.png'}}" alt="">
        </div>
        <div class="game_buttons">
            <div *ngIf="!showPlayForFreeOption" class="play_for_free">
                <button (click)="onFreePlayClicked()"  [ngStyle]="playForFreeBgColor && { 'background-color': playForFreeBgColor }">{{buttonConfig.playForFree}}</button>
            </div>
            <div class="play_for_cash" *ngIf="showCashOption">
                <button (click)="onCashPlayClicked()"  [ngStyle]="playForCashBgColor && { 'background-color': playForCashBgColor }">{{buttonConfig.playForCash}}</button>
            </div>
            <div class="play_for_cash" *ngIf="showPlayOption">
                <button (click)="onCashPlayClicked()"  [ngStyle]="playForCashBgColor && { 'background-color': playForCashBgColor }">{{buttonConfig.playForCoins}}</button>
            </div>
            <div class="how_to_play" *ngIf="!howToPlayBg">
                <button (click)="onHowToPlayClicked()">{{buttonConfig.howToPlay}}</button>
            </div>
            <div class="results">
                <button (click)="onResultsClicked()" [ngStyle]="resultBgColor && { 'background-color': resultBgColor }">{{buttonConfig.results}}</button>
            </div>
            <div class="how_to_play_link" *ngIf="howToPlayBg">
                <a (click)="onHowToPlayClicked()">{{buttonConfig.howToPlay}}</a>
            </div>
            <div class="terms_and_faq" *ngIf="!termsAndConditionsBg">
                <button (click)="onTermsClicked()">{{buttonConfig.termsAndFaqs}}</button>
            </div>
            <div class="terms_and_faq_link" *ngIf="termsAndConditionsBg">
                <a (click)="onTermsClicked()">{{buttonConfig.termsAndFaqs}}</a>
            </div>
        </div>
        <div style="height: 10%;"></div>
    </div>
</div>
<router-outlet></router-outlet>
<iframe [ngClass]="{'standalone-class': isStandAlone}" id="iframeElement" width="100%" height="100%" frameBorder="0" [src]="iframeUrl"></iframe>
<span id="penaltyshootout" [class.enableHeight]='showPopup'>
    <!-- <iframe id="iframeElement" width="100%" height="100%" frameBorder="0" [src]="iframeUrl"></iframe>
    <div [ngClass]="{'show-component': howtoplaycomponent == true, 'hide-component': howtoplaycomponent == false}">
        <app-howtoplaypenaltyshootout></app-howtoplaypenaltyshootout>
    </div>
    <div [ngClass]="{'show-component': resultcomponent == true, 'hide-component': resultcomponent == false}">
        <app-resultpenaltyshootout></app-resultpenaltyshootout>
    </div>
    <div [ngClass]="{'show-component': leaderboardcomponent == true, 'hide-component': leaderboardcomponent == false}">
        <app-leaderboardpenaltyshootout></app-leaderboardpenaltyshootout>
    </div>
    <div [ngClass]="{'show-component': faqcomponent == true, 'hide-component': faqcomponent == false}">
        <app-faqpenaltyshootout></app-faqpenaltyshootout>
    </div> -->
    <div class="modal show" *ngIf="showPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="popup">
                    <div class="heading" *ngIf="!showShabikiTrialAlert">
                        <h3>{{cashTournamentPlay ? cashTournamentPlay.pleaseEnterUsername : "PLEASE ENTER USERNAME"}}<span class="close-btn" (click)="closePopup()">X</span></h3>

                    </div>
                    <div class="info" *ngIf="!showShabikiTrialAlert">
                        <h4>{{cashTournamentPlay ? cashTournamentPlay.weeklyFreePlayLeaderboard : "WEEKLY FREE TO PLAY LEADERBOARD"}}</h4>
                        <p class="nickname">{{cashTournamentPlay ? cashTournamentPlay.chooseNickname : "Choose your nickname which will be displayed in our leaderboards for your chance to win some great prizes"}}</p>
                        <div class="input-username">
                            <input type="text" name="" id="" class="player_name"
                                placeholder="{{textConfig.pleaseEnterUserName}}" [(ngModel)]="username" maxlength="16" />
                        </div>
                    </div>
                    <!-- <div class="info" *ngIf="(showShabikiTrialAlert && enableFreePlayCondition)">
                        <h5 *ngIf="_isShabikiPlatform">
                            You will need to have bet {{currencyCode}} 100 this week in order to qualify to play for the free play competition
                        </h5>
                        <h5 *ngIf="_isBetyetuPlatform || _isPlayabetPlatform">
                            You will need to have placed at least one cash bet this week to qualify for this free to play competition.
                        </h5>
                    </div> -->
                    <div class="submit_btn">
                        <!-- <button [disabled]="!username || isButtonDisabled" class="submit" [ngClass]="isButtonDisabled ? 'btn-disabled' : ''" -->
                        <button class="submit" (click)="onDisplayNameChosen()">
                            <span *ngIf="!showShabikiTrialAlert">{{buttonConfig ? buttonConfig.submit : "SUBMIT"}}</span>
                            <span *ngIf="showShabikiTrialAlert">OK</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showGenericPopup" id="generic-popup" class="modal show" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: rgba(0,0,0,0.2);">
                <div class="modal-header">
                    Message
                </div>
                <div class="modal-body" id="modal-body">
                    <p class="text-center">
                        {{genericErrorMessage}}
                    </p>
                </div>
                <div class="text-center" data-dismiss="modal">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="showGenericPopup=!showGenericPopup">CLOSE</button>
                    <br>
                </div>
            </div>
        </div>
    </div>