.sbk_font_orange_primary {
  color: #ff6600 !important;
}

.main-header-container{
  background: black;
  color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  max-width: 767px;
}

.header-container-back-button{
  padding: 7px 10px 4px 10px;
  border: 1px solid;
  font-size: 18px;
  cursor: pointer;
  /* visibility: hidden; */
}

.sbk_bg_orange_primary {
  background-color: #ff6600 !important;
}

.sbk_font_blue_primary {
  color: #0006f3 !important;
}

.sbk_bg_blue_primary {
  background-color: #0006f3 !important;
}

.sbk_font_grey_primary {
  color: #dadcd3 !important;
}

.sbk_bg_grey_primary {
  background-color: #dadcd3 !important;
}


.sbk_font_yellow_secondary {
  color: #ffff00 !important;
}

.sbk_bg_yellow_secondary
 {
  background-color: #ffff00 !important;
}

.sbk_font_green_secondary {
  color: #a6ff00 !important;
}

.sbk_bg_green_secondary
 {
  background-color: #a6ff00 !important;
}

.sbk_font_violet_secondary
 {
  color: #a626ff !important;
}

.sbk_bg_violet_secondary
 {
  background-color: #a626ff !important;
}

.sbk_font_ruby_red_secondary
 {
  color: #ff0099 !important;
}

.sbk_bg_ruby_red_primary {
  background-color: #ff0099 !important;
}

@font-face {
  font-family: lalezar-Regular;
  src: url("../../assets/fonts/lalezar-Regular.ttf");
}

body {
  max-width: 500px;
  margin: 0 auto;
}

iframe #gameStage {
  background: white !important;
  max-width: 500px;
  max-height: 636px;
}

#preloader {
  /* background-color: #29294c; */
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: 500px;
  background-size: cover;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.loading-text {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.loading-text > div {
  display: inline-block;
}

.loading-dots {
  width: 50px;
  text-align: left;
}

.loading-text span:before {
  animation: dots 2s linear infinite;
  content: "";
}

@keyframes dots {
  0%,
  20% {
    content: ".";
  }

  40% {
    content: "..";
  }

  60% {
    content: "...";
  }

  90%,
  100% {
    content: "";
  }
}

.preloader-bar-box {
  margin: 1.5rem 1.5rem 4rem 1.5rem;
}

.preloader-bar {
  background-image: url("../../assets/images/pspreloaderbar.png");
  /* margin: 15px; */
  border-radius: 0.25rem;
}

.progress {
  height: 3rem;
  background-color: black;
  border-radius: 0.4rem;
  /* padding: 5px; */
  font-weight: bold;
  font-size: 1rem;
  border: 4px solid black;
}

.progress-bar-loading {
  position: absolute;
  left: 0;
  right: 0;
}

.preloader-back-button img {
  height: 50px;
  cursor: pointer;
}

.preloader-back-button .back-btn {
  padding: 10px;
}

.preloader-img img{
  max-width: 250px;
}

.tip {
  margin: 0;
  color: white;
  font-size: 0.95rem;
}

.tips {
  padding: 10px;
  text-align: center;
  background: #2c384f;
  margin: 15px;
  border-radius: 5px;
}

.menu {
  background: url("../../assets/images/splashScreen_BG.jpg");
  height: 100%;
  background-size: 100% 100%;
  position: fixed;
  width: 100%;
  max-width: 500px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.enableHeight {
  height: 100%;
}

.game_logo {
  text-align: center;
}

.game_logo img {
  width: 186px;
  margin-top: 12%;
}

.game_buttons {
  text-align: center;
}

.menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.game_buttons div {
  margin-bottom: 11px;
}

.game_buttons button {
  color: white;
  font-size: 2rem;
  width: 80%;
  border-radius: 5px;
  border-color: transparent;
  height: 55px;
  line-height: 58px;
}

.play_for_cash button {
  color: #2b3950;
  background-color: #f1d205;
}

.play_for_free button {
  background-color: #3466c7;
}

.how_to_play button,
.results button,
.terms_and_faq button {
  background-color: #2c3850;
}

.how_to_play_link {
  margin-top: 10%;
}
.terms_and_faq_link a,.how_to_play_link a {
  text-decoration: underline;
  font-size: 20px;
  color: #9BBAFF;
  cursor: pointer;
  background-color: transparent;
}

.terms_and_faq_link a:hover,.how_to_play_link a:hover {
  color: #0056b3;
}

@media (max-width: 320px) {
  .play_for_cash button,
  .play_for_free button,
  .how_to_play button,
  .results button,
  .terms_and_faq button {
    font-size: 18px;
  }
}

.pick-10-card {
  background: url("../../assets/images/bigbannerblue.png") no-repeat center;
  background-size: 101%;
  padding: 10px;
  color: white;
}

.p10c-head-1 {
  color: #fc0;
  font-weight: bold;
  font-size: 1.75em;
  font-family: "HelveticaNeueLTStd-Bd";
  padding: 5px 5px 0 5px;
}

.p10c-head-2 {
  font-weight: bold;
  font-size: 1.1em;
  padding: 0 5px;
}

.p10c-head-3 {
  font-size: 0.9em;
  padding: 5px 5px 0 5px;
}

.p10c-head-4 {
  color: #fc0;
  font-weight: bold;
  font-size: 2.5em;
  padding: 10px 5px;
}

.p10c-head-4 span:first-child {
  font-size: 1.5rem;
  padding-right: 5px;
}

.p10c-head-4 span:nth-child(2) {
  font-family: "HelveticaNeueLTStd-Bd";
}

.pick-10-card-2 {
  display: flex;
  justify-content: space-between;
  color: white;
  background: #16165a;
  font-size: 1.5em;
  font-weight: bold;
  padding: 4% 2%;
}

.pick-10-card-2 .p10c2-head-2 {
  font-size: 0.5em;
  font-weight: initial;
}

.p10c2-head-2 .btn {
  background: red;
  font-size: 1em;
  color: white;
  padding: 0.01rem 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  width: 29%;
}

li a {
  display: block;
  text-align: center;
  padding: 5px 2px;
  color: black;
  text-decoration: none;
  font-size: 13px;
}

li:hover,
li.active {
  font-weight: bold;
}

li:hover a span,
li.active a span {
  background: #16165a;
  color: white;
  border-radius: 20px;
  padding: 5px;
}

.pick-10-nav {
  padding: 3% 1%;
  background: #dbddf7;
}

li:first-child {
  width: 28%;
}

li:nth-child(3) {
  width: 12%;
}

li:nth-child(4) {
  width: 31%;
}

.pick10-score-card {
  background: #29294c;
  color: white;
  font-size: 0.8em;
}

.last-over {
  display: flex;
  justify-content: space-between;
}

.run-rate {
  padding-top: 5px;
}

.last-overs span {
  padding: 5px;
}

.last-over,
.last-overs {
  padding: 5px 10px;
}

.circle {
  display: inline-block;
  line-height: 0px;
  border-radius: 50%;
  font-size: 12px;
  margin: 0 5px;
  height: 25px;
  width: 25px;
  text-align: center;
}

.circle span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin: 0 auto;
}

.boundary {
  background: #4cabf3;
  color: white;
}

.run {
  background: white;
  color: blue;
}

.wicket {
  background: red;
  color: white;
  margin-right: 8px;
}

.light-text,
th {
  color: #7881c3;
}

.total-score span {
  font-size: 0.7em;
}

th {
  font-weight: normal;
}

th:not(:first-child),
td:not(:first-child) {
  text-align: right;
}

th,
td {
  padding: 0.1rem 0.75rem;
}

.table {
  color: white;
  margin-bottom: 0;
}

.current-player {
  color: #fc0;
}

#iframeElement {
  display: none;
  margin: 0 auto;
  max-width: 500px;
}

#iframeElement.standalone-class {
  margin-top: 40px;
}

.bet-class {
  display: flex;
  justify-content: space-evenly;
  background-color: #dedede;
}

.symbol-bet {
  margin: 2% 0;
  font-size: 10px;
}

.bet-class .btn {
  background: white;
  font-size: 0.8rem;
}

.bet-class .play-button {
  width: 10rem;
}

.bet-class .play-button-enabled {
  background-color: #badaba;
  color: #2cbf2c;
  border: 1px solid #0fcc0f;
  font-weight: bold;
}

.bet-class .play-button-disabled {
  background: #4a4444;
  border: darkgrey;
  color: #2cbf2c;
  font-weight: bold;
}

.button-selected {
  background: #fc0 !important;
}

#iframeElement html {
  overflow: hidden;
}

#pick-10-bet .symbol-bet:last-child {
  margin-left: 5%;
}

.bet-class input {
  width: 100px;
}

#penaltyshootout {
  height: 100%;
  /* background: url("../../assets/images/splashScreen_BG.jpg");
  background-size: contain; */
}

@media (min-width: 500px) {
  li {
    width: 25% !important;
  }

  li a {
    font-size: 16px;
    padding: 14px 5px;
  }

  li.active a span,
  li:hover a span {
    padding: 10px;
    border-radius: 30px;
  }

  #pick-10-bet .symbol-bet:last-child {
    margin-left: 20%;
  }
}

.show-component {
  display: block;
}

.hide-component {
  display: none;
}

.popup {
  background-color: #2c384f;
  border-radius: 5px;
}

.heading {
  align-items: center;
  height: 30px;
  padding-top: 5px;
  border-bottom: 1px solid white;
  justify-content: center;
}

.heading h3 {
  text-align: center;
}

.close-btn {
  color: #e70f0f;
  font-weight: 400;
  font-size: smaller;
  float: right;
  padding-right: 10px;
  cursor: pointer;
}

h3,
h4 {
  font-family: "lalezar-Regular";
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

.heading h3 {
  font-size: 24px;
  font-weight: 200;
}

.info h4 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 200;
}

.info h5 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  color: #fff;
}

.nickname {
  font-family: "lalezar-Regular";
  font-size: 14px;
  color: beige;
  text-align: center;
  line-height: 14px;
  margin-top: 15px;
}

.input-username {
  text-align: center;
  margin-top: 10px;
}

input[type="text"] {
  font-family: "lalezar-Regular";
  color: #707780;
  font-size: 17px;
  height: 45px;
  font-weight: 500;
  line-height: 28px;
}

.player_name {
  padding: 10px;
  width: 85%;
  border-radius: 5px;
}

.submit {
  font-family: "lalezar-Regular";
  background: #f1d205;
  width: 80%;
  font-size: 42px;
  border-radius: 7px;
  color: #2c3850;
  height: 52px;
  line-height: 55px;
}

.submit_btn {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 10px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  background-color: transparent !important;
}

.modal:not(.show) {
  opacity: 0;
}

.btn-disabled {
  background: rgba(241, 210, 5, 0.5);
}

#generic-popup {
  color: white;
}

#generic-popup .modal-header {
    justify-content: center;
    font-size: 1.2rem;
}

#generic-popup .modal-body {
    font-weight: 600;
    font-size: 1.1rem;
}

#generic-popup .btn {
    font-size: 0.8rem;
    background: #50515a;
    margin: 10px;
    border: 0;
}

@media (max-width: 500px) {
  .bet-class input {
    width: 4rem;
  }

  .bet-class .play-button {
    width: 6rem;
  }

  .bet-class .btn {
    font-size: 0.7rem;
    padding: 0.375rem 0.4rem;
  }
}

@media (max-width: 389px) {
  .game_buttons button {
    font-size: 1.5rem;
    width: 90%;
  }
}
