.bet-panel-main-container {
    font-family: 'Nunito-ExtraBold';
}

.lists {
    padding: 0 6px;
}

.form-control {
    height: initial;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.amount.input-padding {
    padding-left: 5px;
}


.multiplier {
    margin: 3px 10px;
    display: flex;
    justify-content: space-between;
}

.info {
    cursor: pointer;
}

.stop-on-loss {
    display: flex;
}

.autocashouttip,
.total_bets_value {
    display: none;
    position: absolute;
    z-index: 1;
    text-align: center;
    background: #E3170A;
    padding: 5px;
    border-radius: 5px;
}

.autocashouttip {
    width: 32%;
}

.bet-select-container,
.bet-select-container-desktop {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.bet-select-container-desktop .list-group-item.new {
    padding: 0.05rem;
}

.bet-select-container-desktop {
    margin: 0 5px 5px;
}

.bet-select-container-desktop .bet-amount-class-autocashout {
    padding: 0px;
}

.auto-panel-mobile .bet-amount-class .currency-symbol {
    font-size: 1rem;
    left: 5px;
}

.bet-select-container-desktop .bet-input-class {
    margin-right: 5px;
}

.bet-select-container-desktop .input-group-autocashout {
    width: 60%;
}

.bet-input-class-auto {
    width: 60%;
}

.bet-input-class-auto input{
    text-align: center;
}

.autocashouttip::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 70%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E3170A transparent transparent transparent;
}

.autocashouttip.autocashouttip-1::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E3170A transparent transparent transparent;
}

.settings-option-desktop {
    display: none;
}

@media (orientation: portrait) {
    .autocashouttip {
        width: 95%;
        top: 530px;
    }
}

@media (min-width: 800px) {
    .multiplier {
        display: none;
    }

    .settings-option-desktop {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    .settings-option-desktop img {
        margin: 0 10px;
    }

    .settings-option-desktop div {
        margin-left: auto;
    }

    .stop-on-profit-container {
        width: 105px;
    }

    .stop-on-profit div:first-child,
    .stop-on-loss {
        align-items: center;
    }
}

ul li a {
    font-size: 0.7rem;
}

.list-group-item.new {
    background: transparent;
    margin-top: 5px;
    padding: 0.05rem 0.65rem;
    border-radius: 5px;
    border-color: transparent;
}

.list-group-item {
    background: #353B49;
    margin-top: 5px;
    padding: 0.05rem 0.65rem;
    border-radius: 5px;
}

.bet-amount-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}

.btn {
    background-color: #495063;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.stop-on-profit div:first-child {
    display: flex;
    justify-content: space-between;
}

.bet-btn {
    display: flex;
    justify-content: space-around;
    font-size: 0.70rem;
}

.bet-btn button {
    background-color: #484F62;
    color: white;
    padding: 2px 10px;
    border-radius: 3px;
    margin-right: 5px;
    border: 0;
}

.bet-btn.new {
    display: flex;
    justify-content: space-between;
    font-size: 0.70rem;
    padding: 4px 0px;
}

.bet-btn.new button {
    background-color: #484F62;
    color: white;
    padding: 0px 10px;
    border-radius: 3px;
    border: 0;
}

.clearable-input {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-group-autocashout {
    background-color: #1d222c;
    width: 40%;
    border-radius: 5px;
    padding: 3px;
}

.multiplier-btn {
    background-color: #484F62;
    color: white;
    padding: 3px 4px;
    border-radius: 3px;
    border: 0;
}

.multiplier-btn.disabled {
    pointer-events: none;
}

.bet-btn {
    display: flex;
    justify-content: space-around;
    font-size: 0.70rem;
}

.main-mobile-class .bet-btn {
    display: flex;
    justify-content: space-between;
    font-size: 0.70rem;
    padding: 5px 0px;
}

.bet-btn button {
    background-color: #484F62;
    color: white;
    padding: 2px 10px;
    border-radius: 3px;
    border: 0;
}

.bet-amount-heading {
    margin: 0 0 -8px 0;
    color: #FBE102;
    font-size: 0.7rem;
}

.stop-on-profit {
    border: 2px solid #F1D205;
}

.amount {
    background-color: transparent;
    border: none;
    padding-left: 0px;
}

.auto-cashout {
    margin-bottom: -5px;
    font-size: 0.7rem;
    color: #FBE102;
}

.auto-cashout-btn {
    position: relative;
    top: -5px;
    background-color: transparent;
    border: none;
    font-size: xx-large;
    color: #59647A;
}

.bet-select-container,
.bet-select-container-desktop {
    background: #353B49;
}

.play_demo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

button.play_demo_btn {
    font-size: 0.70rem;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: 900;
    background: #F1D205;
    height: 32px;
    line-height: 20px;
    cursor: pointer;
}


.main-mobile-class button.play_demo_btn {
    width: 85%;
    height: 30px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.auto-cashout-base-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

input:checked+.slider {
    background-color: #F1D205;
}

input:focus+.slider {
    box-shadow: 0 0 1px #F1D205;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.play_demo_btn_updated {
    font-size: 0.80rem;
    width: 87%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: 900;
    background: #F1D205;
    height: 32px;
    line-height: 20px;
    cursor: pointer;
}

.main-mobile-class .bet-btn button.button-padding-small {
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.main-mobile-class .bet-btn button.button-padding-small-rounds {
    padding-left: 5px;
    padding-right: 5px;
}

.main-mobile-class .bet-btn.bet-btn-small-padding {
    padding: 5px 0px;
}

.show-flex {
    display: flex;
}

button.play_demo_btn.wait-btn.button-disabled-class {
    background-color: #fdfd63;
    opacity: 1;
}

.bet-amount-class-updated {
    margin-top: 7px;
    flex-flow: column;
}

.bet-amount-class-updated .bet-btn button {
    flex: 1;
}

button.play_demo_btn.cashout_btn label {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

button.play_demo_btn.cashout_btn label {
    margin-bottom: 0px;
    cursor: pointer;
}

button.play_demo_btn.wait-btn,
button.auto-bet-btn.wait-btn-auto {
    font-size: 0.7rem;
    line-height: 12px;
    background-color: #fdfd63;
    opacity: 1;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
}

button.auto-bet-btn .auto-bets-remaining {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button.auto-bet-btn .auto-bets-remaining div {
    margin-bottom: 0px;
    cursor: pointer;
}

.bet_amount {
    display: flex;
}

.demo_mode_bet {
    margin-top: 10px;
    text-align: -webkit-center;
}

.padding-small {
    padding: 0.20rem 1rem;
}

button.tooltip_button {
    background: transparent;
    border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #f8f9fa;
    background-color: #292D38;
    border-color: transparent;
}

.nav-link {
    color: white;
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: none;
    margin-top: 5px;
}

.tab-content {
    background-color: #292D38;
}

.bet-btn button.btn-active {
    background-color: #F1D205;
    color: black;
    font-weight: 700;
}

.nav-item {
    width: 50%;
}

.play_modes {
    font-size: 14px;
    text-align: center;
}

.currency-input {
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.currency-input input {
    border: 0;
}

.main-mobile-class .currency-input {
    max-height: 20px;
    font-size: 0.75rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}

.bet-amount-class-updated .currency-input input{
    /* text-align: center; */
    padding: unset;
    width: 50%;
    /* margin-left: 5px; */
}

.auto-panel-mobile .bet-input-class-auto input{
    padding-top: .175rem;
    padding-bottom: .175rem;
}

.bet-amount-class .currency-symbol,
.bet-amount-class-updated .currency-symbol {
    /* position: absolute; */
    left: 5px;
    width: 50%;
    text-align: right;
    padding-right: 2px;
}

.main-mobile-class .currency-symbol {
    font-size: initial;
}

.bet-amount-class .currency-symbol {
    left: 5px;
}

.bet-amount-class-updated .currency-symbol,
.bet-amount-class-updated .currency-input input {
    font-size: 0.800rem;
}

.bet-amount-class-updated .bet-input-class,
.bet-amount-class .bet-input-class {
    background: #212631;
}

.bet-amount-class-updated .bet-input-class {
    border-radius: 5px;
}

.bet-input-class {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    max-height: 28px;
}

.bet-update-button-subtract {
    background: black;
    padding: 3px 9px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    color: white;
}

.bet-update-button-add {
    background: black;
    padding: 3px 9px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    color: white;
}

button.bet-update-button-add:disabled, 
button.bet-update-button-subtract:disabled {
    opacity: 0.6;
}

.currency-input input {
    font-size: 1rem;
    border: 0;
}

button.play_demo_btn.cashout_btn {
    background-color: #57c878;
}

.bet_times {
    display: flex;
    justify-content: center;
}

input.input-padding-mobile {
    padding: 0.02rem;
    padding-left: 7px;
    font-size: 0.95rem;
}

.autopanel-auto-cashout-btn {
    padding-left: 0;
    padding-right: 0;
    font-size: 0.75rem;
}

label.auto-cashout-value-container {
    font-size: 0.70rem;
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-bottom: 0;
}

.waiting-for-next-round-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bg-white {
    background-color: #F4FFFD;
    color: black;
}

.bg-yellow {
    background-color: #F1D205;
    color: black;
}

.bg-green {
    background-color: #3BB273;
}

.bg-orange {
    background-color: #F7B32B;
    color: black;
}

.bg-blue {
    background-color: #4D9DE0;
}

.bg-red {
    background-color: #E3170A;
}

.bg-pink {
    background-color: #FFB6C1;
    color: black;
}

.bg-cream {
    background-color: #FFF5EE;
    color: black;
}

.bet_times span {
    width: 250px;
    font-size: 0.70rem;
    padding: 1px 6px;
    border-radius: 3px;
    margin: 0 5px;
}

.bet-btn .active, .bet-btn.new .active {
    background-color: #F1D205;
    color: black !important;
    font-weight: 700;
}

.update-button-disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
}

.bet-amount-class.bet-amount-class-autocashout{
    max-width: 155px;
}

.multiplier-btn.active {
    background-color: #F1D205;
    color: black !important;
    font-weight: 700;
}

input {
    font-size: large;
    color: white !important;
    font-weight: bold !important;
}

input.amount:focus {
    outline: none;
}

.leaderboard {
    margin-top: 10px;
}

.valid_amount_tooltip {
    position: absolute;
    top: 0;
    background: #972018;
    padding: 2px;
    border-radius: 5px;
}

@media (max-width: 361px) {
    .multiplier {
        margin: 3px;
    }

    .multiplier .bet_times span {
        padding-left: 3px;
        padding-right: 3px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
                    only screen and (min--moz-device-pixel-ratio: 2),
                    only screen and (-o-min-device-pixel-ratio: 2/1),
                    only screen and (min-device-pixel-ratio: 2)
{  
    .bet-amount-class-updated .currency-input input, .bet-amount-class-updated .currency-symbol{
        font-size: 0.725rem;
    }
}

.bet-amount-class-updated .currency-input.betyetu-font-style input,
.bet-amount-class-updated .currency-input.betyetu-font-style .currency-symbol {
    font-size: 0.725rem;
}

.bet-amount-class-updated .currency-input.betyetu-font-style input {
    margin-left: 10px;
}

.bet-amount-class-updated .currency-input.betyetu-font-style .currency-symbol {
    left: 2px;
}