<div class="bet-panel-main-container">

  <div id="previous-multipliers" class="multiplier text-white">
    <div class="bet_times">
      <div *ngFor="let item of multiplierData;let i = index">
        <span *ngIf="i <= numberOfPrevMultipliers" [ngClass]="getClassOf(item.multiplier)">
          {{item.multiplier | number : '1.2-2'}}
        </span>
      </div>
    </div>
    <div class="info" (click)="onInfoClicked()">
      <img width="20px" height="20px" src="assets/images/infoBtn.png" alt="" srcset="">
    </div>
  </div>
  <div class="settings-option-desktop">
    <img width="25px" src="assets/images/defender_icon.png" alt="">
    <h3 style="font-family: 'Nunito-ExtraBold'; margin: 0;">DEFENDER</h3>
    <div style="width: 25px;"></div>
  </div>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem (click)="activateBetPanel('manual')">
      <a ngbNavLink class="padding-small">{{buttonConfig ? buttonConfig.manual : "MANUAL"}}</a>
      <ng-template ngbNavContent *ngIf="isMobile" class="main-mobile-class">
        <div class="show-flex">
          <div class="bet-select-container">
            <div class="lists">
              <div class="list-group">
                <div class="list-group-item new flex-column align-items-start">
                  <div style="margin-bottom: -5px;">
                    <p class="bet-amount-heading">{{inputConfig ? inputConfig.betAmount : "Bet Amount"}}</p>
                  </div>
                  <div class="bet-amount-class-updated">
                    <!-- <div *ngIf="showTooltip" class="valid_amount_tooltip">
                      {{textConfig.enterValidAmountUnder ? textConfig.enterValidAmountUnder : "Enter a valid amount under"}} {{maxBet}}
                    </div> -->
                    <div class="bet-input-class">
                      <button class="bet-update-button-subtract"
                        [disabled]="incrementDecrementButton.disableFirstDecrementButton || isFirstBetButtonwaitingForNextRound"
                        (click)="updateBetValue(false, true, -10)"> - </button>
                      <div class="input-group">
                        <div class="currency-input" [ngClass]="{'betyetu-font-style': isBetyetu}">
                          <div class="currency-symbol">
                            {{currencySymbol}}
                          </div>
                          <input type="number" (keydown)="checkNumber($event)" class="form-control amount input-padding"
                            aria-label="Amount (to the nearest dollar)" maxlength="5" placeholder="0.00" style="line-height: 1;"
                            [(ngModel)]="firstBetAmount" (ngModelChange)="betAmountChange($event, true)" [disabled]="isFirstBetButtonDisabled || isFirstBetButtonwaitingForNextRound">
                        </div>
                      </div>
                      <button class="bet-update-button-add"
                        [disabled]="incrementDecrementButton.disableFirstIncrementButton || isFirstBetButtonwaitingForNextRound"
                        (click)="updateBetValue(false, true, 10)"> + </button>
                    </div>

                    <div class="bet-btn new" [ngClass]="{'bet-btn-small-padding': !configService.configData.isMobile}">
                      <button class="text-white times-btn"
                        [ngClass]="{active : updatedBetAmountTypeObject.firstBetAmountType == 25}"
                        [disabled]="isFirstBetButtonDisabled || isFirstBetButtonwaitingForNextRound"
                        (click)="updateBetAmount(25, true)">25</button>
                      <button class="text-white times-btn"
                        [ngClass]="{active : updatedBetAmountTypeObject.firstBetAmountType == 50}"
                        [disabled]="isFirstBetButtonDisabled || isFirstBetButtonwaitingForNextRound"
                        (click)="updateBetAmount(50, true)" style="margin: 0 5px;">50</button>
                      <button class="text-white times-btn"
                        [ngClass]="{active : updatedBetAmountTypeObject.firstBetAmountType == 100}"
                        [disabled]="isFirstBetButtonDisabled || isFirstBetButtonwaitingForNextRound"
                        (click)="updateBetAmount(100, true)">100</button>
                    </div>
                  </div>

                </div>
                <div class="list-group-item new flex-column align-items-start">
                  <div class="auto-cashout-base-header">
                    <p class="auto-cashout">{{inputConfig ? inputConfig.autoCashout :"Auto Cashout"}}</p>
                    <label class="switch">
                      <input type="checkbox" [(ngModel)]="sliderValueObject.sliderValue1">
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="bet-amount-class bet-amount-class-autocashout" *ngIf="sliderValueObject.sliderValue1">
                    <div class="input-group input-group-autocashout">
                      <span class="auto-cashout-input">
                        <input type="number" (keydown)="checkNumber($event)"
                          class="form-control amount input-padding-mobile" aria-label="Amount (to the nearest dollar)"
                          maxlength="4" placeholder="0.00" [(ngModel)]="firstCashOut"
                          (ngModelChange)="cashOutChange($event)" [disabled]="incrementDecrementButton.disableFirstIncrementButton || isFirstBetButtonwaitingForNextRound">
                      </span>
                      <span (click)="onCloseBtnClicked(true, false)" class="clearable-input">
                        &times;
                      </span>
                    </div>
                    <div class="multiplier-btn"
                      [ngClass]="{active : updatedCashoutMultiplierObject.firstMultiplierType == 5, 'disabled': (incrementDecrementButton.disableFirstIncrementButton || isFirstBetButtonwaitingForNextRound)}"
                      (click)="changeCashoutMultiplier(5, true, false)">5X</div>
                    <div class="multiplier-btn"
                      [ngClass]="{active : updatedCashoutMultiplierObject.firstMultiplierType == 10, 'disabled': (incrementDecrementButton.disableFirstIncrementButton || isFirstBetButtonwaitingForNextRound)}"
                      (click)="changeCashoutMultiplier(10, true, false)">10X</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="play_demo">
              <button *ngIf="showBetAmountFirstBetButton" class="btn play_demo_btn"
                [ngClass]="{'wait-btn' : isFirstBetButtonwaitingForNextRound, 'button-disabled-class': isFirstBetButtonDisabled && !firstBetButtonCashedOut, 'play_demo_btn_updated': configService.configData.isMobile}"
                (click)="onBetPlaced(true)" [disabled]="isFirstBetButtonDisabled && !firstBetButtonCashedOut">
                <div *ngIf="!isFirstBetButtonwaitingForNextRound" class="manual-bet-btn">
                  {{"BET 1"}}
                </div>
                <div *ngIf="isFirstBetButtonwaitingForNextRound" class="waiting-for-next-round-container">
                  <img width="40" height="40" src="assets/images/spinner.svg" alt="" />

                  {{currencySymbol + " " + nextRoundBetForFirstBetInput + " " + (buttonConfig.betPlacedFor ?
                  buttonConfig.betPlacedFor : "BET PLACED FOR NEXT ROUND")}}
                  <div style="width: 10px;"></div>
                </div>
                <div *ngIf="showBetPlacedTextForFirstButton" class="manual-bet-btn">
                  &nbsp;{{buttonConfig.placed ? buttonConfig.placed : "PLACED"}}
                </div>
              </button>
              <button *ngIf="showCashOutFirstBetButton" class="btn play_demo_btn cashout_btn" (click)="onCashOut(true)">
                <label for="">
                  <span>
                    {{buttonConfig ? buttonConfig.cashout : "CASH OUT"}}
                  </span>
                  <span>
                    {{currencySymbol}} {{currentCashOutValueObject.firstCashoutValue}}
                  </span>
                </label>
                <!-- <div style="width:100px; text-align:right; padding-right: 10px">{{"$" + (lastBetAmount * score /
                  10000).toFixed(2)}}</div>
                <div style="width:100px; text-align:left"> CASHOUT</div> -->
              </button>
            </div>
          </div>

          <div class="bet-select-container" *ngIf="isCertification">
            <div class="lists">
              <div class="list-group">
                <div class="list-group-item new flex-column align-items-start">
                  <div style="margin-bottom: -5px;">
                    <p class="bet-amount-heading">{{inputConfig ? inputConfig.betAmount : "Bet Amount"}}</p>
                  </div>
                  <div class="bet-amount-class-updated">
                    <!-- <div *ngIf="showTooltip" class="valid_amount_tooltip">
                      {{textConfig.enterValidAmountUnder ? textConfig.enterValidAmountUnder : "Enter a valid amount under"}} {{maxBet}}
                    </div> -->
                    <div class="bet-input-class">
                      <button class="bet-update-button-subtract"
                        [disabled]="incrementDecrementButton.disableSecondDecrementButton || isSecondBetButtonwaitingForNextRound"
                        (click)="updateBetValue(false, false, -10)"> - </button>
                      <div class="input-group">
                        <div class="currency-input" [ngClass]="{'betyetu-font-style': isBetyetu}">
                          <div class="currency-symbol">
                            {{currencySymbol}}
                          </div>
                          <input type="number" (keydown)="checkNumber($event)" class="form-control amount input-padding"
                            aria-label="Amount (to the nearest dollar)" maxlength="5" placeholder="0.00"
                            [(ngModel)]="secondBetAmount" [disabled]="disableSecondInput"
                            (ngModelChange)="betAmountChange($event, false)" [disabled]="incrementDecrementButton.disableSecondDecrementButton || isSecondBetButtonwaitingForNextRound">
                        </div>
                      </div>
                      <button class="bet-update-button-add"
                        [disabled]="incrementDecrementButton.disableSecondIncrementButton || isSecondBetButtonwaitingForNextRound"
                        (click)="updateBetValue(false, false, 10)"> + </button>
                    </div>

                    <div class="bet-btn new" [ngClass]="{'bet-btn-small-padding': !configService.configData.isMobile}">
                      <button class="text-white times-btn"
                        [ngClass]="{active : updatedBetAmountTypeObject.secondBetAmountType == 25}"
                        [disabled]="isSecondBetButtonDisabled || isSecondBetButtonwaitingForNextRound"
                        (click)="updateBetAmount(25, false)" [disabled]="disableSecondInput ">25</button>
                      <button class="text-white times-btn"
                        [ngClass]="{active : updatedBetAmountTypeObject.secondBetAmountType == 50}"
                        [disabled]="isSecondBetButtonDisabled || isSecondBetButtonwaitingForNextRound"
                        (click)="updateBetAmount(50, false)" [disabled]="disableSecondInput"
                        style="margin: 0 5px;">50</button>
                      <button class="text-white times-btn"
                        [ngClass]="{active : updatedBetAmountTypeObject.secondBetAmountType == 100}"
                        [disabled]="isSecondBetButtonDisabled || isSecondBetButtonwaitingForNextRound"
                        (click)="updateBetAmount(100, false)" [disabled]="disableSecondInput">100</button>
                    </div>
                  </div>


                </div>
                <div class="list-group-item new flex-column align-items-start">
                  <div class="auto-cashout-base-header">
                    <p class="auto-cashout">{{inputConfig ? inputConfig.autoCashout :"Auto Cashout"}}</p>
                    <label class="switch">
                      <input type="checkbox" [(ngModel)]="sliderValueObject.sliderValue2">
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="bet-amount-class bet-amount-class-autocashout" *ngIf="sliderValueObject.sliderValue2">
                    <div class="input-group input-group-autocashout">
                      <span class="auto-cashout-input">
                        <input type="number" (keydown)="checkNumber($event)"
                          class="form-control amount input-padding-mobile" aria-label="Amount (to the nearest dollar)"
                          maxlength="4" placeholder="0.00" [(ngModel)]="secondCashOut" [disabled]="disableSecondInput"
                          (ngModelChange)="cashOutChange($event)">
                      </span>
                      <span (click)="onCloseBtnClicked(false, false)" class="clearable-input">
                        &times;
                      </span>
                    </div>
                    <div class="multiplier-btn"
                      [ngClass]="{active : updatedCashoutMultiplierObject.secondMultiplierType == 5,'disabled': (incrementDecrementButton.disableSecondDecrementButton || isSecondBetButtonwaitingForNextRound)}"
                      (click)="changeCashoutMultiplier(5, false, false)">5X</div>
                    <div class="multiplier-btn"
                      [ngClass]="{active : updatedCashoutMultiplierObject.secondMultiplierType == 10, 'disabled': (incrementDecrementButton.disableSecondDecrementButton || isSecondBetButtonwaitingForNextRound)}"
                      (click)="changeCashoutMultiplier(10, false, false)">10X</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="play_demo">
              <button *ngIf="showBetAmountSecondBetButton" class="btn play_demo_btn"
                [ngClass]="{'wait-btn' : isSecondBetButtonwaitingForNextRound, 'button-disabled-class': isSecondBetButtonDisabled && !secondBetButtonCashedOut}"
                (click)="onBetPlaced(false)" [disabled]="isSecondBetButtonDisabled && !secondBetButtonCashedOut">
                <div *ngIf="!isSecondBetButtonwaitingForNextRound" class="manual-bet-btn">
                  {{"BET 2"}}
                </div>
                <div *ngIf="isSecondBetButtonwaitingForNextRound" class="waiting-for-next-round-container">
                  <img width="40" height="40" src="assets/images/spinner.svg" alt="" />

                  {{currencySymbol + " " + nextRoundBetForSecondBetInput + " " + (buttonConfig.betPlacedFor ?
                  buttonConfig.betPlacedFor : "BET PLACED FOR NEXT ROUND")}}
                  <div style="width: 10px;"></div>
                </div>
                <div *ngIf="showBetPlacedTextForSecondButton" class="manual-bet-btn">
                  &nbsp;{{buttonConfig.placed ? buttonConfig.placed : "PLACED"}}
                </div>
              </button>
              <button *ngIf="showCashOutSecondBetButton" class="btn play_demo_btn cashout_btn"
                (click)="onCashOut(false)">
                <label for="">
                  <span>
                    {{buttonConfig ? buttonConfig.cashout : "CASH OUT"}}
                  </span>
                  <span>
                    {{currencySymbol}} {{currentCashOutValueObject.secondCashoutValue}}
                  </span>
                </label>
                <!-- <div style="width:100px; text-align:right; padding-right: 10px">{{"$" + (lastBetAmount * score /
                  10000).toFixed(2)}}</div>
                <div style="width:100px; text-align:left"> CASHOUT</div> -->
              </button>
            </div>
          </div>
        </div>


      </ng-template>
      <ng-template ngbNavContent *ngIf="!isMobile" class="main-desktop-class">
        <div>
          <div style="display: flex; flex-direction: column;">
            <div class="lists">
              <div class="list-group">
                <div class="list-group-item flex-column align-items-start">
                  <div style="margin-bottom: -5px;">
                    <p class="bet-amount-heading">{{inputConfig ? inputConfig.betAmount : "Bet Amount"}}</p>
                  </div>
                  <div class="bet-amount-class">
                    <!-- <div *ngIf="showTooltip" class="valid_amount_tooltip">
                      {{textConfig.enterValidAmountUnder ? textConfig.enterValidAmountUnder : "Enter a valid amount under"}} {{maxBet}}
                    </div> -->
                    <div class="input-group">
                      <span class="currency-input">{{currencySymbol}}
                        <input type="number" (keydown)="checkNumber($event)" class="form-control amount input-padding"
                          aria-label="Amount (to the nearest dollar)" maxlength="5" placeholder="0.00"
                          [(ngModel)]="firstBetAmount" (ngModelChange)="betAmountChange($event, true)">
                      </span>
                    </div>

                    <div class="bet-btn">
                      <button class="text-white times-btn" [ngClass]="{active : firstMultiplyBtnType == 'half'}"
                        (click)="multiplyBetAmount('half', true)" [disabled]="disableFirstInput ">1/2</button>
                      <button class="text-white times-btn" [ngClass]="{active : firstMultiplyBtnType == 'twice'}"
                        (click)="multiplyBetAmount('twice', true)">2x</button>
                      <button class="text-white times-btn" [ngClass]="{active : firstMultiplyBtnType == 'max'}"
                        (click)="multiplyBetAmount('max', true)">MAX</button>
                    </div>
                  </div>

                </div>
                <div class="list-group-item flex-column align-items-start">
                  <div style="display: flex; align-items: baseline;">
                    <p class="auto-cashout">{{inputConfig ? inputConfig.autoCashout :"Auto Cashout"}}</p>
                    <button type="button" class="tooltip_button" placement="top" ngbTooltip="{{ngbToolTipTextInfo1}}"
                      [autoClose]="false" triggers="click:blur">
                      <img width="15px" height="15px" src="assets/images/infoIcon_normal.png" alt="">
                    </button>
                  </div>
                  <div class="bet-amount-class">
                    <div class="input-group">
                      <span class="currency-input">
                        <input type="number" (keydown)="checkNumber($event)"
                          class="form-control amount input-padding-mobile" aria-label="Amount (to the nearest dollar)"
                          maxlength="4" placeholder="0.00" [(ngModel)]="firstCashOut"
                          (ngModelChange)="cashOutChange($event)">
                      </span>
                    </div>

                    <div>
                      <div>
                        <button class="auto-cashout-btn" (click)="onCloseBtnClicked(true, false)">&times;</button>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
            <div class="play_demo">
              <button *ngIf="showBetAmountFirstBetButton" class="btn play_demo_btn"
                [ngClass]="{'wait-btn' : isFirstBetButtonwaitingForNextRound, 'button-disabled-class': isFirstBetButtonDisabled && !firstBetButtonCashedOut}"
                (click)="onBetPlaced(true)" [disabled]="isFirstBetButtonDisabled && !firstBetButtonCashedOut">
                <div *ngIf="!isFirstBetButtonwaitingForNextRound" class="manual-bet-btn">
                  {{buttonConfig ? buttonConfig.bet : "BET"}}
                </div>
                <div *ngIf="isFirstBetButtonwaitingForNextRound" class="waiting-for-next-round-container">
                  <img width="40" height="40" src="assets/images/spinner.svg" alt="" />

                  {{currencySymbol + " " + nextRoundBetForFirstBetInput + " " + (buttonConfig.betPlacedFor ?
                  buttonConfig.betPlacedFor : "BET PLACED FOR NEXT ROUND")}}
                  <div style="width: 10px;"></div>
                </div>
                <div *ngIf="showBetPlacedTextForFirstButton" class="manual-bet-btn">
                  &nbsp;{{buttonConfig.placed ? buttonConfig.placed : "PLACED"}}
                </div>
              </button>
              <button *ngIf="showCashOutFirstBetButton" class="btn play_demo_btn cashout_btn" (click)="onCashOut(true)">
                <label for="">
                  <span>
                    {{buttonConfig ? buttonConfig.cashout : "CASH OUT"}}
                  </span>
                  <span>
                    {{currencySymbol}} {{currentCashOutValueObject.firstCashoutValue}}
                  </span>
                </label>
                <!-- <div style="width:100px; text-align:right; padding-right: 10px">{{"$" + (lastBetAmount * score /
                  10000).toFixed(2)}}</div>
                <div style="width:100px; text-align:left"> CASHOUT</div> -->
              </button>
            </div>
          </div>

          <div style="display: flex; flex-direction: column;" *ngIf="isCertification">
            <div class="lists">
              <div class="list-group">
                <div class="list-group-item flex-column align-items-start">
                  <div style="margin-bottom: -5px;">
                    <p class="bet-amount-heading">{{inputConfig ? inputConfig.betAmount : "Bet Amount"}}</p>
                  </div>
                  <div class="bet-amount-class">
                    <!-- <div *ngIf="showTooltip" class="valid_amount_tooltip">
                      {{textConfig.enterValidAmountUnder ? textConfig.enterValidAmountUnder : "Enter a valid amount under"}} {{maxBet}}
                    </div> -->
                    <div class="input-group">
                      <span class="currency-input">{{currencySymbol}}
                        <input type="number" (keydown)="checkNumber($event)" class="form-control amount input-padding"
                          aria-label="Amount (to the nearest dollar)" maxlength="5" placeholder="0.00"
                          [(ngModel)]="secondBetAmount" [disabled]="disableSecondInput"
                          (ngModelChange)="betAmountChange($event, false)">
                      </span>
                    </div>

                    <div class="bet-btn">
                      <button class="text-white times-btn" [ngClass]="{active : secondMultiplyBtnType == 'half'}"
                        (click)="multiplyBetAmount('half', false)" [disabled]="disableSecondInput ">1/2</button>
                      <button class="text-white times-btn" [ngClass]="{active : secondMultiplyBtnType == 'twice'}"
                        (click)="multiplyBetAmount('twice', false)" [disabled]="disableSecondInput">2x</button>
                      <button class="text-white times-btn" [ngClass]="{active : secondMultiplyBtnType == 'max'}"
                        (click)="multiplyBetAmount('max', false)" [disabled]="disableSecondInput">MAX</button>
                    </div>
                  </div>


                </div>
                <div class="list-group-item flex-column align-items-start">
                  <div style="display: flex; align-items: baseline;">
                    <p class="auto-cashout">{{inputConfig ? inputConfig.autoCashout :"Auto Cashout"}}</p>
                    <button type="button" class="tooltip_button" placement="top" ngbTooltip="{{ngbToolTipTextInfo1}}"
                      [autoClose]="false" triggers="click:blur">
                      <img width="15px" height="15px" src="assets/images/infoIcon_normal.png" alt="">
                    </button>
                  </div>
                  <div class="bet-amount-class">
                    <div class="input-group">
                      <span class="currency-input">
                        <input type="number" (keydown)="checkNumber($event)"
                          class="form-control amount input-padding-mobile" aria-label="Amount (to the nearest dollar)"
                          maxlength="4" placeholder="0.00" [(ngModel)]="secondCashOut" [disabled]="disableSecondInput"
                          (ngModelChange)="cashOutChange($event)">
                      </span>
                    </div>

                    <div>
                      <div>
                        <button class="auto-cashout-btn" (click)="onCloseBtnClicked(false, false)">&times;</button>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
            <div class="play_demo">
              <button *ngIf="showBetAmountSecondBetButton" class="btn play_demo_btn"
                [ngClass]="{'wait-btn' : isSecondBetButtonwaitingForNextRound, 'button-disabled-class': isSecondBetButtonDisabled && !secondBetButtonCashedOut}"
                (click)="onBetPlaced(false)" [disabled]="isSecondBetButtonDisabled && !secondBetButtonCashedOut">
                <div *ngIf="!isSecondBetButtonwaitingForNextRound" class="manual-bet-btn">
                  {{buttonConfig ? buttonConfig.bet : "BET"}}
                </div>
                <div *ngIf="isSecondBetButtonwaitingForNextRound" class="waiting-for-next-round-container">
                  <img width="40" height="40" src="assets/images/spinner.svg" alt="" />

                  {{currencySymbol + " " + nextRoundBetForSecondBetInput + " " + (buttonConfig.betPlacedFor ?
                  buttonConfig.betPlacedFor : "BET PLACED FOR NEXT ROUND")}}
                  <div style="width: 10px;"></div>
                </div>
                <div *ngIf="showBetPlacedTextForSecondButton" class="manual-bet-btn">
                  &nbsp;{{buttonConfig.placed ? buttonConfig.placed : "PLACED"}}
                </div>
              </button>
              <button *ngIf="showCashOutSecondBetButton" class="btn play_demo_btn cashout_btn"
                (click)="onCashOut(false)">
                <label for="">
                  <span>
                    {{buttonConfig ? buttonConfig.cashout : "CASH OUT"}}
                  </span>
                  <span>
                    {{currencySymbol}} {{currentCashOutValueObject.secondCashoutValue}}
                  </span>
                </label>
                <!-- <div style="width:100px; text-align:right; padding-right: 10px">{{"$" + (lastBetAmount * score /
                  10000).toFixed(2)}}</div>
                <div style="width:100px; text-align:left"> CASHOUT</div> -->
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem (click)="activateBetPanel('auto')">
      <a ngbNavLink class="padding-small">{{buttonConfig ? buttonConfig.auto : "AUTOPLAY"}}</a>
      <ng-template ngbNavContent *ngIf="isMobile" class="main-mobile-class">
        <div class="auto" style="display: flex; flex-direction: column;">
          <form [formGroup]="autoBetForm" (ngSubmit)="autoBetFormSubmit($event.submitter.id)">
            <div class="lists" class="auto-panel-mobile">
              <div class="list-group">
                <div class="list-group-item flex-column align-items-start">
                  <div style="margin-bottom: -5px;">
                    <p class="bet-amount-heading">{{inputConfig ? inputConfig.betAmount : "Bet Amount"}}</p>
                  </div>
                  <div class="bet-amount-class">
                    <div class="bet-input-class bet-input-class-auto">
                      <button class="bet-update-button-subtract" id="decrement"
                        [disabled]="incrementDecrementButton.disableAutoDecrementButton || nextRoundAutoBet"> -
                      </button>
                      <div class="input-group">
                        <div class="currency-input">
                          <div class="currency-symbol">
                            {{currencySymbol}}
                          </div>
                          <input type="number" (keydown)="checkNumber($event)" id="autoBetAmount" name="autoBetAmount"
                            class="form-control amount input-padding" aria-label="Amount (to the nearest dollar)" style="line-height: 1;"
                            min="0" formControlName="autoBetAmount" placeholder="0.00" value="25.00" maxlength="4" [disabled]="isFirstBetButtonDisabled || nextRoundAutoBet">
                        </div>
                      </div>
                      <button class="bet-update-button-add" id="increment"
                        [disabled]="incrementDecrementButton.disableAutoIncrementButton || nextRoundAutoBet"> +
                      </button>
                    </div>

                    <div class="bet-btn">
                      <button id="bet-25" class="text-white times-btn"
                        [disabled]="isFirstBetButtonDisabled || nextRoundAutoBet"
                        [ngClass]="{active : autoActiveClassObject.updatedBetAmountType == 25}">25</button>
                      <button id="bet-50" class="text-white times-btn"
                        [disabled]="isFirstBetButtonDisabled || nextRoundAutoBet"
                        [ngClass]="{active : autoActiveClassObject.updatedBetAmountType == 50}">50</button>
                      <button id="bet-100" class="text-white times-btn"
                        [disabled]="isFirstBetButtonDisabled || nextRoundAutoBet"
                        [ngClass]="{active : autoActiveClassObject.updatedBetAmountType == 100}">100</button>
                    </div>
                  </div>


                </div>
                <div class="d-flex w-100 justify-content-between">
                  <div class="list-group-item" style="margin-right: 5px; flex: 1;">
                    <div>
                      <p class="auto-cashout">{{inputConfig ? inputConfig.autoCashout :"Auto Cashout"}}</p>
                    </div>
                    <div class="bet-amount-class bet-amount-class-autocashout" style="flex-flow: column;">
                      <div class="input-group input-group-autocashout" style="width: 100%">
                        <span class="auto-cashout-input">
                          <input type="number" (keydown)="checkNumber($event)"
                            class="form-control amount input-padding-mobile" aria-label="Amount (to the nearest dollar)"
                            maxlength="4" formControlName="autoCashout" placeholder="0.00">
                        </span>
                        <span (click)="onCloseBtnClicked(true, true)" class="clearable-input">
                          &times;
                        </span>
                      </div>
                      <div style="display: flex;justify-content: space-between;width: 100%; margin-top: 10px;">
                        <div class="multiplier-btn"
                          [ngClass]="{active : autoActiveClassObject.updatedCashoutMultiplier == 5, 'update-button-disabled' : isFirstBetButtonDisabled || nextRoundAutoBet}"
                          (click)="changeCashoutMultiplier(5, true, true)">5X</div>
                        <div class="multiplier-btn"
                          [ngClass]="{active : autoActiveClassObject.updatedCashoutMultiplier == 10, 'update-button-disabled' : isFirstBetButtonDisabled || nextRoundAutoBet}"
                          (click)="changeCashoutMultiplier(10, true, true)">10X</div>
                        <div class="multiplier-btn"
                          [ngClass]="{active : autoActiveClassObject.updatedCashoutMultiplier == 15, 'update-button-disabled' : isFirstBetButtonDisabled || nextRoundAutoBet}"
                          (click)="changeCashoutMultiplier(15, true, true)">15X</div>
                        <div class="multiplier-btn"
                          [ngClass]="{active : autoActiveClassObject.updatedCashoutMultiplier == 20, 'update-button-disabled' : isFirstBetButtonDisabled || nextRoundAutoBet}"
                          (click)="changeCashoutMultiplier(20, true, true)">20X</div>
                      </div>
                    </div>

                  </div>
                  <div class="list-group-item" style="flex: 1">
                    <!-- <div class="total_bets_value" id="total_bets_value">Please enter a valid number</div> -->
                    <div>
                      <p class="bet-amount-heading">{{inputConfig ? inputConfig.totalBets : "Total Rounds"}}</p>
                    </div>
                    <div class="bet-amount-class">
                      <div class="input-group-new">
                        <input type="number" (keydown)="checkNumber($event)" class="form-control amount"
                          aria-label="Amount (to the nearest dollar)" minlength="4" formControlName="totalBets"
                          placeholder="0">

                        <div class="bet-btn" style="padding: 7px 0px;">
                          <button id="total-bets-2" class="text-white times-btn"
                            [disabled]="isFirstBetButtonDisabled || nextRoundAutoBet"
                            [ngClass]="{'button-padding-small-rounds': !configService.configData.isMobile, 'active' : autoActiveClassObject.totalRoundsType == 2}">2</button>
                          <button id="total-bets-5" class="text-white times-btn"
                            [disabled]="isFirstBetButtonDisabled || nextRoundAutoBet"
                            [ngClass]="{'button-padding-small-rounds': !configService.configData.isMobile, 'active' : autoActiveClassObject.totalRoundsType == 5}">5</button>
                          <button id="total-bets-10" class="text-white times-btn"
                            [disabled]="isFirstBetButtonDisabled || nextRoundAutoBet"
                            [ngClass]="{'button-padding-small-rounds': !configService.configData.isMobile, 'active' : autoActiveClassObject.totalRoundsType == 10}">10</button>
                          <button id="total-bets-15" class="text-white times-btn"
                            [disabled]="isFirstBetButtonDisabled || nextRoundAutoBet"
                            [ngClass]="{'button-padding-small-rounds': !configService.configData.isMobile, 'active' : autoActiveClassObject.totalRoundsType == 15}">15</button>
                        </div>
                      </div>

                      <div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="d-flex w-100 justify-content-between">
                  <div class="list-group-item stop-on-profit" style="margin-right: 5px;flex: 1">
                    <div class="stop-on-profit-container">
                      <p class="bet-amount-heading">{{inputConfig ? inputConfig.stopOnProfit : "Stop On Profit"}}</p>
                      <button type="button" class="tooltip_button" placement="right" ngbTooltip="{{toolTipTextAuto}}"
                        triggers="click:blur">
                        <img width="15px" height="15px" src="assets/images/infoIcon_normal.png" alt="">
                      </button>
                    </div>
                    <div class="bet-amount-class">
                      <div class="input-group">
                        <div class="currency-input">
                          <div class="currency-symbol">
                            {{currencySymbol}}
                          </div>
                          <input type="number" (keydown)="checkNumber($event)" class="form-control amount input-padding"
                            aria-label="Amount (to the nearest dollar)" formControlName="stopOnProfit"
                            placeholder="2.00" style="text-align: center;">
                        </div>
                      </div>

                      <div>
                      </div>
                    </div>


                  </div>
                  <div class="list-group-item" style="flex: 1">
                    <div class="stop-on-loss">
                      <p class="bet-amount-heading">{{inputConfig ? inputConfig.stopOnLoss : "Stop On Loss"}}</p>
                      <div style="height: 24px; width: 15px;"></div>
                    </div>
                    <div class="bet-amount-class">
                      <div class="input-group">
                        <div class="currency-input">
                          <div class="currency-symbol">
                            {{currencySymbol}}
                          </div>
                          <input type="number" (keydown)="checkNumber($event)" class="form-control amount input-padding"
                            aria-label="Amount (to the nearest dollar)" formControlName="stopOnLoss" placeholder="2.00"
                            style="text-align: center;">
                        </div>
                      </div>

                      <div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
            <div class="play_demo">
              <button id="play_btn" class="btn play_demo_btn auto-bet-btn" type="submit"
                [disabled]="isFirstBetButtonDisabled" [ngClass]="{'wait-btn-auto' : nextRoundAutoBet}"
                style="width: 95%;">
                <div *ngIf="!nextRoundAutoBet" class="auto-bets-remaining">
                  <div *ngIf="autoplayContentChange && score && !showCashOutContent">
                    <label for="" class="auto-cashout-value-container">
                      <span>
                        {{buttonConfig ? buttonConfig.cashout : "CASH OUT"}}
                      </span>
                      <span>
                        {{currencySymbol}}{{currentCashOutValueObject.firstCashoutValue}}
                      </span>
                    </label>
                  </div>
                  <div>
                    {{autoplayContent | uppercase}}
                  </div>
                </div>
                <div *ngIf="nextRoundAutoBet">
                  <img width="50" height="50" src="assets/images/spinner.svg" alt="" />
                  {{currencySymbol + " " + nextRoundAutoBet.autoBetAmount + " " + (buttonConfig.betPlacedFor ?
                  buttonConfig.betPlacedFor : " BET PLACED FOR NEXT ROUND")}}
                </div>
              </button>
            </div>

            <div class="stop-auto-play" *ngIf="showStopAutoPlayButton && isStopAutoPlayButtonEnabled">
              <button id="stop-auto-play-button" class="btn play_demo_btn auto-bet-btn">Stop Autoplay</button>
            </div>
          </form>
          <!-- <div class="demo_mode_bet">
            <div class="h6 text-muted">
              <label for="online">Online: </label><span>455</span>&nbsp;&nbsp;
              <label for="online">Playing: </label><span>455</span>&nbsp;&nbsp;
              <label for="online">Betting: </label><span>455</span>
            </div>
          </div> -->
        </div>
      </ng-template>
      <ng-template ngbNavContent *ngIf="!isMobile" class="main-desktop-class">
        <div class="auto" style="display: flex; flex-direction: column;">
          <form [formGroup]="autoBetForm" (ngSubmit)="autoBetFormSubmit($event.submitter.id)">
            <div class="lists">
              <div class="list-group">
                <div class="list-group-item flex-column align-items-start">
                  <div style="margin-bottom: -5px;">
                    <p class="bet-amount-heading">{{inputConfig ? inputConfig.betAmount : "Bet Amount"}}</p>
                  </div>
                  <div class="bet-amount-class">
                    <div *ngIf="showTooltip" class="valid_amount_tooltip">
                      {{textConfig.enterValidAmountUnder ? textConfig.enterValidAmountUnder : "Enter a valid amount under"}} {{maxBet}}
                    </div>
                    <div class="input-group">
                      <span class="currency-input">{{currencySymbol}}
                        <input type="number" (keydown)="checkNumber($event)" id="autoBetAmount" name="autoBetAmount"
                          class="form-control amount input-padding" aria-label="Amount (to the nearest dollar)" min="0"
                          formControlName="autoBetAmount" placeholder="0.00" value="25.00" maxlength="4">
                      </span>
                    </div>

                    <div class="bet-btn">
                      <button id="half" class="text-white times-btn"
                        [ngClass]="{active : firstMultiplyBtnType == 'half'}" [disabled]="newBetPlaced">1/2</button>
                      <button id="twice" class="text-white times-btn"
                        [ngClass]="{active : firstMultiplyBtnType == 'twice'}" [disabled]="newBetPlaced">2x</button>
                      <button id="max" class="text-white times-btn" [ngClass]="{active : firstMultiplyBtnType == 'max'}"
                        [disabled]="newBetPlaced">MAX</button>
                    </div>
                  </div>


                </div>
                <div class="d-flex w-100 justify-content-between">
                  <div class="list-group-item" style="margin-right: 5px; flex: 1;">
                    <div>
                      <p class="auto-cashout">{{inputConfig ? inputConfig.autoCashout :"Auto Cashout"}}</p>
                    </div>
                    <div class="bet-amount-class">
                      <div class="input-group">
                        <span class="currency-input">
                          <input type="number" (keydown)="checkNumber($event)" class="form-control amount"
                            aria-label="Amount (to the nearest dollar)" maxlength="4" formControlName="autoCashout"
                            placeholder="0.00">
                        </span>
                      </div>

                      <div>
                        <div>
                          <button id="close_btn" class="auto-cashout-btn">&times;</button>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="list-group-item" style="flex: 1">
                    <!-- <div class="total_bets_value" id="total_bets_value">Please enter a valid number</div> -->
                    <div>
                      <p class="bet-amount-heading">{{inputConfig ? inputConfig.totalBets : "Total Bets"}}</p>
                    </div>
                    <div class="bet-amount-class">
                      <div class="input-group">
                        <input type="number" (keydown)="checkNumber($event)" class="form-control amount"
                          aria-label="Amount (to the nearest dollar)" minlength="4" formControlName="totalBets"
                          placeholder="0">
                      </div>

                      <div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="d-flex w-100 justify-content-between">
                  <div class="list-group-item stop-on-profit" style="margin-right: 5px;flex: 1">
                    <div class="stop-on-profit-container">
                      <p class="bet-amount-heading">{{inputConfig ? inputConfig.stopOnProfit : "Stop On Profit"}}</p>
                      <button type="button" class="tooltip_button" placement="right" ngbTooltip="{{toolTipTextAuto}}"
                        triggers="click:blur">
                        <img width="15px" height="15px" src="assets/images/infoIcon_normal.png" alt="">
                      </button>
                    </div>
                    <div class="bet-amount-class">
                      <div class="input-group">
                        <span class="currency-input">{{currencySymbol}}
                          <input type="number" (keydown)="checkNumber($event)" class="form-control amount input-padding"
                            aria-label="Amount (to the nearest dollar)" formControlName="stopOnProfit"
                            placeholder="2.00">
                        </span>
                      </div>

                      <div>
                      </div>
                    </div>


                  </div>
                  <div class="list-group-item" style="flex: 1">
                    <div class="stop-on-loss">
                      <p class="bet-amount-heading">{{inputConfig ? inputConfig.stopOnLoss : "Stop On Loss"}}</p>
                      <button type="button" class="tooltip_button" placement="left" ngbTooltip="{{stopOnLossToolTipTextAuto}}"
                        triggers="click:blur">
                        <img width="15px" height="15px" src="assets/images/infoIcon_normal.png" alt="">
                      </button>
                      <!-- <div style="height: 24px; width: 15px;"></div> -->
                    </div>
                    <div class="bet-amount-class">
                      <div class="input-group">
                        <span class="currency-input">{{currencySymbol}}
                          <input type="number" (keydown)="checkNumber($event)" class="form-control amount input-padding"
                            aria-label="Amount (to the nearest dollar)" formControlName="stopOnLoss" placeholder="2.00">
                        </span>
                      </div>

                      <div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
            <div class="play_demo">
              <button id="play_btn" class="btn play_demo_btn auto-bet-btn" type="submit"
                [disabled]="isFirstBetButtonDisabled" [ngClass]="{'wait-btn-auto' : nextRoundAutoBet}">
                <div *ngIf="!nextRoundAutoBet" class="auto-bets-remaining">
                  <div *ngIf="autoplayContentChange && score && !showCashOutContent">
                    <label for="" class="auto-cashout-value-container">
                      <span>
                        {{buttonConfig ? buttonConfig.cashout : "CASH OUT"}}
                      </span>
                      <span>
                        {{currencySymbol}}{{currentCashOutValueObject.firstCashoutValue}}
                      </span>
                    </label>
                  </div>
                  <div>
                    {{autoplayContent | uppercase}}
                  </div>
                </div>
                <div *ngIf="nextRoundAutoBet">
                  <img width="50" height="50" src="assets/images/spinner.svg" alt="" />
                  {{currencySymbol + " " + nextRoundAutoBet.autoBetAmount + " " + (buttonConfig.betPlacedFor ?
                  buttonConfig.betPlacedFor : " BET PLACED FOR NEXT ROUND")}}
                </div>
              </button>
            </div>

            <div class="stop-auto-play" *ngIf="showStopAutoPlayButton && isStopAutoPlayButtonEnabled">
              <button id="stop-auto-play-button" class="btn play_demo_btn auto-bet-btn">Stop Autoplay</button>
            </div>
          </form>
          <!-- <div class="demo_mode_bet">
            <div class="h6 text-muted">
              <label for="online">Online: </label><span>455</span>&nbsp;&nbsp;
              <label for="online">Playing: </label><span>455</span>&nbsp;&nbsp;
              <label for="online">Betting: </label><span>455</span>
            </div>
          </div> -->
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>