<div class="cashplay_section" id="play_section" [ngClass]="{
        'single-player-select' : isSinglePlayer,
        'tournament-select' : !isSinglePlayer,
        'sbk_bg_blue_primary': isSinglePlayer && isShabikiPlatform,
        'sbk_bg_green_secondary': !isSinglePlayer && isShabikiPlatform,
        'standalone-class': isStandAlone
    }" [ngStyle]="(singlePlayerBg && { 'background-color': singlePlayerBg }) || (tournamentPlayerBg && { 'background-color': tournamentPlayerBg })">
    <div class="logo_container">
        <div class="back-button" (click)="onBackButtonClicked()">
            <img [src]="backButtonURL" width="14px" height="14px" alt="" class="back-button-icon"
                style="transform: rotate(90deg);">
        </div>
        <div class="logo" [ngClass]="{'playabet-logo': (psTitleImage == 'pspreloaderimg_playabet')}">
            <img src="{{'assets/images/' + psTitleImage + '.png'}}" alt="" no-repeat>
        </div>
    </div>
    <div class="navigation">
        <div id="info_tab" class="info" (click)="onInfoIconClicked(isCashPlay)">
            <img *ngIf="isCashPlay" src="./assets/images/infoBtn.png" width="32px" style="margin-top: 3px;" alt="">
            <img *ngIf="!isCashPlay" src="./assets/images/leaderBoardIcon.png" width="38px" alt="">
        </div>
        <div class="navigation-tabs">
            <div id="single_player_tab" [ngClass]="{
                'tourney-active' : !isSinglePlayer,
                'sbk_bg_blue_primary': isShabikiPlatform && isSinglePlayer,
                'single_player':!isShabikiPlatform && isSinglePlayer}" (click)="onSinglePlayerClicked()"
                [ngStyle]="(singlePlayerActiveBg && !isSinglePlayer && { 'background-color': singlePlayerActiveBg }) || (isSinglePlayer && {'color': activeColor})">
                <span>{{buttonConfig ? buttonConfig.singlePlayer : "SINGLE PLAYER"}}</span>
            </div>
            <div *ngIf="isTournamentAvailable" id="tournament_tab" class="tournament active" [ngClass]="{
                'sbk_bg_green_secondary': !isSinglePlayer && isShabikiPlatform}" (click)="onTournamentClicked()"
                [ngStyle]="tournamentPlayerActiveBg && ((isSinglePlayer && { 'background-color': tournamentPlayerActiveBg }) || (!isSinglePlayer && { 'background-color': tournamentPlayerBg, 'color': activeColor}))">
                <span>{{buttonConfig ? buttonConfig.tournament: "TOURNAMENT"}}</span>
            </div>
            <!-- <div *ngIf="!showAppElements" id="tournament_tab" class="tournament active" [ngClass]="{
                'sbk_bg_green_secondary': !isSinglePlayer && isShabikiPlatform}" (click)="onTournamentClicked()"
                [ngStyle]="tournamentPlayerActiveBg && ((isSinglePlayer && { 'background-color': tournamentPlayerActiveBg }) || (!isSinglePlayer && { 'background-color': tournamentPlayerBg, 'color': activeColor}))">
                <span>{{buttonConfig ? buttonConfig.leaderboard: "LEADERBOARD"}}</span>
            </div> -->
        </div>
    </div>
    <div id="play-content" class="play-container">
        <div class="cash" *ngIf="isCashPlay">
            <div *ngIf="isSinglePlayer" class="single_player_menu">
                <div class="penalties_buttons">
                    <p [ngClass]="{'sbk_font_orange_primary': isShabikiPlatform}">
                        {{textConfig ? textConfig.chooseNumberOfPenalties : (potentialWinInfoText ? potentialWinInfoText["title"] : "")}}
                    </p>
                    <div class="pen_btn">
                        <button
                            [ngClass]="{btnActive : penaltyBtn == 3, 'sbk_orange_btn': penaltyBtn == 3 && isShabikiPlatform}"
                            (click)="penaltyButton(3)">3</button>
                        <button
                            [ngClass]="{btnActive : penaltyBtn == 4, 'sbk_orange_btn': penaltyBtn == 4 && isShabikiPlatform}"
                            (click)="penaltyButton(4)" *ngIf="showAppElements">4</button>
                        <button
                            [ngClass]="{btnActive : penaltyBtn == 5, 'sbk_orange_btn': penaltyBtn == 5 && isShabikiPlatform}"
                            (click)="penaltyButton(5)" *ngIf="showAppElements">5</button>
                    </div>
                </div>
                <div class="win_stake_info" *ngIf="showAppElements">
                    <div *ngIf="penaltyBtn == 5">
                        <p>{{textConfig ? textConfig.score5From5 : (potentialWinInfoText ? potentialWinInfoText['5'] : "")}}</p>
                        <p>{{textConfig ? textConfig.score4From5 : (potentialWinInfoText['5_1'] || "")}}</p>
                    </div>
                    <div *ngIf="penaltyBtn == 4">
                        <p>{{textConfig ? textConfig.score4From4 : (potentialWinInfoText ? potentialWinInfoText['4'] : "")}}</p>
                        <p>{{textConfig ? textConfig.score3From4 : (potentialWinInfoText ? potentialWinInfoText['4_1'] : "")}}</p>
                    </div>
                    <div *ngIf="penaltyBtn == 3">
                        <p class="addMargin">{{textConfig ? textConfig.score3From3 : (potentialWinInfoText ? potentialWinInfoText['3'] : "")}}</p>
                    </div>

                </div>
                <div id="payout-table" class="payout-table" *ngIf="!showAppElements">
                    <table class="table">
                        <tr>
                            <th>{{textConfig.numberOfGoals}}</th>
                            <th>{{textConfig.winningCoins}}</th>
                            <!-- <th>{{textConfig.leaderboardPoints}}</th> -->
                        </tr>
                        <tr *ngFor="let item of payoutData">
                            <td>{{item[0]}}</td>
                            <td><span><img src="assets/images/playbigapp/penaltyShootout/coin.png"></span>{{item[1]}}</td>
                            <!-- <td>{{item[2]}}</td> -->
                        </tr>
                    </table>
                </div>
            </div>
            <div *ngIf="!isSinglePlayer && showAppElements" class="tournament_menu">
                <div class="qualify mt-2">
                    {{cashTournamentPlay ? cashTournamentPlay.qualifyFromLast16 : "Qualify from the last 16 through to the Final by scoring at least 4 penalties each round"}}
                </div>
                <!-- <div class="paytable">
                    <p class="paytable_title">PAYTABLE</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <img class="col-base" src="./assets/images/medal_gold_T_5.png" alt="">
                            <p class="col-base">Pens scored in final = {{psConfig.tourneyPrizeInfo[0]}} x your stake</p>
                        </li>
                        <li class="list-group-item">
                            <img class="col-base" src="./assets/images/medal_silver_T_4.png" alt="">
                            <p class="col-base">Pens scored in final = {{psConfig.tourneyPrizeInfo[1]}} x your stake</p>
                        </li>
                        <li class="list-group-item">
                            <img class="col-base" src="./assets/images/medal_bronze_T_3.png" alt="">
                            <p class="col-base">Pens scored in final = {{psConfig.tourneyPrizeInfo[2]}} x your stake</p>
                        </li>
                        <li class="list-group-item">
                            <span style="width:26px;height:26px"> </span>
                            <p class="col-base">Qualify for semifinal = {{psConfig.tourneyPrizeInfo[3]}} x your stake</p>
                        </li>
                    </ul>
                </div> 
                <div class="plus_score paytable">
                    PLUS Score all 5 goals in all rounds to win a Jackpot Prize up to &#8377; {{psConfig.tourneyJPPrize}}
                </div> -->
            </div>


            <div class="choose_teams" *ngIf="showAppElements || (!showAppElements && isSinglePlayer)">
                <p [ngClass]="{'sbk_font_orange_primary': isShabikiPlatform}">{{textConfig ? textConfig.chooseTeam :"CHOOSE TEAM"}}</p>
                <div *ngIf="isSinglePlayer">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="0">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let image of imagesFormatted;let screenIndex = index;"
                                [ngClass]="{'active' : screenIndex == 0}">
                                <div *ngFor="let item of image; let index = index;" class="flag-items-container">
                                    <div id="{{screenIndex}}-{{index}}-flagItems" class="flagItems"
                                        [ngClass]="{'flag-border-active' : screenIndex == 0 && index == 0}"
                                        (click)="onFlagClicked(item,screenIndex,index)">
                                        <i class="sprite" [ngClass]="item"></i>
                                    </div>
                                    <div>
                                        <p>{{updatedClubs[screenIndex][index] | uppercase}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div *ngIf="!isSinglePlayer">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="0"
                        [ngClass]="{'choose-team-tournament': !isSinglePlayer}">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let image of imagesFormatted;let screenIndex = index;"
                                [ngClass]="{'active' : screenIndex == 0}">
                                <div *ngFor="let item of image; let index = index;">
                                    <div id="{{screenIndex}}-{{index}}-flagItems" class="flagItems country-flags"
                                        [ngClass]="{'country-flag-border-active' : screenIndex == 0 && index == 0}"
                                        (click)="onFlagClicked(item,screenIndex,index)">
                                        <i class="sprite-country" [ngClass]="item"></i>
                                        <!-- <img class="" [src]="item" alt=""> -->
                                    </div>
                                    <div>
                                        <p>{{updatedCountries[screenIndex][index] | uppercase}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="stake" *ngIf="isCashPlay && showAppElements">
                <p [ngClass]="{'sbk_font_orange_primary': isShabikiPlatform}">
                    {{textConfig ? textConfig.chooseYourBet : "CHOOSE YOUR BET"}}
                </p>
                <div>
                    <button *ngFor="let value of defaultBets" id="stake_btn_{{value}}" class="stake_btn"
                        [ngClass]="{'tourney-btn': !isSinglePlayer, 'active' : !isShabikiPlatform && value == stakeAmount, 'sbk_orange_btn': isShabikiPlatform && value == stakeAmount}"
                        (click)="onStakeBtnClicked(value)">
                        {{showCurrencyCode ? currencySymbol : ""}} {{value}}
                    </button>

                </div>
            </div>
            <div class="input-field" *ngIf="showAppElements">
                <div class="input-group mb-3">
                    <span class="input-group-text" [ngClass]="{'tourney-btn': !isSinglePlayer}" id="basic-addon1" *ngIf="showCurrencyCode">{{currencySymbol}}</span>
                    <input id="stake-input-field" type="number" class="form-control" (keydown)="checkNumber($event)"
                        placeholder="Or enter another amount" aria-label="Amount" aria-describedby="basic-addon1"
                        [(ngModel)]="stakeAmount" min="1" (ngModelChange)="onStakeInputChanged($event)" />
                </div>
            </div>

            <div id="app-bet-info" *ngIf="!showAppElements && isSinglePlayer">
                <span>{{textConfig.appBetInfo}}</span>
                <span><img src="assets/images/playbigapp/penaltyShootout/coin.png">{{totalCoins}}</span>
            </div>

            <div *ngIf="!isSinglePlayer && tournamentPTInfo && showAppElements" class="tournament_menu accordion">
                <p class="paytable_title mb-2 mt-4">{{cashTournamentPlay ? cashTournamentPlay.paytable : "PAYTABLE"}}</p>
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <img class="col-base"
                                        src="./assets/images/ball_football_goal_soccer_target_icon 1.png" alt="">
                                    <p class="col-base">{{tournamentPTInfo["0"]}}</p>
                                    <p> x {{psConfig.tourneyPrizeInfo[0] | number:'1.2-2'}} {{tournamentPTInfo["curr"]}}
                                    </p>
                                </li>
                            </ul>
                        </mat-expansion-panel-header>
                        <div>

                            <ul class="list-group">

                                <li class="list-group-item">
                                    <img class="col-base"
                                        src="./assets/images/ball_football_goal_soccer_target_icon 1.png" alt="">
                                    <p class="col-base">{{tournamentPTInfo["1"]}}</p>
                                    <p> x {{psConfig.tourneyPrizeInfo[1] | number:'1.2-2'}} {{tournamentPTInfo["curr"]}}
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <img class="col-base"
                                        src="./assets/images/ball_football_goal_soccer_target_icon 1.png" alt="">
                                    <p class="col-base">{{tournamentPTInfo["2"]}}</p>
                                    <p> x {{psConfig.tourneyPrizeInfo[2] | number:'1.2-2'}} {{tournamentPTInfo["curr"]}}
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <img class="col-base"
                                        src="./assets/images/ball_football_goal_soccer_target_icon 1.png" alt="">
                                    <p class="col-base">{{tournamentPTInfo["3"]}}</p>
                                    <p> x {{psConfig.tourneyPrizeInfo[3] | number:'1.2-2'}} {{tournamentPTInfo["curr"]}}
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <img class="col-base"
                                        src="./assets/images/ball_football_goal_soccer_target_icon 1.png" alt="">
                                    <p class="col-base">{{tournamentPTInfo["4"]}}</p>
                                    <p> x {{psConfig.tourneyPrizeInfo[4] | number:'1.2-2'}} {{tournamentPTInfo["curr"]}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="plus_score">
                        PLUS Score all 5 goals in all rounds to win a Jackpot Prize up to &#8377; {{psConfig.tourneyJPPrize}}
                    </div> -->


                    </mat-expansion-panel>
                </mat-accordion>
                <div *ngIf="!isSinglePlayer" class="lessOrMoreTag"
                    (click)="panelOpenState ? accordion.closeAll() : accordion.openAll()" (click) = "onMoreOrLessClicked()">
                    <p>{{panelOpenState ? '-' : '+'}}</p>
                    <p>{{panelOpenState ? cashTournamentPlay.less : cashTournamentPlay.more}}</p>
                </div>
            </div>
            <div *ngIf="!isSinglePlayer && showAppElements" class="tournament_menu">
                <div class="qualify" *ngIf="!showPlayForFreeOption && tournamentJPPrize">
                    <p *ngIf="showToolTipIcon" class="infoIcon" (click)="onToolTipClick()">i</p>
                    <span class="tooltiptext" id="jackpot-prize-tooltip"
                        *ngIf="configService.configData.platformId != 2">Jackpot Prize is shared equally among players
                        who
                        score all 20/20 in a tournament, each calendar week. Any cash bet of any bet amount
                        qualifies.</span>
                    <span class="tooltiptext" id="jackpot-prize-tooltip"
                        *ngIf="configService.configData.platformId == 2">
                        {{cashTournamentPlay.jackpotPrize}}
                    </span>

                    <div *ngIf="!_isBetyetuPlatform">
                        PLUS Score all <span style="color: #F1D205">5 goals</span> in each of the <span
                            style="color: #F1D205">4 rounds</span> to win a Jackpot Prize up to <span
                            style="color: #F1D205">{{showCurrencyCode ? currencySymbol : ""}} {{psConfig.tourneyJPPrize}}!</span>
                    </div>
                    <div *ngIf="_isBetyetuPlatform">
                        {{cashTournamentPlay.plusScore}}{{showCurrencyCode ? currencySymbol : ""}} {{psConfig.tourneyJPPrize}}!
                    </div>
                </div>
            </div>
            <div class="potential_win">
                <p [ngClass]="{'sbk_font_orange_primary': isShabikiPlatform}">{{textConfig ? textConfig.potentialWin : "POTENTIAL WIN"}}</p>
                <div class="potential_win_container"
                    [ngClass]="{'potential-win-container-2' : !(stakeTax || withholdTax)}">
                    <div class="plus_icon" [ngClass]="{'tournament-tax-info' : !isSinglePlayer}"
                        *ngIf="stakeTax || withholdTax" (click)="displayTaxData()">
                        {{ !showTaxData ? '+' : '-'}}
                    </div>
                    <div class="potential_win_value">
                        <span>{{showCurrencyCode ? currencySymbol : ""}} {{" "}}{{potentialWin}}</span>
                    </div>
                    <div style="width: 15px; margin-right: 15px;"></div>
                </div>
            </div>


        </div>
        <!-- <div [ngClass]="{'tournament-tax-info' : !isSinglePlayer}" *ngIf="stakeTax || withholdTax"> -->
        <!-- <div class="plus_icon" (click)="displayTaxData()">{{ !showTaxData ? '+' : '-'}}</div> -->
        <div class="tax-info" [ngClass]="{'tournament-tax-info' : !isSinglePlayer}" *ngIf="showTaxData">
            <div class="taxed-amount-breakdown">
                <div>
                    <span>{{textConfig ? textConfig.totalOdds : "Total Odds"}}</span>
                    <span>{{oddsMultiplier}}</span>
                </div>
                <div>
                    <span>{{textConfig ? textConfig.stake : "Stake"}}</span>
                    <span>{{showCurrencyCode ? currencySymbol : ""}} {{stakeAmount | number:'1.2-2'}}</span>
                </div>
                <div>
                    <span>{{textConfig ? textConfig.exciseTax : "Excise Tax"}}</span>
                    <span>{{showCurrencyCode ? currencySymbol : ""}} {{(stakeAmount - stakeAfterTax) | number:'1.2-2'}}</span>
                </div>
                <div>
                    <span style="text-align: left;">{{textConfig ? textConfig.stakeAfterTax : "Stake After Tax"}}</span>
                    <span>{{showCurrencyCode ? currencySymbol : ""}} {{stakeAfterTax |
                        number:'1.2-2'}}</span>
                </div>
                <div>
                    <span>{{textConfig ? textConfig.withholdingTax : "Withholding Tax"}}</span>
                    <span>{{showCurrencyCode ? currencySymbol : ""}} {{withHoldingTax | number:'1.2-2'}}</span>
                </div>
                <div>
                    <span>{{textConfig ? textConfig.totalReturn : "TOTAL RETURN"}}</span>
                    <span>{{showCurrencyCode ? currencySymbol : ""}} {{potentialWin.toFixed(2) || 0.00}}</span>
                </div>
            </div>
        </div>
        <!-- </div> -->

        <div class="free" *ngIf="!isCashPlay">
            <div *ngIf="isSinglePlayer" class="how_many text-white">
                {{textConfig.howManyConsecutivePenalties}}
            </div>
            <div *ngIf="!isSinglePlayer" class="tournament_menu">
                <div class="qualify qualifyFreePlay">
                    {{textConfig.qualifyYourWay}}
                </div>
            </div>
            <div class="current_leaderboard">
                <p [ngClass]="{'sbk_font_orange_primary': isShabikiPlatform}">{{textConfig.currentLeaderboard}}</p>

                <div class="leaderboard_table" [ngClass]="{'free-tournament-table': !isSinglePlayer}">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-left">{{textConfig.users}}</th>
                                <th>{{textConfig.pens}}</th>
                                <th class="text-right">{{textConfig.rank}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of leaderboardDataRes;let index = index;">
                                <td class="flex">
                                    <img [src]="[item.img]" alt="" *ngIf="isSinglePlayer">
                                    <img [src]="[item.img]" alt="" *ngIf="!isSinglePlayer">

                                    <div>{{item?.playerName}}</div>
                                </td>
                                <td>{{item?.points}}</td>
                                <td>
                                    <img *ngIf="index == 0" [src]="getRankIcon(index)" alt="">
                                    <img *ngIf="index == 1" [src]="getRankIcon(index)" alt="">
                                    <img *ngIf="index == 2" [src]="getRankIcon(index)" alt="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="first_prize" *ngIf="showFreePlayPrizes">
                <p class="text-white" *ngIf="configService.configData.platformId != 2">{{textConfig.firstPrize}} = {{showCurrencyCode ? currencySymbol : ""}}
                    {{jackpotPrize}}</p>
                <div class="text-white shabiki-prizes" *ngIf="configService.configData.platformId == 2">
                    <div>{{textConfig.firstPrize}} = {{showCurrencyCode ? currencySymbol : ""}} {{prizes.firstPrize}}</div>
                    <div>{{textConfig.secondPrize}} = {{showCurrencyCode ? currencySymbol : ""}} {{prizes.secondPrize}}</div>
                    <div>{{textConfig.thirdPrize}} = {{showCurrencyCode ? currencySymbol : ""}} {{prizes.thirdPrize}}</div>
                </div>
            </div>
            <div *ngIf="!isSinglePlayer && isCashPlay && configService.configData.platformId != 2 && showFreePlayPrizes" class="plus">
                <div class="plus_score text-white">
                    PLUS Score all 5 goals in all 4 rounds to win a Jackpot Prize up to {{showCurrencyCode ? currencySymbol : ""}} {{20000}}
                </div>
            </div>

            <div class="choose_teams">
                <p [ngClass]="{'sbk_font_orange_primary': isShabikiPlatform}">{{textConfig ? textConfig.chooseTeam : "CHOOSE TEAM"}}</p>
                <div *ngIf="isSinglePlayer">

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="0"
                        data-touch="true">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let image of imagesFormatted;let screenIndex = index;"
                                [ngClass]="{'active' : screenIndex == 0}">
                                <div style="max-width: 70px;" *ngFor="let item of image; let index = index;">
                                    <div id="{{screenIndex}}-{{index}}-flagItems" class="flagItems"
                                        [ngClass]="{'flag-border-active' : screenIndex == 0 && index == 0}"
                                        (click)="onFlagClicked(item,screenIndex,index)">
                                        <i class="sprite" [ngClass]="item"></i>
                                    </div>
                                    <div>
                                        <p>{{updatedClubs[screenIndex][index] | uppercase}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div *ngIf="!isSinglePlayer">

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="0"
                        [ngClass]="{'choose-team-tournament': !isSinglePlayer}">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let image of imagesFormatted;let screenIndex = index;"
                                [ngClass]="{'active' : screenIndex == 0}">
                                <div *ngFor="let item of image; let index = index;">
                                    <div id="{{screenIndex}}-{{index}}-flagItems" class="flagItems country-flags"
                                        [ngClass]="{'country-flag-border-active' : screenIndex == 0 && index == 0}"
                                        (click)="onFlagClicked(item,screenIndex,index)">
                                        <i class="sprite-country" [ngClass]="item"></i>
                                    </div>
                                    <div>
                                        <p>{{updatedCountries[screenIndex][index] | uppercase}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

            </div>


            <div class="current_player" [ngClass]="{'free-tournament-player': !isSinglePlayer}">
                <table>
                    <tr>
                        <td rowspan="3"><img [class.setCountryFlagHeight]="!isSinglePlayer"
                                src="{{currentUserData.teamImg}}" /></td>
                        <td class="text-left" style="font-size: 18px;" colspan="2">
                            <p class="username-txt" [class.fit-content]="userName == emptyUsername">{{userName|
                                slice:0:16}}</p>
                            <button (click)="chooseUserName()" class="username-btn" [ngClass]="{
                                'sbk_orange_btn': isShabikiPlatform
                            }" *ngIf="userName == emptyUsername">{{buttonConfig ? buttonConfig.chooseUsername : "CHOOSE USERNAME"}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">{{textConfig ? textConfig.myPenaltiesScored :"My Penalties Scored: "}}</td>
                        <td>{{getLeaderBoardPenaltiesScoreForCurrPlayer()}}</td>
                    </tr>
                    <tr>
                        <td class="text-left">{{textConfig ? textConfig.myPosition :"My Position: "}}</td>
                        <td>{{getLeaderBoardPosForCurrPlayer()}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="play_btn" *ngIf="showAppElements || (!showAppElements && isSinglePlayer)">
            <button (click)="onPlayButtonClicked()" [disabled]="playButtonDisabled"
                [ngClass]="{'sbk_orange_btn': isShabikiPlatform}">{{buttonConfig ? buttonConfig.play : "PLAY"}}</button>
        </div>

        <div id="app-leaderboard-table" class="app-leaderboard" *ngIf="!showAppElements && !isSinglePlayer">
            <h3>{{textConfig.leaderboard}}</h3>
            <table class="table">
                <tr>
                    <th>{{textConfig.position}}</th>
                    <th>{{textConfig.coins}}</th>
                </tr>
                <tr *ngFor="let leaderboardItem of appLeaderboardData;let i = index;">
                    <td>{{i+1}}</td>
                    <td><span><img src="assets/images/playbigapp/penaltyShootout/coin.png"></span>{{leaderboardItem}}</td>
                </tr>
            </table>
        </div>

        <div id="popup_modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" *ngIf="isSinglePlayer">
                        <p style="font-size: 1.2rem; padding: 1rem;">
                            <span *ngIf="!showInsufficientFunds && !showShabikiTrialAlert">
                                <span *ngIf="!isUnfinishedGame">
                                    <span *ngIf="!_isBetyetuPlatform">
                                        {{textConfig.youArePlaying}} {{penaltyType}} penalty Single
                                        Game for  <span *ngIf="!showAppElements"><img src="assets/images/playbigapp/penaltyShootout/coin.png"></span> {{showCurrencyCode ? currencySymbol : ""}} {{stakeAmount}}
                                    </span>
                                    <span *ngIf="_isBetyetuPlatform">
                                        {{textConfig.youArePlaying}} {{penaltyType}} {{textConfig.penalties}}
                                    </span>
                                </span>
                                <span *ngIf="isUnfinishedGame">
                                    {{textConfig ? textConfig.activeGameOpen : "You still have an active game open. Click on OK to complete this game before starting another."}}
                                </span>
                            </span>
                            <span *ngIf="showInsufficientFunds && !showShabikiTrialAlert">
                                Insufficient Funds. Please add funds to your account and retry.
                            </span>
                            <span *ngIf="enableFreePlayCondition && !isCashPlay && showShabikiTrialAlert">
                                <span *ngIf="freeSingleTrialDone">
                                    You have already played this free to play competition this week
                                </span>
                            </span>
                        </p>
                    </div>
                    <div class="modal-body" *ngIf="!isSinglePlayer">
                        <p style="font-size: 1.2rem; padding: 1rem;">
                            <span *ngIf="!showInsufficientFunds && !showShabikiTrialAlert">
                                <span *ngIf="!isUnfinishedGame">
                                    {{textConfig ? textConfig.youAreJoiningTourney : "You are joining the tournament with"}} {{showCurrencyCode ? currencySymbol : ""}} {{stakeAmount}} bet
                                </span>
                                <span *ngIf="isUnfinishedGame">
                                    {{textConfig ? textConfig.activeGameOpen : "You still have an active game open. Click on OK to complete this game before starting another."}}
                                </span>
                            </span>
                            <span *ngIf="showInsufficientFunds && !showShabikiTrialAlert">
                                Insufficient Funds. Please add funds to your account and retry.
                            </span>
                            <span *ngIf="enableFreePlayCondition && !isCashPlay && showShabikiTrialAlert">
                                <span *ngIf="freeTourneyTrialDone">
                                    You have already played this free to play competition this week
                                </span>
                            </span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn back_btn" data-dismiss="modal"
                            (click)="onCashplayPopupBackClicked()" *ngIf="!isUnfinishedGame || showInsufficientFunds"
                            [disabled]="disableButtons">{{buttonConfig? buttonConfig.back : "BACK"}}</button>
                        <button type="button" class="btn confirm_btn" [ngClass]="{'sbk_orange_btn': isShabikiPlatform}"
                            data-dismiss="modal" (click)="onCashplayConfirmClicked()" *ngIf="!showInsufficientFunds"
                            [disabled]="disableButtons">
                            <span *ngIf="!isUnfinishedGame && !showShabikiTrialAlert">{{buttonConfig? buttonConfig.confirm : "CONFIRM"}}</span>
                            <span *ngIf="isUnfinishedGame || showShabikiTrialAlert">OK</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="generic-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p style="font-size: 1.2rem; padding: 1rem;">{{genericErrorMessage}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn back_btn" data-dismiss="modal" (click)="closeGenericModal()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="popup_modal_game_exit" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p style="font-size: 1.2rem; padding: 1rem;">{{textConfig ? textConfig.areYouSureToQuit : "ARE YOU SURE YOU WANT TO QUIT?"}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn back_btn" data-dismiss="modal" (click)="exitGame()">{{buttonConfig ? buttonConfig.yes : "YES"}}</button>
                <button type="button" class="btn confirm_btn" [ngClass]="{'sbk_orange_btn': isShabikiPlatform}"
                    data-dismiss="modal" (click)="continueGame()">{{buttonConfig ? buttonConfig.no : "NO"}}</button>
            </div>
        </div>
    </div>
</div>

<div id="free-play-condition-popup" class="modal show" *ngIf="showPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="popup">
                <div class="info" *ngIf="(showShabikiTrialAlert && enableFreePlayCondition)">
                    <h5 *ngIf="!_isPlayabetPlatform && !_isStarbetPlatform">
                        {{textConfig ? textConfig.youWillNeedToHaveBet : "You will need to have bet"}} {{showCurrencyCode ? currencySymbol : ""}} {{freePlayRequiredBetAmount}} {{textConfig ? textConfig.thisWeekToQualify : "this week in order to qualify to play for the free play competition"}}
                    </h5>
                    <h5 *ngIf="_isPlayabetPlatform">
                        You will need to have placed at least one cash bet this week to qualify for this free to play competition.
                    </h5>
                    <h5 *ngIf="_isStarbetPlatform">
                        You will need to have placed at least 5 cash bets this week to qualify for this free to play competition.
                    </h5>
                </div>
                <div class="submit_btn">
                    <button class="submit" (click)="hideFreePlayConditionClick()">
                        <span *ngIf="showShabikiTrialAlert">OK</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>