.sbk_font_orange_primary {
  color: #ff6600 !important;
}

.sbk_bg_orange_primary {
  background-color: #ff6600 !important;
}

.sbk_font_blue_primary {
  color: #0006f3 !important;
}

.sbk_bg_blue_primary {
  background-color: #0006f3 !important;
}

.sbk_font_grey_primary {
  color: #dadcd3 !important;
}

.sbk_bg_grey_primary {
  background-color: #dadcd3 !important;
}

.sbk_font_yellow_secondary {
  color: #ffff00 !important;
}

.sbk_bg_yellow_secondary {
  background-color: #ffff00 !important;
}

.sbk_font_green_secondary {
  color: #a6ff00 !important;
}

.sbk_bg_green_secondary {
  background-color: #a6ff00 !important;
}

.sbk_font_violet_secondary {
  color: #a626ff !important;
}

.sbk_bg_violet_secondary {
  background-color: #a626ff !important;
}

.sbk_font_ruby_red_secondary {
  color: #ff0099 !important;
}

.sbk_bg_ruby_red_primary {
  background-color: #ff0099 !important;
}

.sbk_orange_btn {
  background-color: #ff6600 !important;
  color: #fff !important;
}

@font-face {
  font-family: Lalezar-Regular;
  src: url("../../../assets/fonts/lalezar-Regular.ttf");
}

* {
  text-align: center;
}

p {
  margin-bottom: 0px !important;
}

.cashplay_section {
  height: 100%;
  width: 100%;
  /* overflow: auto; */
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  max-width: 500px;
  margin: 0 auto;
  /* width: 50vw; */
}

.cashplay_section.standalone-class {
  margin-top: 40px;
}

::-webkit-scrollbar {
  display: none;
}


.activate-game {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#play_section .carousel-control-next,
#play_section .carousel-control-prev {
  top: -15px;
}

#play_section .carousel-control-prev {
  left: 9px;
}

#play_section .carousel-control-next {
  right: 9px;
}

.back-button {
  position: absolute;
  float: left;
  border: 2px solid #2525298f;
  border-radius: 2px;
  padding: 7px 4px 4px 7px;
  margin: 5px;
  line-height: 13px;
  text-align: center;
  cursor: pointer;
}

.back-button-icon {
  position: relative;
  right: 2px;
  top: -2px;
}

.choose-team-tournament .carousel-item div div:first-child {
  border: 5px solid #8ed78e;
}

.stake_btn.active {
  background: #f1d205 !important;
  color: black;
}

.flag-border-active {
  background: #f1d205 !important;
}

.infoIcon {
  width: 20px;
  height: 17px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #8ed78e;
  color: #1e5526;
  border-bottom-left-radius: 5px;
}

.country-flag-border-active {
  border: 5px solid #f1d205 !important;
}

.choose-team-tournament .carousel-item div div img {
  width: 50px;
}

.single-player-select {
  background-color: #2c384f;
}

.tournament-select {
  background-color: #447621;
}

.logo_container {
  text-align: center;
  background: url("../../../assets/images/lobbybg.jpg");
  height: 109px;
  background-size: 100%;
}

.logo img {
  width: 190px;
  margin-top: 10px;
}

#payout-table, #app-leaderboard-table {
  padding: 10px 25px;
}

#payout-table .table, #app-leaderboard-table .table{
  color: white;
}

#app-leaderboard-table .table {
  border-collapse: collapse;
}


#payout-table .table tr:nth-child(2) td {
  color: #F6BA23;
}


#payout-table .table tr:nth-child(odd) {
  background-color: #142d6a;
}

#payout-table .table tr:nth-child(even) {
  background-color: #153C95;
}

#payout-table .table th {
  background: #F6BA23;
  color: black;
}

#payout-table .table td, 
#app-leaderboard-table .table td, 
#payout-table .table th, 
#app-leaderboard-table .table th {
  border-top: none;
  text-align: left;
  padding: 0.75rem 2rem;
}

#app-leaderboard-table .table tr:not(:first-child){
  margin: 10px 0;
  background-color: #0F2651;
  border-bottom: 10px solid #071027;
}

#app-bet-info {
  color: white;
  margin: 1.5rem;
}

#app-bet-info span:last-child {
  background: #153C95;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
}

.playabet-logo img {
  width: 180px;
  margin-top: -4px;
}

.pen_btn .btnActive {
  background-color: #f1d205;
  color: #2c3850;
}

.pen_btn {
  color: white;
  display: flex;
  margin: 15px auto;
  justify-content: center;
}

ngb-carousel.carousel {
  margin-top: 5px;
}

#play_section .carousel-inner .carousel-item.active,
#play_section .carousel-inner .carousel-item-next,
#play_section .carousel-inner .carousel-item-prev {
  display: flex;
  justify-content: space-evenly;
}

.row {
  justify-content: space-evenly;
}

.carousel-item div.flagItems {
  background: #526792;
  border-radius: 50%;
  width: auto;
  padding: 5px;
  /* max-width: 50px;
  max-height: 50px; */
  margin: 0 auto;
  cursor: pointer;
}

.carousel-item div.flagItems.country-flags {
  max-width: 50px;
  max-height: 50px;
  padding: 0;
}

.carousel-item div div img {
  /* width: 59px; */
}

.setCountryFlagHeight {
  width: 50px !important;
  height: 50px !important;
}

.tournament-select .carousel-control-prev-icon,
.tournament-select .carousel-control-next-icon {
  background-image: url("../../../assets//images/left_arrow_green.png");
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url("../../../assets//images/left_arrow.png");
  height: 70px;
  width: 95px;
}

.carousel-control-next-icon {
  transform: rotate(180deg);
}

.carousel.pointer-event {
  width: 94%;
  margin: 0 auto;
}

.carousel-inner {
  width: 78% !important;
  margin: 7px auto;
}

.pen_btn button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-color: transparent;
  font-size: 30px;
  background: #526792;
  color: white;
  margin: 0 10px;
  padding: 0;
}

.navigation {
  display: flex;
  color: white;
  justify-content: space-between;
}

.navigation-tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation-tabs div {
  /* flex-grow: 1; */
  padding: 17px 18px;
  font-size: 21px;
  letter-spacing: 0.3px;
  justify-content: center;
  width: 100%;
}

.single_player_menu,
.tournament_menu {
  margin-top: 15px;
  position: relative;
}

.tournament_menu.accordion {
  width: 71%;
}

.tournament_menu.accordion .col-base {
  font-size: 0.75rem;
}

.accordion {
  margin: 0 auto;
}

.accordion .list-group {
  width: 100%;
}

.accordion .list-group-item {
  border: none;
  color: white;
}

.accordion .list-group-item p:last-child {
  color: #f1d205;
}

.accordion .list-group-item img {
  width: 23px;
}

.single_player,
.tournament {
  display: flex;
  align-items: center;
}

.tourney-active {
  background: #526792;
}

#single_player_tab,
#tournament_tab {
  cursor: pointer;
}

#single_player_tab.tourney-active {
  background-color: #2c384f;
  display: flex;
  align-items: center;
}

#info_tab {
  padding: 11px 14px !important;
  background: #526792;
  cursor: pointer;
}

.tournament.active {
  background: #447621;
}


.penalties_buttons p,
.stake p,
.choose_teams p,
.potential_win p {
  color: #f1d205;
  font-size: 1.25rem;
}

.choose_teams {
  margin-top: 15px;
}

.choose_teams div p {
  font-size: 9px;
  color: white;
  letter-spacing: 0.3px;
  opacity: 0.9;
  margin: 0 auto;
}

.play-container {
  /* background-color: red; */
}

.win_stake_info p {
  color: white;
  margin: 0 !important;
  font-size: 16px;
}

.win_stake_info {
  margin: 0 15% 5%;
  padding: 15px 0px;
  /* height: 70px; */
  border-radius: 5px;
  border: 1px solid #4e628b;
}

.addMargin {
  margin-top: 17px !important;
}

.play_btn {
  margin-top: 1em;
  margin-bottom: 65px;
}

.play_btn button {
  background: #f1d205;
  width: 71%;
  font-size: 2.7rem;
  border-color: transparent;
  border-radius: 7px;
  height: 55px;
  line-height: 50px;
  color: #2c3850;
  margin-top: 5px;
}

.play_btn button:disabled {
  background: #a19e9e;
}

.username-txt {
  min-width: 67px;
  margin-top: 4px !important;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

.username-btn {
  background: #f1d205;
  width: 137px;
  font-size: 14px;
  padding: 2px 0;
  letter-spacing: 0.2px;
  height: 25px;
  float: right;
  border-radius: 3px;
  border-color: transparent;
  color: #2c3850;
}

.fit-content {
  width: fit-content !important;
}

.stake {
  margin: 15px auto;
  width: 78%;
}

.stake div {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.stake button {
  background: #526792;
  font-size: 1.2rem;
  color: white;
  border: transparent;
  padding: 10px 5px;
  width: auto;
  border-radius: 3px;
  height: 35px;
  line-height: 21px;
  margin: 0 5px;
  min-width: fit-content;
}

.input-field {
  margin: 15px auto;
  width: 71%;
}

.input-group input {
  height: 35px;
  text-align: left;
  font-size: 20px;
  color: #526792;
  padding-top: 0.65rem;
}

span.input-group-text {
  color: white;
  background: #526792;
  border: none;
  min-width: 68px;
  padding: 10px;
  padding-top: 15px;
  font-size: 25px;
  line-height: 0 !important;
}

.potential_win {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.potential_win div.potential_win_value {
  font-size: x-large;
  min-width: 10rem;
  height: 35px;
  background: white;
  border-radius: 3px;
  line-height: normal;
}

.potential_win_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.potential-win-container-2 {
  display: block;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}

/* tourney */
.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border: 1px solid #8ed78e;
  padding: 8px 10px;
}

.paytable .list-group-item p {
  color: white;
  font-size: 15px;
}

.paytable .list-group-item img {
  height: 28px;
  width: 30px;
}

.paytable {
  font-size: 18px;
  color: white;
  margin: 15px 62px;
}

.paytable p,
.current_leaderboard p {
  color: #f1d205;
  font-size: 1.25rem;
}

.paytable_title {
  color: white;
  font-size: 15px;
}

p.col-base {
  flex: 1;
  margin: 0 10px;
  text-align: left;
}

.qualify {
  margin: 0 14.5%;
  border: 2px solid #8ed78e;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  position: relative;
  display: inline-block;
}

.qualifyFreePlay:after {
  content: "";
  position: absolute;
  top: -19px;
  left: 92%;
  height: 75px;
  background-size: 100% 100%;
  width: 75px;
  background-image: url("../../../assets/images/stampFreeplay.png");
}

.plus_score {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 16px;
  font-size: 16px;
}

.stake button.tourney-btn,
span.tourney-btn {
  background: #8ed78e;
}

span.input-group-text {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.how_many {
  margin-top: 15px;
  font-size: 1.39em;
  letter-spacing: 0.3px;
}

.current_leaderboard {
  margin-top: 15px;
}

.leaderboard_table {
  display: flex;
  justify-content: center;
}

.leaderboard_table table {
  border-collapse: separate;
  border-spacing: 0 0.5em;
  width: 70%;
  color: white;
}

.leaderboard_table table th {
  font-weight: 100;
  font-size: 1.12rem;
}

.leaderboard_table table th:first-child {
  padding-left: 16px;
}

.leaderboard_table table th:nth-child(2) {
  padding-left: 17px;
}

.leaderboard_table table th:last-child {
  padding-right: 10px;
}

.leaderboard_table table td {
  border-top: 2px solid #526792;
  border-bottom: 2px solid #526792;
  padding: 0;
  font-size: 17px;
}

.leaderboard_table table td:nth-child(2) {
  padding-left: 19px;
}

.leaderboard_table table td:first-child {
  border-left: 2px solid #526792;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: left;
}

.leaderboard_table table td:last-child {
  border-right: thin solid #526792;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
}

.leaderboard_table table td:last-child img {
  height: 34px;
  width: 37px;
  padding: 0px 3px 0px 0px;
  transform: scale(0.8);
}

.leaderboard_table img {
  height: 40px;
  width: 40px;
  padding: 2px;
}

/* free tournament table */
.leaderboard_table.free-tournament-table table td {
  border-top: thin solid #8ed78e;
  border-bottom: thin solid #8ed78e;
  padding: 0;
}

.leaderboard_table.free-tournament-table table td:first-child {
  border-left: thin solid #8ed78e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: left;
}

.leaderboard_table.free-tournament-table table td:last-child {
  border-right: thin solid #8ed78e;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
}

.current_player {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 15px;
}

.current_player table tr:first-child td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 55px;
}

.current_player img {
  width: 118%;
  height: 66px;
  margin-left: -8px;
}

.current_player table {
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
  padding: 5px 5px;
  box-sizing: border-box;
  width: 70%;
  border: 1px solid #526792;
}

.current_player table tr td {
  font-size: 16px;
  padding-bottom: 5px;
}

.current_player.free-tournament-player table {
  border-collapse: separate;
  border-spacing: 0;
  width: 70%;
  border: 1px solid #8ed78e;
}

.first_prize {
  display: flex;
  justify-content: center;
}

.first_prize p {
  border: 1px solid white;
  border-radius: 5px;
  width: 70%;
  font-size: 1.25rem;
  padding: 3px;
  line-height: 33px;
  height: 38px;
}

.first_prize div.shabiki-prizes {
  border: 1px solid white;
  border-radius: 5px;
  width: 70%;
  font-size: 1rem;
  padding: 3px;
  line-height: 25px;
}

.plus {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.plus .plus_score {
  width: 70%;
}

#server-respone-popup {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  color: white;
}

#popup_modal,
#popup_modal_game_exit,
#generic-modal {
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  right: 0;
}

#popup_modal .modal-dialog,
#popup_modal_game_exit .modal-dialog,
#generic-modal .modal-dialog {
  margin: 2rem;
}

#popup_modal .modal-content,
#popup_modal_game_exit .modal-content,
#generic-modal .modal-content {
  background: none;
  border: none;
}

#popup_modal .modal-body,
#popup_modal_game_exit .modal-body,
#generic-modal .modal-body {
  background: #2c384f;
  color: white;
  border-radius: 5px;
}

#popup_modal .modal-footer,
#popup_modal_game_exit .modal-footer,
#generic-modal .modal-footer {
  justify-content: space-evenly;
  border-top: none;
  margin-top: 15px;
  padding: 0;
}

#popup_modal .modal-footer button,
#popup_modal_game_exit .modal-footer button {
  width: 45%;
}

button.btn.back_btn {
  background: #526792;
  color: white;
  font-size: 1.28rem;
  height: 45px;
  line-height: 33px;
}

.modal-footer>* {
  margin: 0;
}

button.btn.confirm_btn {
  background: #f1d205;
  color: black;
  font-size: 1.28rem;
  height: 45px;
  line-height: 33px;
}

.lessOrMoreTag {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  background: #8ed78e;
  padding: 1px 7px;
  color: #1e5526;
  font-size: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.lessOrMoreTag p:first-child {
  margin-right: 5px;
  border: 2px solid #1e5526;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 14px;
  margin-top: 1px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex div {
  width: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.qualify .tooltiptext {
  background-color: #28292c;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  right: 0;
  top: 15;
  position: absolute;
  z-index: 1;
  font-weight: 100;
  font-size: 14px;
  visibility: hidden;
}

.qualify:hover .tooltiptext {
  visibility: visible;
}

.country-flags {
  overflow: hidden;
  /* max-width: none !important;
  max-height: none !important; */
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

#free-play-condition-popup.modal {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

#free-play-condition-popup .popup {
  background-color: #2c384f;
  border-radius: 5px;
}

#free-play-condition-popup .info h5 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  color: #fff;
}

#free-play-condition-popup .submit {
  font-family: "lalezar-Regular";
  background: #f1d205;
  width: 80%;
  font-size: 42px;
  border-radius: 7px;
  color: #2c3850;
  height: 52px;
  line-height: 55px;
}

#free-play-condition-popup .submit_btn {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 10px;
}

#free-play-condition-popup .modal-content {
  background-color: transparent;
}

.modal-body p {
  line-height: initial;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 409px) {
  .navigation div {
    font-size: 16px;
  }

  .text {
    font-size: 18px;
  }
}

@media screen and (max-width: 390px) {
  .navigation div {
    font-size: 14px;
  }

  .stake button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 340px) {
  .win_stake_info p {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .choose-team-tournament .carousel-item div div img {
    width: 42px;
  }

  .accordion .list-group-item {
    font-size: 13px;
  }
}

@media screen and (max-width: 600px) {
  .choose_teams div p {
    font-size: .55rem;
  }
}
/* .flag-items-container{
  max-width: 70px;
} */

/* sprites */

.sprite {
  background-image: url(../../../assets/images/countryFlags.png);
  background-repeat: no-repeat;
  display: block;
  zoom: 0.425;
  -ms-zoom: 0.425;
  -moz-transform: scale(0.425);
  -moz-transform-origin: 0 0;
}

/* .sprite-arsenalLogo {
  width: 120px;
  height: 120px;
  background-position: -5px -5px;
}

.sprite-astonvillaLogo {
  width: 120px;
  height: 120px;
  background-position: -124px 1px;
}

.sprite-brentfordLogo {
  width: 130px;
  height: 120px;
  background-position: -257px -5px;
}

.sprite-brightonLogo {
  width: 120px;
  height: 120px;
  background-position: -395px -5px;
}

.sprite-burnleyLogo {
  width: 120px;
  height: 120px;
  background-position: -5px -135px;
}

.sprite-chelseaLogo {
  width: 120px;
  height: 120px;
  background-position: -135px -135px;
}

.sprite-crystalpalaceLogo {
  width: 120px;
  height: 120px;
  background-position: -265px -135px;
}

.sprite-evertonLogo {
  width: 120px;
  height: 120px;
  background-position: -395px -135px;
}

.sprite-fc557a9211f316c819bd05e1ebbcb5fd {
  width: 120px;
  height: 120px;
  background-position: -5px -265px;
}

.sprite-leedsutdLogo {
  width: 120px;
  height: 120px;
  background-position: -135px -265px;
}

.sprite-leicestercityLogo {
  width: 120px;
  height: 120px;
  background-position: -265px -265px;
}

.sprite-liverpoolLogo {
  width: 120px;
  height: 120px;
  background-position: -395px -265px;
}

.sprite-manchestercityLogo {
  width: 120px;
  height: 120px;
  background-position: -5px -395px;
}

.sprite-manutdLogo {
  width: 120px;
  height: 120px;
  background-position: -135px -395px;
}

.sprite-newcastleutdLogo {
  width: 120px;
  height: 120px;
  background-position: -265px -395px;
}

.sprite-norwichLogo {
  width: 120px;
  height: 120px;
  background-position: -395px -395px;
}

.sprite-southamptonLogo {
  width: 125px;
  height: 120px;
  background-position: -515px -5px;
}

.sprite-tottenhamhotspurLogo {
  width: 120px;
  height: 120px;
  background-position: -525px -135px;
}

.sprite-watfordLogo {
  width: 120px;
  height: 120px;
  background-position: -525px -265px;
}

.sprite-westhamutdLogo {
  width: 120px;
  height: 120px;
  background-position: -525px -395px;
}

.sprite-wolverhamptonLogo {
  width: 120px;
  height: 120px;
  background-position: -5px -525px;
} */

.sprite-argentinaLogo {
  width: 120px;
  height: 120px;
  background-position: -5px -5px;
}

.sprite-australiaLogo {
  width: 120px;
  height: 120px;
  background-position: -122px 0px;
}

.sprite-belgiumLogo {
  width: 120px;
  height: 120px;
  background-position: -251px -5px;
}

.sprite-brazilLogo {
  width: 120px;
  height: 120px;
  background-position: -378px -5px;
}

.sprite-cameroonLogo {
  width: 120px;
  height: 120px;
  background-position: -2px -129px;
}

.sprite-canadaLogo {
  width: 120px;
  height: 120px;
  background-position: -125px -129px;
}

.sprite-costaricaLogo {
  width: 120px;
  height: 120px;
  background-position: -248px -135px;
}

.sprite-croatiaLogo {
  width: 120px;
  height: 120px;
  background-position: -378px -125px;
}

.sprite-denmarkLogo {
  width: 120px;
  height: 120px;
  background-position: -3px -248px;
}

.sprite-ecuadorLogo {
  width: 120px;
  height: 120px;
  background-position: -128px -251px;
}

.sprite-englandLogo {
  width: 120px;
  height: 120px;
  background-position: -253px -252px;
}

.sprite-franceLogo {
  width: 120px;
  height: 120px;
  background-position: -375px -253px;
}

.sprite-germanyLogo {
  width: 120px;
  height: 120px;
  background-position: -3px -376px;
}

.sprite-ghanaLogo {
  width: 120px;
  height: 120px;
  background-position: -128px -378px;
}

.sprite-iranLogo {
  width: 120px;
  height: 120px;
  background-position: -254px -379px;
}

.sprite-japanLogo {
  width: 120px;
  height: 120px;
  background-position: -376px -377px;
}

.sprite-southkoreaLogo {
  width: 120px;
  height: 120px;
  background-position: -3px -500px;
}

.sprite-mexicoLogo {
  width: 120px;
  height: 120px;
  background-position: -128px -501px;
}

.sprite-moroccoLogo {
  width: 120px;
  height: 120px;
  background-position: -248px -502px;
}

.sprite-netherlandsLogo {
  width: 120px;
  height: 120px;
  background-position: -376px -504px;
}

.sprite-polandLogo {
  width: 120px;
  height: 120px;
  background-position: -5px -625px;
}

.sprite-portugalLogo {
  width: 120px;
  height: 120px;
  background-position: 0px -746px;
}

.sprite-qatarLogo {
  width: 120px;
  height: 120px;
  background-position: 0px -872px;
}

.sprite-saudiarabiaLogo {
  width: 120px;
  height: 120px;
  background-position: -128px -620px;
}

.sprite-senegalLogo {
  width: 120px;
  height: 120px;
  background-position: -2px -129px;
}

.sprite-serbiaLogo {
  width: 120px;
  height: 120px;
  background-position: -376px -627px;
}

.sprite-spainLogo {
  width: 120px;
  height: 120px;
  background-position: -128px -745px;
}

.sprite-switzerlandLogo {
  width: 120px;
  height: 120px;
  background-position: -128px -873px;
}

.sprite-tunisiaLogo {
  width: 120px;
  height: 120px;
  background-position: -252px -747px;
}

.sprite-uruguayLogo {
  width: 120px;
  height: 120px;
  background-position: -376px -749px;
}

.sprite-usaLogo {
  width: 120px;
  height: 120px;
  background-position: -254px -873px;
}

.sprite-walesLogo {
  width: 120px;
  height: 120px;
  background-position: -376px -873px;
}

.sprite-country {
  background-image: url(../../../assets/images/countryFlags.png);
  background-repeat: no-repeat;
  display: block;
  zoom: 0.33;
  -ms-zoom: 0.33;
  -moz-transform: scale(0.33);
  -moz-transform-origin: 0 0;
}

.sprite-argentinaIcon {
  width: 120px;
  height: 120px;
  background-position: -5px -5px;
}

.sprite-australiaIcon {
  width: 120px;
  height: 120px;
  background-position: -122px 0px;
}

.sprite-belgiumIcon {
  width: 120px;
  height: 120px;
  background-position: -251px -5px;
}

.sprite-brazilIcon {
  width: 120px;
  height: 120px;
  background-position: -378px -5px;
}

.sprite-cameroonIcon {
  width: 120px;
  height: 120px;
  background-position: -2px -129px;
}

.sprite-canadaIcon {
  width: 120px;
  height: 120px;
  background-position: -125px -129px;
}

.sprite-costaricaIcon {
  width: 120px;
  height: 120px;
  background-position: -248px -135px;
}

.sprite-croatiaIcon {
  width: 120px;
  height: 120px;
  background-position: -378px -125px;
}

.sprite-denmarkIcon {
  width: 120px;
  height: 120px;
  background-position: -3px -248px;
}

.sprite-ecuadorIcon {
  width: 120px;
  height: 120px;
  background-position: -128px -251px;
}

.sprite-englandIcon {
  width: 120px;
  height: 120px;
  background-position: -253px -252px;
}

.sprite-franceIcon {
  width: 120px;
  height: 120px;
  background-position: -375px -253px;
}

.sprite-germanyIcon {
  width: 120px;
  height: 120px;
  background-position: -3px -376px;
}

.sprite-ghanaIcon {
  width: 120px;
  height: 120px;
  background-position: -128px -378px;
}

.sprite-iranIcon {
  width: 120px;
  height: 120px;
  background-position: -254px -379px;
}

.sprite-japanIcon {
  width: 120px;
  height: 120px;
  background-position: -376px -377px;
}

.sprite-southkoreaIcon {
  width: 120px;
  height: 120px;
  background-position: -3px -500px;
}

.sprite-mexicoIcon {
  width: 120px;
  height: 120px;
  background-position: -128px -501px;
}

.sprite-moroccoIcon {
  width: 120px;
  height: 120px;
  background-position: -248px -502px;
}

.sprite-netherlandsIcon {
  width: 120px;
  height: 120px;
  background-position: -376px -504px;
}

.sprite-polandIcon {
  width: 120px;
  height: 120px;
  background-position: -5px -625px;
}

.sprite-portugalIcon {
  width: 120px;
  height: 120px;
  background-position: 0px -746px;
}

.sprite-qatarIcon {
  width: 120px;
  height: 120px;
  background-position: 0px -872px;
}

.sprite-saudiarabiaIcon {
  width: 120px;
  height: 120px;
  background-position: -128px -620px;
}

.sprite-senegalIcon {
  width: 120px;
  height: 120px;
  background-position: -2px -129px;
}

.sprite-serbiaIcon {
  width: 120px;
  height: 120px;
  background-position: -376px -627px;
}

.sprite-spainIcon {
  width: 120px;
  height: 120px;
  background-position: -128px -745px;
}

.sprite-switzerlandIcon {
  width: 120px;
  height: 120px;
  background-position: -128px -873px;
}

.sprite-tunisiaIcon {
  width: 120px;
  height: 120px;
  background-position: -252px -747px;
}

.sprite-uruguayIcon {
  width: 120px;
  height: 120px;
  background-position: -376px -749px;
}

.sprite-usaIcon {
  width: 120px;
  height: 120px;
  background-position: -254px -873px;
}

.sprite-walesIcon {
  width: 120px;
  height: 120px;
  background-position: -376px -873px;
}

.taxed-amount-breakdown {
  color: white;
  border: 1px solid #4e628b;
  border-radius: 5px;
  margin: 5% 15%;
  padding: 0.75em;
}

.tournament-tax-info .taxed-amount-breakdown {
  border: 2px solid #8ed78e;
}

.taxed-amount-breakdown div {
  display: flex;
  justify-content: space-between;
}

.plus_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #526792;
  color: white;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.tournament-tax-info .plus_icon {
  background-color: #8ed78e;
  color: black;
}

.plus_icon.tournament-tax-info {
  background-color: #8ed78e;
}


#stake-input-field {
  font-size: 1.1rem;
}