.sbk_font_orange_primary {
  color: #ff6600 !important;
}

.sbk_bg_orange_primary {
  background-color: #ff6600 !important;
}

.sbk_font_blue_primary {
  color: #0006f3 !important;
}

.sbk_bg_blue_primary {
  background-color: #0006f3 !important;
}

.sbk_font_grey_primary {
  color: #dadcd3 !important;
}

.sbk_bg_grey_primary {
  background-color: #dadcd3 !important;
}


.sbk_font_yellow_secondary {
  color: #ffff00 !important;
}

.sbk_bg_yellow_secondary
 {
  background-color: #ffff00 !important;
}

.sbk_font_green_secondary {
  color: #a6ff00 !important;
}

.sbk_bg_green_secondary
 {
  background-color: #a6ff00 !important;
}

.sbk_font_violet_secondary
 {
  color: #a626ff !important;
}

.sbk_bg_violet_secondary
 {
  background-color: #a626ff !important;
}

.sbk_font_ruby_red_secondary
 {
  color: #ff0099 !important;
}

.sbk_bg_ruby_red_primary {
  background-color: #ff0099 !important;
}

#results {
  min-height: 100%;
  background: #293e67;
  padding: 5% 2%;
  position: fixed;
  /* overflow: auto; */
  top: 0;
  /* height: 100vh; */
  width: 100%;
  background-image: url("../../../assets/images/splashScreen_BG.jpg");
  background-size: contain;
  font-size: 1.05rem;
  letter-spacing: 0.2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 500px;
}

#results.standalone-results{
  margin-top: 30px;
}

#results .header-row h1 {
  color: #f1d505;
  font-size: 2.5em;
  margin: 0 0 8px;
  margin: 8px 0;
  letter-spacing: 0.2px;
}

#results .header-row div:first-child {
  padding: 5px 15px;
}
#results h2 {
  letter-spacing: 0.2px;
  height: 100%;
}
#results .header-row img {
  width: 30px;
  height: 30px;
  background: #495f88;
  border-radius: 5px;
}

#result .search-btn {
  background-color: #F1D505;
}

#results .table {
  margin-left: -12px;
  border-collapse: separate;
  border-spacing: 0;
}
#results .table td,
.table th {
  border: 0;
  text-align: center;
  padding: 0.75rem 0.25rem;
}

#results #dateTime {
  border-right-style: none;
  border-bottom-left-radius: 0px;
  border-bottom-style: none;
}

#results #noBorder {
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
}

#results #noBorder2 {
  border-left-style: none;
  border-bottom-right-radius: 0px;
  border-bottom-style: none;
}

#results #noBorder3 {
  border-left-style: none;
  border-bottom-style: none;
  border-top-style: none;
}

#results #noBorder4 {
  border-right-style: none;
  border-bottom-style: none;
  border-top-style: none;
}

#results thead {
  color: #f1d505;
}
#results thead th {
  padding: 0.375rem 0.375rem 0.275rem 0.375rem;
  border-bottom: 0;
}
#results .table tr:not(:first-child) th:not(:first-child), #results .table tr:not(:first-child) td:not(:first-child) {
  border: 1px solid #3D71EB;
}
/* #results .table .t-head {
  border: 1px solid 
} */
#results thead th:nth-child(2) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#results thead th:nth-child(5) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#results tbody {
  color: white;
  border: 0;
}
#results .inner-table tbody tr td:not(:first-child) {
  border: 2px solid rgba(255, 255, 255, 0.2);
}

#results .inner-table tbody tr:nth-child(2) td:nth-child(2) {
  border-bottom-left-radius: 5px;
}
#results .inner-table tbody tr:nth-child(2) td:nth-child(4) {
  border-bottom-right-radius: 5px;
}

#results .result-data {
  font-size: 0.8rem;
  padding-bottom: 30px;
}
#results th {
  font-weight: 400;
}

#results .free-play-info {
  color: white;
  font-size: medium;
  background: #57729c;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
}
#results .expand-icon img {
  width: 8px;
  height: auto;
  transform: rotate(90deg);
}
#results .expand-icon-2 {
  padding: 0.275rem 0.25rem;
}
#results .date-class {
  display: flex;
  justify-content: space-between;
}
#results .color-gold {
  color: #f1d505;
}
#results .game-mode {
  background: #0a0c12;
}
#results .row2 {
  display: flex;
  padding: 10px 4px 0px;
  justify-content: space-around;
}
#results .row2 div {
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  width: 100%;
}
#results .input-group input {
  padding: 2px 5px;
  height: auto;
  width: 100px;
  background: #303954;
  color: white;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  line-height: 10px;
  font-size: 0.95rem;
}
#results .input-group-append {
  background: #303954;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#results .date-class > div:first-child {
  margin: 5px 5px 0 0;
}
#results ngb-datepicker.dropdown-menu.show {
  background: #303954;
  color: white;
}

#results .to-column ngb-datepicker.dropdown-menu.show{
  left: -75px !important;
} 
#results .ngb-dp-header,
#results .ngb-dp-weekdays {
  background: #303954 !important;
  color: #f1d505;
}
#results [ngbDatepickerDayView].outside {
  display: none;
}
#results .btn-light {
  color: white;
}
#results .ngb-dp-week-number,
#results .ngb-dp-weekday {
  font-style: unset !important;
  color: #f1d505 !important;
  font-size: 1rem !important;
}
#results .bg-primary,
#results ngb-datepicker-navigation-select > .custom-select {
  background: none !important;
  color: #f1d505 !important;
  border: 0 !important;
  font-size: 1rem !important;
  outline: none !important;
}
#results .custom-select:focus,
#results.btn-light.focus,
#results .btn-light:focus,
#results .btn-light:focus-visible {
  box-shadow: none !important;
  border: 0 !important;
  outline: none !important;
}
#results .bg-primary {
  background: #57729c !important;
}
#results .btn-link {
  color: white !important;
}
#results .plus {
  font-size: 12px;
  font-family: "HelveticaNeueLTStd-Bd";
  background: #57729c;
  /* padding: 30% 20%; */
  border-radius: 5px;
  /* line-height: 40% !important; */
  text-align: center;
  height: 15px;
  width: 15px;
  /* padding-bottom: 0.2em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}
#results .currency-letter::first-letter {
  /* font-size: 83%; */
}
#results .minus {
  font-size: 12px;
  font-family: "HelveticaNeueLTStd-Bd";
  background: #57729c;
  border-radius: 10px;
  text-align: center;
  height: 15px;
  width: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  /* padding-bottom: 0.25em; */
}
/* #results .inner-table td{
    background: #303954;
} */
#results .inner-table tr:first-child td {
  border-bottom: 1px #ecece8 solid;
}
#results .table tr th:nth-child(2),
#results .table tr td:nth-child(2) {
  /* padding: 0.25rem; */
}
#results .inner-table td {
  padding: 0;
}
#results .inner-table tr:first-child td:first-child {
  border-bottom: 0;
}
#results .search-box .material-icons {
  color: white;
}
#results .search-box button {
  /* border: 0;
  padding: 0.375rem; */
  width: 80%;
  height: 33px;
}
#results .search-box {
  text-align: center;
  padding-bottom: 10px;
  margin-left: -10px;
}
#results .form-control:focus {
  box-shadow: none;
}
#results .searchedItems {
  display: flex;
  color: white;
  margin-top: 10px;
}
#results .searchedItems div {
  margin-left: 5px;
  padding: 5px;
}
#results .searchedItems span {
  font-size: 0.8rem;
  margin-left: 10px;
}
#results .searchedItems div:nth-child(2) {
  background: #303954;
  border-radius: 5px;
}

#results .remove-border {
  background: none;
  border: 2px solid rgba(255, 255, 255, 0);
}
#results .next {
  display: flex;
  justify-content: center;
}
#results .next-button {
  background-color: #f1d505;
  position: fixed;
  bottom: 30px;
  width: 75px;
  border-radius: 5px;
  font-size: x-large;
}

#results .date-picker {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

#results .options {
  color: white;
  margin: 0 10px;
}

#results .options {
  border-radius: 5px;
  font-size: 18px;
}

#results .tax {
  display: flex;
  justify-content: space-between;
  padding: 0.2em 0.75em;
}

#results #cashplay, #results #freeplay, #results .results-back-button {
  cursor: pointer;
}

#results .result-time {
  padding-left: 10px;
}
