<div id="results" class="container-fluid" *ngIf="showResult" [ngClass]="{'standalone-results': isStandAlone}">
    <div class="row header-row">
        <div class="col-2 text-left">
            <a class="results-back-button" (click)="onClose()"><img [src]="backButtonURL"></a>
        </div>
        <div class="col-8 text-center">
            <h1 [ngClass]="{
                'sbk_font_orange_primary': isShabikiPlatform
            }">{{resultsPageConfig ? resultsPageConfig.result : "RESULTS"}}</h1>
        </div>
        <div class="col-2 text-left">
            
        </div>
    </div>
    <div class="result-data" id="result-data" *ngIf="showResultOperator">
        <div
        [ngClass]="{
            'free-play-info': true,
            sbk_bg_grey_primary: isShabikiPlatform
          }"
          *ngIf="gameMode && !isFreePlayNotAvailable"
          >
            {{resultsPageConfig ? resultsPageConfig.note : ""}}
        </div>
        <br>
        <div id="options" class="options">
            <div class="game-modes" *ngIf="!isFreePlayNotAvailable">
                <div class="row2 text-center">
                    <div [ngClass]="(gameMode == 'Cashplay') ? 'game-mode' : ''" (click)="onGameMode('Cashplay')"
                        id="cashplay">
                        {{resultsPageConfig ? resultsPageConfig.cashPlay : "Cashplay"}}
                    </div>
                    <div [ngClass]="(gameMode == 'Freeplay') ? 'game-mode' : ''" (click)="onGameMode('Freeplay')"
                        id="freeplay">
                        {{resultsPageConfig ? resultsPageConfig.freePlay : "Freeplay"}}
                    </div>
                </div>
            </div>
            <div class="date-picker">
                <div class="date-class">
                    <div>
                        {{resultsPageConfig ? resultsPageConfig.from : "From"}}
                    </div>
                    <div>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="dd/mm/yyyy" name="dp"
                                        [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker" firstDayOfWeek="7" (click)="d1.toggle() || toggleDate(startDate,'startDate')">
                                    <div class="input-group-append">
                                        <div class="expand-icon expand-icon-2" (click)="d1.toggle() || toggleDate(startDate,'startDate')">
                                            <img src="assets/images/arrow_R.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="date-class to-column">
                    <div class="to-text">
                        {{resultsPageConfig ? resultsPageConfig.to : "TO"}}
                    </div>
                    <div>
                        <div class="input-group">
                            <input class="form-control" placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="endDate"
                                ngbDatepicker #d2="ngbDatepicker" firstDayOfWeek="7" (click)="d2.toggle() || toggleDate(endDate,'endDate')">
                            <div class="input-group-append" (click)="d1.toggle() || toggleDate(startDate,'startDate')">
                                <div class="expand-icon expand-icon-2">
                                    <img src="assets/images/arrow_R.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-box">
                <button type="button" class="btn" (click)="searchClicked()"
                    style="background-color: #F1D505;">{{resultsPageConfig ? resultsPageConfig.search : "SEARCH"}}</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                </tr>
                <br>
                <tr>
                    <th>
                        <div class="plus" style="display: none">-</div>
                    </th>
                    <th style="border-right-style: none;" [ngClass]="{
                        'text-left': true,
                        'sbk_font_orange_primary': isShabikiPlatform
                    }">{{resultsPageConfig ? resultsPageConfig.dateTime : "Date/Time"}}</th>
                    <th style="border-right-style: none; border-left-style: none;"
                    [ngClass]="{
                        'sbk_font_orange_primary': isShabikiPlatform
                      }"
                    >{{textConfig ? textConfig.bet : "Bet"}}</th>
                    <th style="border-right-style: none; border-left-style: none;"
                    [ngClass]="{
                        'sbk_font_orange_primary': isShabikiPlatform
                      }"
                    >{{resultsPageConfig ? resultsPageConfig.result : "Result"}}</th>
                    <th style="border-left-style: none;text-align: right;" [ngClass]="{
                        'text-left': false,
                        'sbk_font_orange_primary': isShabikiPlatform
                      }">{{resultsPageConfig ? resultsPageConfig.prize : "Prize"}}</th>
                </tr>
            </thead>
            <tbody *ngFor="let result of historyDataRes; let i = index;">
                <tr>
                    <td>
                        <div *ngIf="result.resultData" class="plus" (click)="onShowResult(i)">+</div>
                    </td>
                    <td class="text-left">{{result.date}}
                        <br>
                        <span class="result-time">{{result.time}}</span>
                    </td>
                    <td class="currency-letter" *ngIf="result.betAmount > 0.00">
                        {{showCurrencyCode ? currencySymbol : ""}}{{" "}}{{result.formattedBetAmount}}</td>
                    <td class="currency-letter" *ngIf="result.betAmount == 0.00">Free</td>
                    <td *ngIf="result.betAmount > 0.00">{{result.winAmount ? 'Won' : 'Lost'}}</td>
                    <td *ngIf="result.betAmount == 0.00 && result.tournamentRoundNo != null">{{result.totalGoalsScored >= 16 ? 'Won' : 'Lost'}}</td>
                    <td *ngIf="result.betAmount == 0.00 && result.tournamentRoundNo == null">{{result.totalGoalsScored}}</td>
                    <td class="text-right currency-letter" *ngIf="result.betAmount > 0.00">
                        {{showCurrencyCode ? currencySymbol : ""}}{{" "}}{{result.formattedWinAmount}}</td>
                    <td class="text-center currency-letter" *ngIf="result.betAmount == 0.00">-</td>
                </tr>
                <tr>
                    <td colspan="5" style="padding:0">
                        <table class="table inner-table" style="margin:0px"
                            *ngIf="showResultData['showResult' + i] && result.resultData[0] && result.resultData[0].results && result.resultData[0].results.length">
                            <thead>
                                <tr style="border: 2px solid rgba(255,255,255,0.2);">
                                    <th class="remove-border"
                                        style="background: none;min-width: 2em;padding: 0 0.475rem .5rem .475rem;">
                                        <div class="minus" (click)="onShowResult(i)">-</div>
                                    </th>
                                    <th class="text-left" id="dateTime">{{resultsPageConfig ? resultsPageConfig.team : "Team"}}</th>
                                    <th id="noBorder" class="text-center">{{resultsPageConfig ? resultsPageConfig.penaltiesTaken : "Penalties Taken"}}</th>
                                    <th id="noBorder" class="text-center">{{resultsPageConfig ? resultsPageConfig.scored : "Scored"}}</th>
                                    <th id="noBorder" style="border-right-style: inherit;" class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngIf="showResultData['showResult' + i] && result.resultData[0] && result.resultData[0].results && result.resultData[0].results.length">
                                    <td style="background:none"></td>
                                    <td class="text-center" style="padding: 0.75rem 0; border-right-style: none;">
                                        <!-- <div class="color-gold">Team</div> -->
                                        {{result.isClub ? "V_" + result.resultData[0].results[0].selectedTeam : result.resultData[0].results[0].selectedTeam}}
                                    </td>
                                    <td style="padding: 0.75rem 0; border-right-style: none; border-left-style: none;"
                                        class="text-center">
                                        <!-- <div class="color-gold">Penalties Taken</div> -->
                                        <span *ngFor="let res of result.resultData;">
                                            <span *ngFor="let data of res.results">
                                                {{data.result == "GOAL" ? "0" : "x"}}
                                            </span>
                                            <br />
                                        </span>
                                    </td>
                                    <td style="padding: 0.75rem 0; border-left-style: none; border-right-style: none;"
                                        class="text-center">
                                        <!-- <div class="color-gold">Penalty Count</div> -->
                                        <div>{{result.totalGoalsScored}}</div>
                                    </td>
                                    <td style="padding: 0.75rem 0; border-left-style: none;" class="text-center">
                                        <span></span>
                                    </td>
                                </tr>
                                <tr class="tax-result" *ngIf="result.winAmountAfterTax && result.betAmountAfterTax && (stakeTax || withholdTax) && showResultData['showResult' + i] && result.resultData[0] && result.resultData[0].results && result.resultData[0].results.length">
                                    <td></td>
                                    <td colspan="5">
                                      <div>
                                        <div>
                                            <div class="tax">
                                                <span>{{textConfig ? textConfig.exciseTax : "Excise Tax"}}</span>
                                                <span>{{showCurrencyCode ? currencySymbol : ""}} {{result.betAmount - result.betAmountAfterTax | number:'1.2-2'}}</span>
                                            </div>
                                            <div class="tax">
                                                <span>{{textConfig ? textConfig.stakeAfterTax : "Stake Amount After Tax"}}</span>
                                                <span>{{showCurrencyCode ? currencySymbol : ""}} {{result.betAmountAfterTax | number:'1.2-2'}}</span>
                                            </div>
                                            <div class="tax">
                                                <span>{{textConfig ? textConfig.withholdingTax : "Withholding Tax"}}</span>
                                                <span>{{showCurrencyCode ? currencySymbol : ""}} {{result.taxedWinnings | number:'1.2-2'}}</span>
                                            </div>
                                        </div>
                                    </div>  
                                    </td>
                                    
                                
                            </tbody>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>
        <div *ngIf="historyDataRes" class="no-data-available">
            <div *ngIf="historyDataRes.length === 0" class="text-white text-center no-data-content">
                {{resultsPageConfig ? resultsPageConfig.noDataAvailableForSpecifiedDate : "No data available for specified date"}}
            </div>
        </div>

    </div>
    <div class="result-data" id="result-data-playbigapp" *ngIf="!showResultOperator">
        <div
        [ngClass]="{
            'free-play-info': true,
            sbk_bg_grey_primary: isShabikiPlatform
          }"
          *ngIf="gameMode && !isFreePlayNotAvailable"
          >
            {{resultsPageConfig ? resultsPageConfig.note : ""}}
        </div>
        <br>
        <div id="options" class="options">
            <div class="date-picker">
                <div class="date-class row">
                    <div class="col-2">
                        {{resultsPageConfig ? resultsPageConfig.from : "From"}}
                    </div>
                    <div class="col-8">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="dd/mm/yyyy" name="dp"
                                        [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker" firstDayOfWeek="7" (click)="d1.toggle() || toggleDate(startDate,'startDate')">
                                    <div class="input-group-append">
                                        <div class="expand-icon expand-icon-2" (click)="d1.toggle() || toggleDate(startDate,'startDate')">
                                            <img src="assets/images/arrow_R.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <input class="form-control" placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="endDate"
                                        ngbDatepicker #d2="ngbDatepicker" firstDayOfWeek="7" (click)="d2.toggle() || toggleDate(endDate,'endDate')">
                                    <div class="input-group-append" (click)="d1.toggle() || toggleDate(startDate,'startDate')">
                                        <div class="expand-icon expand-icon-2">
                                            <img src="assets/images/arrow_R.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="search-box">
                            <button type="button" class="btn" (click)="searchClicked()"
                                style="background-color: #F1D505;">{{resultsPageConfig ? resultsPageConfig.search : "SEARCH"}}</button>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                </tr>
                                <br>
                                <tr>
                                    <th>
                                        <div class="plus" style="display: none">-</div>
                                    </th>
                                    <th style="border-right-style: none;" [ngClass]="{
                                        'text-left': true,
                                        'sbk_font_orange_primary': isShabikiPlatform
                                    }">{{resultsPageConfig ? resultsPageConfig.dateTime : "Date/Time"}}</th>
                                    <th style="border-right-style: none; border-left-style: none;"
                                    [ngClass]="{
                                        'sbk_font_orange_primary': isShabikiPlatform
                                      }"
                                    >{{textConfig ? textConfig.bet : "Bet"}}</th>
                                    <th style="border-right-style: none; border-left-style: none;"
                                    [ngClass]="{
                                        'sbk_font_orange_primary': isShabikiPlatform
                                      }"
                                    >{{resultsPageConfig ? resultsPageConfig.result : "Result"}}</th>
                                    <th style="border-left-style: none;text-align: right;" [ngClass]="{
                                        'text-left': false,
                                        'sbk_font_orange_primary': isShabikiPlatform
                                      }">{{resultsPageConfig ? resultsPageConfig.prize : "Prize"}}</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let result of historyDataRes; let i = index;">
                                <tr>
                                    <td>
                                        <div *ngIf="result.resultData" class="plus" (click)="onShowResult(i)">+</div>
                                    </td>
                                    <td class="text-left">{{result.date}}
                                        <br>
                                        <span class="result-time">{{result.time}}</span>
                                    </td>
                                    <td class="currency-letter" *ngIf="result.betAmount > 0.00">
                                        {{showCurrencyCode ? currencySymbol : ""}}{{" "}}{{result.formattedBetAmount}}</td>
                                    <td class="currency-letter" *ngIf="result.betAmount == 0.00">Free</td>
                                    <td *ngIf="result.betAmount > 0.00">{{result.winAmount ? 'Won' : 'Lost'}}</td>
                                    <td *ngIf="result.betAmount == 0.00 && result.tournamentRoundNo != null">{{result.totalGoalsScored >= 16 ? 'Won' : 'Lost'}}</td>
                                    <td *ngIf="result.betAmount == 0.00 && result.tournamentRoundNo == null">{{result.totalGoalsScored}}</td>
                                    <td class="text-right currency-letter" *ngIf="result.betAmount > 0.00">
                                        {{showCurrencyCode ? currencySymbol : ""}}{{" "}}{{result.formattedWinAmount}}</td>
                                    <td class="text-center currency-letter" *ngIf="result.betAmount == 0.00">-</td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="padding:0">
                                        <table class="table inner-table" style="margin:0px"
                                            *ngIf="showResultData['showResult' + i] && result.resultData[0] && result.resultData[0].results && result.resultData[0].results.length">
                                            <thead>
                                                <tr style="border: 2px solid rgba(255,255,255,0.2);">
                                                    <th class="remove-border"
                                                        style="background: none;min-width: 2em;padding: 0 0.475rem .5rem .475rem;">
                                                        <div class="minus" (click)="onShowResult(i)">-</div>
                                                    </th>
                                                    <th class="text-left" id="dateTime">{{resultsPageConfig ? resultsPageConfig.team : "Team"}}</th>
                                                    <th id="noBorder" class="text-center">{{resultsPageConfig ? resultsPageConfig.penaltiesTaken : "Penalties Taken"}}</th>
                                                    <th id="noBorder" class="text-center">{{resultsPageConfig ? resultsPageConfig.scored : "Scored"}}</th>
                                                    <th id="noBorder" style="border-right-style: inherit;" class="text-center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngIf="showResultData['showResult' + i] && result.resultData[0] && result.resultData[0].results && result.resultData[0].results.length">
                                                    <td style="background:none"></td>
                                                    <td class="text-center" style="padding: 0.75rem 0; border-right-style: none;">
                                                        <!-- <div class="color-gold">Team</div> -->
                                                        {{result.isClub ? "V_" + result.resultData[0].results[0].selectedTeam : result.resultData[0].results[0].selectedTeam}}
                                                    </td>
                                                    <td style="padding: 0.75rem 0; border-right-style: none; border-left-style: none;"
                                                        class="text-center">
                                                        <!-- <div class="color-gold">Penalties Taken</div> -->
                                                        <span *ngFor="let res of result.resultData;">
                                                            <span *ngFor="let data of res.results">
                                                                {{data.result == "GOAL" ? "0" : "x"}}
                                                            </span>
                                                            <br />
                                                        </span>
                                                    </td>
                                                    <td style="padding: 0.75rem 0; border-left-style: none; border-right-style: none;"
                                                        class="text-center">
                                                        <!-- <div class="color-gold">Penalty Count</div> -->
                                                        <div>{{result.totalGoalsScored}}</div>
                                                    </td>
                                                    <td style="padding: 0.75rem 0; border-left-style: none;" class="text-center">
                                                        <span></span>
                                                    </td>
                                                </tr>
                                                <tr class="tax-result" *ngIf="result.winAmountAfterTax && result.betAmountAfterTax && (stakeTax || withholdTax) && showResultData['showResult' + i] && result.resultData[0] && result.resultData[0].results && result.resultData[0].results.length">
                                                    <td></td>
                                                    <td colspan="5">
                                                      <div>
                                                        <div>
                                                            <div class="tax">
                                                                <span>{{textConfig ? textConfig.exciseTax : "Excise Tax"}}</span>
                                                                <span>{{showCurrencyCode ? currencySymbol : ""}} {{result.betAmount - result.betAmountAfterTax | number:'1.2-2'}}</span>
                                                            </div>
                                                            <div class="tax">
                                                                <span>{{textConfig ? textConfig.stakeAfterTax : "Stake Amount After Tax"}}</span>
                                                                <span>{{showCurrencyCode ? currencySymbol : ""}} {{result.betAmountAfterTax | number:'1.2-2'}}</span>
                                                            </div>
                                                            <div class="tax">
                                                                <span>{{textConfig ? textConfig.withholdingTax : "Withholding Tax"}}</span>
                                                                <span>{{showCurrencyCode ? currencySymbol : ""}} {{result.taxedWinnings | number:'1.2-2'}}</span>
                                                            </div>
                                                        </div>
                                                    </div>  
                                                    </td>
                                                    
                                                
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                
                            </tbody>
                        </table>  
                        <div *ngIf="historyDataRes" class="no-data-available">
                            <div *ngIf="historyDataRes.length === 0" class="text-white text-center no-data-content">
                                {{resultsPageConfig ? resultsPageConfig.noDataAvailableForSpecifiedDate : "No data available for specified date"}}
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
            </div>
            <div class="col-2">
                
            </div>
        </div>

    </div>
</div>