:host {
  font-family: "Nunito";
}
.leader-board-heading {
  text-align: center;
  color: #fc0;
  font-size: 20px;
}
.back {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #1a3aa8;
  border-radius: 3px;
  margin-right: 10px;
}
.back-button {
  padding: 9px;
  height: 25px;
  transform: rotate(90deg);
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.nav-tabs {
  border-bottom: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #1a3aa8;
}

a {
  color: #1a3aa8;
}

.nav {
  justify-content: center;
}

.list-group-item {
  color: #1a3aa8;
  font-weight: 700;
}

.leaderboard-info {
  display: flex;
  padding: 10px;
  align-items: center;
  border: 1px solid #1a3aa8;
  justify-content: space-evenly;
  align-content: center;
  border-radius: 5px;
}

.leaderboard-list {
  padding: 10px;
}

.leaderboard-type {
  font-family: "Nunito-ExtraBold";
  text-align: center;
  padding: 10px;
  color: #1a3aa8;
}

.win_img {
  margin-right: 15px;
}

.col-1 {
  flex-basis: 10%;
}
.col-2 {
  flex-basis: 40%;
}
.col-3 {
  flex-basis: 25%;
}
.col-4 {
  flex-basis: 25%;
}

.list-group li {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  font-size: smaller;
}

.header {
  border: 0;
}

.list-group .player_info {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #f2f4fd;
}

.next {
  transform: rotate(180deg);
}
.game_week {
  background-color: #1a3aa8;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

button.dropdown-toggle {
  border-radius: 25px;
  background-color: #4669e2;
  font-size: 11px;
  font-weight: 900;
  color: #ffffff;
  margin: 5px;
}

.showOnTop {
  background-color: #fceab1 !important;
}

.dropdownMenu {
  height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
}

.show > .btn-outline-primary.dropdown-toggle {
  background-color: #4669e2;
  border-color: transparent;
}

.dropdown-item {
  padding: 0.25rem 1.5rem 0.25rem 0.5rem;
  color: #1a3aa8;
  font-weight: 700;
  font-size: 8px;
  border-bottom: 1px solid #f1f3fc;
}

.dropdown-menu {
  min-width: 7rem;
}
