<div id="leaderboard">
    <div class="navigation">
        <div class="back" (click)="backButtonClicked()">
            <img src="assets/images/arrow-dropdown.svg" alt="" class="back-button">
        </div>
        <div class="leaderboard-info">
            <div class="win_img">
                <img src="../../../assets/images/Vector.png" alt="" sizes="" srcset="">
            </div>
            <div style="color: #132B80; font-weight: 700" *ngIf="active == 1">
                Leaderboards relate to our great Free to Play game where real prizes can be won for no cost at all.
            </div>
            <div style="color: #132B80; font-weight: 700; font-size: 0.85rem;" *ngIf="active == 2">
                Weekly Tournament with prizes ends Midnight Sunday {{currentSunday}}th {{currentMonth}}. Match Leaderboard for fun purposes only
            </div>
        </div>
    </div>
    <div  *ngIf="leaderboardType == 'match'">
        <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)] = "active">
            <li [ngbNavItem]="1" (click)="onNavChange('weekly')">
                <a ngbNavLink>Weekly Leaderboard</a>
                <ng-template ngbNavContent>

                    <div class="game_week">
                        <div class="prev" (click)="incrementOrDecrementWeek('prev')">
                            <img src="../../../assets/images/arrow.png" alt="">
                        </div>
                        <div>
                            <div class="dropdown">
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Game
                                        Week
                                        <span>{{currentWeekNumber}}</span></button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdownMenu">
                                        <button ngbDropdownItem *ngFor="let week of weekNumbers; let i = index"
                                            (click)="selectedWeek(i+1)">GAME WEEK {{i + 1}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="next" (click)="incrementOrDecrementWeek('next')">
                            <img src="../../../assets/images/arrow.png" alt="">
                        </div>
                    </div>
                    <div class="leaderboard-list">
                        <ul class="list-group">
                            <li class="list-group-item header">
                                <div class="col col-1">#</div>
                                <div class="col col-2">Player</div>
                                <div class="col col-3">Points</div>
                                <div class="col col-4">Prize</div>
                            </li>
                            <li class="list-group-item player_info" *ngFor="let item of leaderBoardData; let i = index;"
                                [ngClass]="{showOnTop : item.playerId == matchDetails.playerId}">
                                <div class="col col-1">{{item.rank}}</div>
                                <div class="col col-2">{{item.playerId}}</div>
                                <div class="col col-3">{{item.points}}</div>
                                <div class="col col-4">&#8377; {{item.prize}}</div>
                            </li>
                        </ul>
                    </div>

                </ng-template>
            </li>
            <li [ngbNavItem]="2" (click)="onNavChange('matchwise')">
                <a ngbNavLink>Matchwise Leaderboard</a>
                <ng-template ngbNavContent>
                    <div class="leaderboard-list">
                        <ul class="list-group">
                            <li class="list-group-item header">
                                <div class="col col-1">#</div>
                                <div class="col col-2">Player</div>
                                <div class="col col-3">Points</div>
                                <div class="col col-4">Prize</div>
                            </li>
                            <li class="list-group-item player_info" *ngFor="let item of leaderBoardData; let i = index;"
                                [ngClass]="{showOnTop : item.playerId == matchDetails.playerId}">
                                <div class="col col-1">{{item.rank}}</div>
                                <div class="col col-2">{{item.playerId}}</div>
                                <div class="col col-3">{{item.points}}</div>
                                <div class="col col-4">&#8377; {{item.prize}}</div>
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div>
    <div *ngIf="leaderboardType == 'date'">
        <div class="game_week">
            <div class="prev" (click)="incrementOrDecrementWeek('prev')">
                <img src="../../../assets/images/arrow.png" alt="">
            </div>
            <div>
                <div class="dropdown">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Game Week
                            <span>{{currentWeekNumber}}</span></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdownMenu">
                            <button ngbDropdownItem *ngFor="let week of weekNumbers; let i = index"
                                (click)="selectedWeek(i+1)">GAME WEEK {{i + 1}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="next" (click)="incrementOrDecrementWeek('next')">
                <img src="../../../assets/images/arrow.png" alt="">
            </div>
        </div>
        <div class="leaderboard-list">
            <ul class="list-group">
                <li class="list-group-item header">
                    <div class="col col-1">#</div>
                    <div class="col col-2">Player</div>
                    <div class="col col-3">Points</div>
                    <div class="col col-4">Prize</div>
                </li>
                <li class="list-group-item player_info" *ngFor="let item of leaderBoardData; let i = index;"
                    [ngClass]="{showOnTop : item.playerId == matchDetails.playerId}">
                    <div class="col col-1">{{i+1}}</div>
                    <div class="col col-2">{{item.playerId}}</div>
                    <div class="col col-3">{{item.points}}</div>
                    <div class="col col-4">&#8377; {{item.prize}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>