ul.list-group {
    height: 370px;
    overflow: scroll;
}

ul.list-group::-webkit-scrollbar {
    display: none;
}

ul#fwp_chats li {
    background: #ffffff;
    color: #282C37;
    display: flex;
    padding: 5px 5px;
    margin-top: 5px;
    border-radius: 3px;
}


label {
    display: inline-block;
    margin-bottom: 0;
    color: #282C37;
}

.enter-message {
    margin-top: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #282C37;
    border-radius: 5px;
}

.enter-message input {
    color: white;
    width: 100%;
    background-size: 25px;
    padding: 15px 10px;
    background-color: #ffffff;
    border: transparent;
}

.chats-container{
    height: 360px;
    overflow: auto;
}

#message_popup {
    position: absolute;
    display: none;
    background: #d9c1c1;
    left: 0;
    right: 0;
    margin: 10px;
    color: black;
    font-weight: 500;
    padding: 5px;
    border-radius: 3px;
    transform: translate(0, -30px);
}


button.arrow {
    /* background: ##F6DAC1; */
    border: none;
}

.form-control:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.message {
    padding-left: 5px;
    word-break: break-word;
}

.player-chat {
    background-color: #3d8953 !important;
}

.display-dropdown {
    width: 93%;
    position: absolute;
    background: black;
    bottom: 6em;
    border-radius: 5px;
    height: auto;
    max-height: 120px;
    overflow: auto;
}

.display-dropdown ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.display-dropdown ul li {
    background: #252932;
    padding: 10px;
}

@media (min-width: 800px) {
    ul.list-group {
        padding: 10px;
        height: 500px;
        overflow: scroll;
        overflow-x: hidden;
    }

    ul.list-group::-webkit-scrollbar {
        width: 0;
    }

    .chat-form-container {
        margin: 10px;
        position: absolute;
        bottom: 5px;
        width: 767px;
        background-color: #FFF2E7;
    }
}