<div id="howtoplay" class="container-fluid" [ngClass]="{'standalone-class': isStandAlone}" *ngIf="showHowToPlay">
    <div class="row header-row">
        <div class="col-2">

        </div>
        <div class="col-8 text-center">
            <h1>{{configData ? configData.howToPlayTitle : "HOW TO PLAY"}}</h1>
        </div>
        <div class="col-2 close_btn">
            <a (click)="onClose()"><img src="assets/images/crossIcon.png"></a>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-touch="true" >

        <div class="carousel-inner">
            <div class="carousel-item text-center" *ngFor="let rule of configData; let i=index"
                [ngClass]="(i === 0) ? 'active' : ''">
                <img [src]="rule.img" alt="...">
                <!-- <i class="sprite-htp" [ngClass]="'sprite-'+rule.img"></i> -->
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                </div> -->
                <div class="rules-data">
                    <div class="rules-title">
                        <h2 [ngClass]="{'sbk_font_orange_primary': isShabikiPlatform}">{{rule.title}}</h2>
                    </div>
                    <div class="rules-text">
                        {{rule.text}}
                    </div>
                </div>
                <!-- <div *ngIf="i==(configData.length-1)">
                    <br>
                    <button class="back-button-htp" (click)="onClose()" [ngClass]="{'sbk_orange_btn': isShabikiPlatform}">BACK TO MAIN MENU</button>
                </div> -->
            </div>
        </div>
        <div class="indicators">
            <div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <img src="assets/images/arrow_L.png">
                    <span class="sr-only">Previous</span>
                </a>
            </div>
            <div>
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" *ngFor="let rule of configData;let i = index" 
                    attr.data-slide-to="{{i}}" [ngClass]="(i === 0) ? 'active' : ''"></li>
                </ol>
            </div>
            <div>
                <a  class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <img src="assets/images/arrow_R.png">
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</div>