.sbk_font_orange_primary {
  color: #ff6600 !important;
}

.sbk_bg_orange_primary {
  background-color: #ff6600 !important;
}

.sbk_font_blue_primary {
  color: #0006f3 !important;
}

.sbk_bg_blue_primary {
  background-color: #0006f3 !important;
}

.sbk_font_grey_primary {
  color: #dadcd3 !important;
}

.sbk_bg_grey_primary {
  background-color: #dadcd3 !important;
}

.sbk_font_yellow_secondary {
  color: #ffff00 !important;
}

.sbk_bg_yellow_secondary {
  background-color: #ffff00 !important;
}

.sbk_font_green_secondary {
  color: #a6ff00 !important;
}

.sbk_bg_green_secondary {
  background-color: #a6ff00 !important;
}

.sbk_font_violet_secondary {
  color: #a626ff !important;
}

.sbk_bg_violet_secondary {
  background-color: #a626ff !important;
}

.sbk_font_ruby_red_secondary {
  color: #ff0099 !important;
}

.sbk_bg_ruby_red_primary {
  background-color: #ff0099 !important;
}

.sbk_orange_btn {
    background-color: #ff6600 !important;
    color: #fff !important;
}

#howtoplay {
  height: 100vh;
  overflow: auto;
  background: #34537b;
  position: fixed;
  top: 0;
  background-image: linear-gradient(rgba(68, 89, 130, 0.5), rgba(68, 89, 130, 0.5)), url("../../../assets/images/splashScreen_BG.jpg");
  /* background: url("../../../assets/images/howtoplaybg.png"); */
  background-size: contain;
  /* font-family: lalezar-Regular; */
  font-size: 1.05rem;
  letter-spacing: 0.2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 500px;
}

#howtoplay.standalone-class {
  margin-top: 40px;
}

ul li{
  line-height: 2rem;
  padding: 10px;
}
.container-fluid {
  background: #070738;
  color: white;
}
.carousel-item img {
  max-width: 100%;
  height: auto;
  margin: 5% 0 10% 0;
}
.carousel-item {
  padding: 0 4%;
}
.header-row {
  border-bottom: 3px solid white;
  padding-top: 5%;
  background: linear-gradient(rgba(52, 83, 123, 0.05), rgba(52, 83, 123, 0.05)), url("../../../assets/images/splashScreen_BG.jpg");
  background-size: cover;
}
.header-row h1 {
  color: #f1d505;
  /* font-family: lalezar-Regular; */
  letter-spacing: 0.2px;
  font-size: 2rem;
}
.header-row img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: #495f88;
}
.back-button-htp {
  background-color: #f1d505;
  width: 130px;
  border: 0;
  border-radius: 5px;
  padding: 1.5em;
  font-family: 'Montserrat';
  font-size: 0.8rem;
  font-weight: bold;
}
h2 {
  color: #f1d505;
  margin: 0 0 5px;
  /* font-family: lalezar-Regular; */
  letter-spacing: 0.2px;
  font-size: 1.3rem;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #151523;
}
.carousel-indicators li.active {
  background-color:#7591c3;
}
.carousel-indicators {
  position: relative;
  margin: 0;
}
.indicators {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 1.5rem;
}
.indicators img {
  width: 15px;
  height: auto;
  margin-top: 2px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 25px;
  height: 25px;
}
.indicators a {
  margin: 0 10px;
}
.rules-data {
  /* background: #2d364c; */
  padding: 10px;
  border-radius: 4px;
  border: 2px solid white;
}
.rules-text{
  white-space: pre-wrap;
}

.close_btn{
  text-align: end;
  cursor: pointer;
}

.carousel-control-next, .carousel-control-prev {
  position: relative;
  min-width: 15%;
  width: auto;
}

.carousel-inner .carousel-item{
  max-height: 700px;
  overflow: auto;
}

.carousel-item::-webkit-scrollbar {
  display: none;
}

@media (max-height:700px) {
  .back-button-htp {
    border: 0;
    padding: 0.5em 0.6em;
    font-family: 'Montserrat';
    font-size: 1.05rem;
    font-weight: bold;
  }
}

@media (min-width: 767px){
  .indicators{
    margin: 0 28%;
  }

  .carousel-item img {
    max-width: 65%;
  }

}

.sprite-htp {
  background-image: url(../../../assets/images/spritesheet-htp.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-HTP_1 {
  width: 925px;
  height: 656px;
  background-position: -5px -5px;
}

.sprite-HTP_10 {
  width: 925px;
  height: 656px;
  background-position: -940px -5px;
}

.sprite-HTP_11 {
  width: 925px;
  height: 656px;
  background-position: -1875px -5px;
}

.sprite-HTP_12 {
  width: 925px;
  height: 656px;
  background-position: -5px -671px;
}

.sprite-HTP_13 {
  width: 925px;
  height: 656px;
  background-position: -940px -671px;
}

.sprite-HTP_2 {
  width: 925px;
  height: 656px;
  background-position: -1875px -671px;
}

.sprite-HTP_3 {
  width: 925px;
  height: 656px;
  background-position: -5px -1337px;
}

.sprite-HTP_4 {
  width: 925px;
  height: 656px;
  background-position: -940px -1337px;
}

.sprite-HTP_5 {
  width: 925px;
  height: 656px;
  background-position: -1875px -1337px;
}

.sprite-HTP_6 {
  width: 925px;
  height: 656px;
  background-position: -5px -2003px;
}

.sprite-HTP_7 {
  width: 925px;
  height: 656px;
  background-position: -940px -2003px;
}

.sprite-HTP_8 {
  width: 925px;
  height: 656px;
  background-position: -1875px -2003px;
}

.sprite-HTP_9 {
  width: 925px;
  height: 656px;
  background-position: -2810px -5px;
}

.sprite-splashTitle {
  width: 320px;
  height: 210px;
  background-position: -2810px -671px;
}
