<div>
  <div id="htp-screen-main-container" class="htp-screen-main-container"
    [ngClass]="{'htp-desktop': showHTPScreensInDesktop}" *ngIf="showHTPScreens">
    <div class="htp-container">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-ride="carousel"
        data-touch="true">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let image of imagesConfig; let i=index"
            [ngClass]="(i === 0) ? 'active' : ''">
            <div class="htp-img-container">
              <img [src]="image">
            </div>
          </div>
        </div>
        <div class="indicators">
          <div class="btn-container">
            <button type="button" class="carousel-control-prev skip-button" (click)="onHowToPlaySkipClicked()">
              <span>Skip</span>
            </button>
            <div>
              <div>
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" *ngFor="let image of imagesConfig;let i = index" 
                    attr.data-slide-to="{{i}}" [ngClass]="(i === 0) ? 'active' : ''"></li>
                </ol>
            </div>
            </div>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>