<div class="bet-catch-the-trend">
    <div class="bet-over" style="display: flex">
        <div>
            <div style="display:flex;justify-content: space-between; padding: 0 16px 0 12px">
                <span 
                    class="material-icons change-over-icon" (click)="scrollTowards('left')">
                    arrow_back
                </span>
            </div>
        </div>
        <div class="text-center overs-btns-container" style="display: flex;" id="overs-btns">
            <span class="overs-btn-span" *ngFor="let n of numSequence(20); let i = index;"
                [ngStyle]="isBetPlacedOver(i) && { 'background-color': '#4569E2' }">
                <div class="over-number" [ngStyle]="{ 'color' : getWhichColorToDisplay(i+1), 'background-color' : getWhichBGToDisplay(i+1), 'border' : getWhichBorderToDisplay(i+1)}" (click)="jumpToOver(i+1)">
                    {{getWhatToDisplayInOver(i+1)}}
                </div>
            </span>
        </div>
        <div class="text-right">
            <div style="display:flex;justify-content: space-between; padding: 5px 12px 0 16px;">
                <span style="margin-left: auto;" (click)="scrollTowards('right')">
                    <span class="material-icons change-over-icon">
                    arrow_forward
                </span></span>
            </div>
        </div>
    </div>
    <div style="height: 40px; padding-left: 10px; padding-right: 10px; background-color: #F7CD46; color: #10246A; justify-content: space-between; display: flex; align-items: center;">
        <div style="font-weight:lighter;font-size: 14px;width: 38%">
            <span *ngIf="currentInnings == 1 || currentInnings == undefined">1<sup>st</sup> Innings</span>
            <span *ngIf="currentInnings == 2">2<sup>nd</sup> Innings</span>
        </div>
        <div style="font-size: 20px; width: 35%; font-weight: 900;line-height: 27px; letter-spacing: 0.05em; font-family: 'Nunito-ExtraBold';">
            <span>{{currentOver ? currentOver : 1}}{{overSup}} Over</span>
        </div>
        <div style="width: 27%; margin-top: 5px; display: flex; justify-content: flex-end;">
            <span style="font-size: 14px;" *ngIf="selectedOverScore">
                <span *ngFor="let over of selectedOverScore" class="selected-over-score"
                    [ngClass]="{'color-red': over == 'W'}">
                    {{over}}
                </span>
            </span>
        </div>
    </div>
    <div class="my-selections" *ngIf="mySelections?.length > 0">
        <table style="width:100%" cellspacing="0" cellpadding="0">
            <thead>
                <tr style="background: #0D1E59;">
                    <th style="width:15%;" class="text-center">OVER</th>
                    <th style="width:65%" class="text-center">SELECTIONS</th>
                    <th class="text-center">STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of mySelections;" style="padding:3px">
                    <td class="text-center">
                        <div class="my-selections-over-number">
                            {{item?.overNumber}}
                        </div>
                    </td>
                    <td class="text-center">
                            <span class="margin-right-8">
                                4's 
                                <span class="my-selctions-balls" style="background-color: #7E4BD0;">
                                    {{item?.selections[0]}}
                                </span>
                            </span>
                            <span class="margin-right-8">
                                6's 
                                <span class="my-selctions-balls" style="background-color: #438F5E;">
                                    {{item?.selections[1]}}
                                </span>
                            </span>
                            <span class="margin-right-8">
                                W's 
                                <span class="my-selctions-balls" style="background-color: #DE494C;">
                                    {{item?.selections[2]}}
                                </span>
                            </span>
                            <span>
                                0's 
                                <span class="my-selctions-balls" style="background-color: #D7AF3C;">
                                    {{item?.selections[3]}}
                                </span>
                            </span>
                    </td>
                    <td class="text-center " style="text-transform:uppercase; font-size: 10px">
                        <div class="my-selections-status" [ngStyle]="{'color':item.status === 'locked' ? '#4EA76E' : '#DE494C', 'background-color':  item.status === 'locked' ? '#C0E2CC' : '#F6CBCC'}">
                            {{item?.status}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="carouselExampleControls" class="carousel slide carousel-slides-bet-area" data-interval="false">
        <div class="carousel-inner bets" style="height: 100%">
            <div>
                <div id="bet-area" class="carousel-item" *ngFor="let n of numSequence(20); let i = index; let isFirst = first" [ngClass]="{active:isFirst}">
                    <div class="bets-row row-1">
                        <div class="fours">
                            <div class="card-row-1 text-center">
                                FOURS
                            </div>
                            <div class="card-row-2">
                                <img class="bet-background" src="assets/images/fourcompimage.png">
                                <div class="notification">
                                    <div class="notification-circle">
                                        {{fourNotification}}
                                    </div>
                                </div>
                            </div>
                            <div class="card-row-3">
                                <div class="text-center">
                                    <img class="bet-left" id="{{ 'bet-left-fours-' + i }}" (click)="changePredictions('fours',-1)"
                                        src="assets/images/betincreamenticon.png">
                                    <img src="assets/images/betplacebottombg_1.png">
                                    <img class="bet-right" id="{{ 'bet-right-fours-' + i }}" (click)="changePredictions('fours',1)"
                                        src="assets/images/betincreamenticon.png">
                                </div>
                                <div class="bet-value text-center">
                                    {{predictions.fours}}
                                </div>
                            </div>
                        </div>
                        <div class="sixes">
                            <div class="card-row-1 text-center">
                                SIXES
                            </div>
                            <div class="card-row-2">
                                <img class="bet-background" src="assets/images/sixcompimage.png">
                                <div class="notification">
                                    <div class="notification-circle">
                                        {{sixNotification}}
                                    </div>
                                </div>
                            </div>
                            <div class="card-row-3">
                                <div class="text-center">
                                    <img class="bet-left" id="{{ 'bet-left-sixes-' + i }}" (click)="changePredictions('sixes',-1)"
                                        src="assets/images/betincreamenticon.png">
                                    <img src="assets/images/betplacebottombg_1.png">
                                    <img class="bet-right" id="{{ 'bet-right-sixes-' + i }}" (click)="changePredictions('sixes',1)"
                                        src="assets/images/betincreamenticon.png">
                                </div>
                                <div class="bet-value text-center">
                                    {{predictions.sixes}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bets-row row-2">
                        <div class="wickets">
                            <div class="card-row-1 text-center">
                                WICKETS
                            </div>
                            <div class="card-row-2">
                                <img class="bet-background" src="assets/images/wicketcompimage.png">
                                <div class="notification">
                                    <div class="notification-circle">
                                        {{wicketNotification}}
                                    </div>
                                </div>
                            </div>
                            <div class="card-row-3">
                                <div class="text-center">
                                    <img class="bet-left" id="{{ 'bet-left-wickets-' + i }}" (click)="changePredictions('wickets',-1)"
                                        src="assets/images/betincreamenticon.png">
                                    <img src="assets/images/betplacebottombg_1.png">
                                    <img class="bet-right" id="{{ 'bet-right-wickets-' + i }}" (click)="changePredictions('wickets',1)"
                                        src="assets/images/betincreamenticon.png">
                                </div>
                                <div class="bet-value text-center">
                                    {{predictions.wickets}}
                                </div>
                            </div>
                        </div>
                        <div class="dots">
                            <div class="card-row-1 text-center">
                                DOT BALLS
                            </div>
                            <div class="card-row-2">
                                <img class="bet-background" src="assets/images/dotcompimage.png">
                                <div class="notification">
                                    <div class="notification-circle">
                                        {{dotBallNotification}}
                                    </div>
                                </div>
                            </div>
                            <div class="card-row-3">
                                <div class="text-center">
                                    <img class="bet-left" id="{{ 'bet-left-dots-' + i }}" (click)="changePredictions('dots',-1)"
                                        src="assets/images/betincreamenticon.png">
                                    <img src="assets/images/betplacebottombg_1.png">
                                    <img class="bet-right" id="{{ 'bet-right-dots-' + i }}" id="bet-right-dots" (click)="changePredictions('dots',1)"
                                        src="assets/images/betincreamenticon.png">
                                </div>
                                <div class="bet-value text-center">
                                    {{predictions.dots}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" [class.disabled]="currentOver == 1" href="#carouselExampleControls" role="button" data-slide="prev"  (click)="changeOver(-1)">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <!-- <span class="sr-only">Previous</span> -->
        </a>
        <a class="carousel-control-next" [class.disabled]="currentOver == 20" href="#carouselExampleControls" role="button" data-slide="next" (click)="changeOver(1)">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <!-- <span class="sr-only">Next</span> -->
        </a>
        <div class="carousel-indicators">
        <button class="btn play-button text-center w-100" style="font-family: 'Nunito-ExtraBold'; font-weight: bolder; color: #10246A;text-transform: uppercase;" [disabled]="isPlayButtonDisabled()" (click)="onPlayClicked()"
         *ngIf="(playButtonText !== 'Current Over' && playButtonText !== 'Not Played')"
         [ngStyle]="{'font-size': isPlayButtonDisabled() ? '20px' : '24px'}">
            {{playButtonText}}
        </button>
        <div class="current-over-label-div text-center w-100" *ngIf="(playButtonText === 'Current Over' || playButtonText === 'Not Played')">
            {{playButtonText}}
        </div>
    </div>
      </div>
</div>