canvas {
    width: 100%;
    height: 100%;
}

a.disabled {
    pointer-events: none;
    cursor: not-allowed; 
 }

table {
    color: white;
    border: none !important;
    border-collapse: collapse;
}

tr,td,th {
    border: none !important;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #0D1E59;
}

tr:nth-child(odd) {
    background-color: #10246A;
}

td {
    padding: 8px;
}

th {
    padding: 6px;
    font-size: 11px;
}

.my-selctions-balls, .my-selections-over-number {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.my-selections-over-number {
    background-color: white;
    color: #10246A; 
    font-weight: 900;
    font-size: 11px;
}

.my-selections-status {
    width: 60px;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.margin-right-8 {
    margin-right: 8px;
}
.bet-over {
    background: #1A3AA8;
    color: white;
    /* padding: 10px 0; */
    font-weight: 600;
    align-items: center;
}
.bet-over > div {
    width: max-content;
    display: inline-block;
}
.bet-over > div:nth-child(2) {
    vertical-align: super;
}
.bet-over .material-icons {
    cursor: pointer;
}
.overs-btn-span {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.over-number {
    background-color: #142C80;
    color: white;
    height: 24px;
    width: 24px;
    justify-content: space-around;
    border-radius: 14px;
    align-items: center;
    display: flex;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.current-over-label-div {
    color: #F7CD46;
    font-size: 24px;
    margin: 30px 0;
    height: 53px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.play-button {
    color: white;
    position: relative;
    background-color: #F7CD46;
    margin: 30px 0;
    height: 53px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button:disabled {
    background: #888888;
    color : #cccccc !important;
    opacity: 1;
}

.play-button .btn {
    position: relative;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.05em;
}

.play-button div {
    position: absolute;
    left: 0;
    top: calc(50% - 12px);
    right: 0;
    font-weight: bold;
    cursor: pointer;
}
.bets {
    padding: 35px;
    background: linear-gradient(rgb(61 61 65 / 80%), rgba(0, 0, 0, 0.2)), url("../../../assets/images/betpanelbg5.jpg") no-repeat center;
    background-size: cover;
}
.bets-row {
    display: flex;
    justify-content: space-evenly;
    margin: 2% 0;
}
.card-row-2 {
    position: relative;
    text-align: center;
}
.fours .bet-background{
    position: relative;
    /* filter: brightness(0) saturate(100%) invert(29%) sepia(53%) saturate(3002%) hue-rotate(252deg) brightness(90%) contrast(87%); */
}
.sixes .bet-background{
    position: relative;
    /* filter: brightness(0) saturate(100%) invert(42%) sepia(72%) saturate(491%) hue-rotate(101deg) brightness(90%) contrast(91%); */
}
.wickets .bet-background{
    position: relative;
    /* filter: brightness(0) saturate(100%) invert(28%) sepia(72%) saturate(4015%) hue-rotate(340deg) brightness(104%) contrast(89%); */
}
.dots .bet-background{
    position: relative;
    /* filter: brightness(0) saturate(100%) invert(62%) sepia(97%) saturate(902%) hue-rotate(7deg) brightness(97%) contrast(95%); */
}
.bet-left {
    transform: rotate(180deg);
}
.bet-left, .bet-right {
    cursor: pointer;
}
.card-row-1 {
    color: white;
    font-family: 'Nunito-ExtraBold';
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.08em;
    margin-bottom: 5px;
}
.card-row-3 {
    position: relative;
}
.card-row-3 div:first-child {
    position: relative;
}
.card-row-3 div:first-child img:first-child {
    opacity: 0.3;
}
.card-row-3 div:first-child img:nth-child(2) {
    padding: 0 10px;
}
.card-row-3 .bet-value {
    position: absolute;
    margin: 0 auto;
    top: calc(50% - 7px);
    left: 0;
    right: 0;
    font-size: 4rem;
    font-family: 'Nunito-ExtraBold';
    width: 50%;
    color: #142C80;
}
.bet-number {
    position: absolute;
    text-align: center;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.change-over-icon {
    cursor: pointer;
    color: white;
    font-size: 18px;
}
.notification {
    display: inline-block;
    display: none;
    margin-right: -35px;
    position: absolute;
    margin-left: -10px;
    top: -5px;
}
.notification-circle {
    height: 25px;
    width: 25px;
    /* border-radius: 50%; */
    border: 2px solid red;
    border-radius: 50%;
    background: red;
    color: white;
    font-weight: bold;
}
.notification-circle-green {
    border: 2px solid green;
    background: green;
}
.notification-circle-grey {
    border: 2px solid grey;
    background: grey;
}
.selected-over-score{
    margin: 0 2px;    
    vertical-align: super;
    font-size: 12px;
    font-weight: lighter;
}
.color-red {
    color: red;
}

@media (max-width: 500px) {
    .card-row-3 div:first-child img:nth-child(2) {
        padding: 0px 5px;
        width: 76%;
    }
    .bets-row {
        margin: 1% 0;
        margin-bottom: 5%;
    }
    .bet-left, .bet-right {
        max-width: 12%;
    }
    .bets-row > div {
        transform: scale(0.9);
    }
    .play-button img {
        max-width: 75%;
    }
}

@media (min-width: 800px) and (min-height: 1000px)  {
    .bets-row {
        margin: 20% 0;
    }
}

.overs-btns-container {
    width: 30em;
    /* overflow-x: auto; */
    scroll-behavior: smooth;
    white-space: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #1A3AA8;
    display: flex;
    /* flex-direction: row; */
    overflow-x: scroll;
}

.overs-btns-container::-webkit-scrollbar {
    display: none;
}

.mat-primary {
    background-color: #142C80;
}

.carousel-indicators {
    margin-right: 10%;
    margin-left: 10%;
}

.carousel-slides-bet-area {
    height: 56vh;
}

.carousel-slides-bet-area > .carousel-control-next, .carousel-slides-bet-area > .carousel-control-prev {
    height: 28px;
    width: 28px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 14px;
    margin-top: 49%;
}

.carousel-slides-bet-area > .carousel-control-prev {
    margin-left: 10px;
}

.carousel-slides-bet-area > .carousel-control-next {
    margin-right: 10px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 10px;
    width: 10px;
}

@media (max-height: 740px) {
    .carousel-slides-bet-area {
        height: 66vh;
    }
}


