<div id="history-vctt" class="history">
    <div class="navigation">
        <div class="back" (click)="onHistoryBackClicked()">
            <img src="assets/images/arrow-dropdown.svg" alt="" class="back-button">
        </div>
        <ul class="nav nav-pills mb-3 tabs" id="pills-tab" role="tablist">
            <li class="nav-item play_tabs" (click)="onFreePlayButtonClicked()">
                <a id="freeplay" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                    role="tab" aria-controls="pills-home" aria-selected="true">FREE PLAY</a>
            </li>
            <li class="nav-item play_tabs" style="margin-right: 5px;" (click)="onCashPlayButtonClicked()">
                <a id="cashplay" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                    role="tab" aria-controls="pills-profile" aria-selected="false">CASH PLAY</a>
            </li>
        </ul>
        <div id="date_picker" class="date_picker" (click)="onDateIconClicked()">
            <img src="assets/images/date.png" alt="">
        </div>
    </div>
    <div [hidden]="!showCalendar" class="calendar">
        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [dayTemplate]="t" outsideDays="hidden">
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
                {{ date.day }}
            </span>
        </ng-template>
        <div class="calendar_buttons">
            <button class="btn cancel" (click)="onDateIconClicked()">CANCEL</button>
            <button class="btn select" (click)="onDateRangeSelected()">SELECT</button>
        </div>
    </div>


    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>DATE/TIME</th>
                        <th>GAME WEEK</th>
                        <th>SCORE</th>
                        <th>POSITION</th>
                        <th>PRIZE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of freePlayHistoryData;">
                        <td><img src="assets/images/arrow-dropdown.svg" alt=""></td>
                        <td class="text-center">{{item.date}} {{item.time}}</td>
                        <td class="text-center">{{item.weekNumber}}</td>
                        <td class="text-center">{{item.points}}</td>
                        <td class="text-center">{{item.position}}</td>
                        <td class="text-right" style="font-weight: bold;">&#8377; {{item.winAmount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>DATE/TIME</th>
                        <th>BET ID</th>
                        <th>GAME TYPE</th>
                        <th>STAKE</th>
                        <th>WIN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cashPlayHistoryData;">
                        <td><img src="assets/images/arrow-dropdown.svg" alt=""></td>
                        <td class="text-center">{{item.date}} {{item.time}}</td>
                        <td class="text-center">{{item.matchId}}</td>
                        <td class="text-center">{{item.gameType}} {{item.gameType > 1 ? 'overs' : 'over'}}</td>
                        <td class="text-center">&#8377; {{item.betAmount}}</td>
                        <td class="text-center">&#8377; {{item.winAmount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

        </div>
    </div>
</div>