#history-vctt .history {
  margin-top: 10px;
}

#history-vctt .tab-content {
  padding: 0 10px;
}

#history-vctt table.table {
  border-collapse: separate;
  border-spacing: 0 0.75em;
  font-family: "Nunito-Bold";
  font-size: 8px;
  color: #1a3aa8;
  font-weight: bolder;
}

#history-vctt table.table tbody tr {
  font-family: "Nunito";
  background-color: #f2f4fd;
  font-weight: lighter;
}

#history-vctt table.table tbody tr td {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

#history-vctt table.table tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#history-vctt table.table tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#history-vctt .table thead th {
  font-family: "Nunito";
  padding-bottom: 0rem;
  border-bottom: none;
  letter-spacing: 0.03rem;
}

#history-vctt .table td,
.table th {
  border-top: none;
  padding: 0.25rem 0.7rem;
}

#history-vctt .table th:nth-child(2) {
  padding-left: 0px;
}

#history-vctt .table th:nth-child(3) {
  padding-left: 0px;
}

#history-vctt .table tr td:nth-child(2) {
  padding-left: 0px;
}

#history-vctt .table tr td:nth-child(3) {
  padding-left: 0px;
}

#history-vctt table.table thead {
  font-size: 9px;
}

#history-vctt .list-group-item {
  color: #1a3aa8;
  font-weight: 900;
}

#history-vctt .nav-item {
  border: 1px solid #1a3aa8;
  border-radius: 3px 0 0 3px;
}

#history-vctt .nav-item a {
  color: #1a3aa8;
  font-weight: 900;
}

#history-vctt .nav-pills .nav-link {
  border-radius: 0;
}

#history-vctt .tabs {
  font-family: "Nunito";
  font-size: 12px;
  margin-left: 5px;
}

#history-vctt .navigation {
  margin-top: 10px;
  margin-bottom: -15px;
  display: flex;
  justify-content: center;
}

#history-vctt .play_tabs {
  width: 36vw;
  text-align: center;
}

#history-vctt .date-input {
  display: none;
}

#history-vctt .back {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 38px;
  border: 1px solid #1a3aa8;
  border-radius: 5px;
}

#history-vctt .back-button {
  transform: rotate(90deg);
  height: 8px;
  margin: 10px;
}

#history-vctt .date_picker {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid #1a3aa8;
  border-radius: 5px;
  height: 38px;
  width: 40px;
}

#history-vctt .date_picker .form-inline {
  justify-content: center;
}

#history-vctt .custom-day {
  font-family: "Nunito-ExtraBold";
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  color: #1c3ba8;
  border-radius: 3px;
}

#history-vctt .custom-day.focused {
  background-color: #e6e6e6;
}

#history-vctt .custom-day.range,
.custom-day:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b3ba8;
  color: white;
}

#history-vctt .custom-day.faded {
  color: #1c3ba8;
  background-color: #f2f4fd;
}

#history-vctt .calendar {
  background-color: white;
  position: absolute;
  right: 10px;
  top: 50px;
  z-index: 999;
}

#history-vctt .nav-pills .nav-link.active,
#history-vctt .nav-pills .show>.nav-link {
  background-color: #1a3aa8;
  color: #f2f4fd;
}

#history-vctt .list-group-item.player_info {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #f2f4fd;
}

#history-vctt .list-group li {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 9px;
  font-weight: 900;
  color: #1a3aa8;
}

#history-vctt .calendar {
  box-shadow: 0px 0px 40px rgba(78, 96, 144, 0.2);
}

#history-vctt .header {
  border: 0;
}

#history-vctt .ngb-dp-navigation-select select {
  font-family: "Nunito-ExtraBold";
  background-color: transparent;
  border: transparent;
  color: #1c3ba8;
}

#history-vctt .ngb-dp-navigation-chevron {
  color: #dbe0e4;
}

#history-vctt .ngb-dp-weekdays,
#history-vctt .ngb-dp-header {
  background-color: white;
  border-bottom: none;
}

#history-vctt .ngb-dp-weekday {
  font-family: "Nunito-ExtraBold";
  color: #abb1c4;
  font-style: normal;
}

#history-vctt ngb-datepicker {
  border-radius: 5px;
  border: transparent;
}

#history-vctt .calendar_buttons {
  font-family: "Nunito-ExtraBold";
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#history-vctt .calendar_buttons .cancel {
  font-size: 12px;
  background-color: #f0f0f0;
}

#history-vctt .calendar_buttons .select {
  font-size: 12px;
  background-color: #f7cd46;
}

#history-vctt ngb-datepicker-navigation-select>.custom-select {
  padding: 0;
  text-align: center;
}

#history-vctt .custom-select {
  background: transparent;
}

#history-vctt ngb-datepicker-month {
  margin-bottom: -10px;
}

#history-vctt .tab-pane {
  overflow: auto;
  max-height: 650px;
}

@media (orientation: portrait) {
  #history-vctt .play_tabs {
    width: 36vw;
  }
}

@media (orientation: landscape) {
  #history-vctt .calendar {
    right: 27%;
  }
}

@media (min-width: 945px) {
  #history-vctt .play_tabs {
    width: 20vw;
  }
}