<div class="fwp-main-component">
<table>
    <thead class="table-header">
        <th>{{textConfig ? textConfig.gameId : "GAME ID"}}</th>
        <th class="text-right">{{textConfig ? textConfig.dateTime : "DATE/TIME"}}</th>
        <th class="text-right">{{buttonConfig ? buttonConfig.bet : "BET"}}{{ " (" }}{{currencySymbol}}{{ ")" }}</th>
        <th class="text-right">{{textConfig ? textConfig.returns : "RETURNS"}}{{ " (" }}{{currencySymbol}}{{ ")" }}</th>
    </thead>
    <tbody *ngFor="let item of resultData; let i = index;">
        <tr (click)="onShowResult(i)">
            <td>
                <div class="avatar">
                    <img src="" alt="" />
                    <span *ngIf="isMobile">{{item.gameId | slice:0:4 }}...</span>
                    <span *ngIf="!isMobile">{{item.gameId | slice:0:10 }}...</span>
                </div>
            </td>
            <td class="text-right date-time">{{item.date}} <br />{{item.time}}</td>
            <td class="text-right">{{item.formattedBetAmount}}</td>
            <td class="text-right">{{isShabiki ? (item.formattedWinAmountAfterTax) : (item.formattedWinAmount) }} <span style="padding: 5px;">
                    <img id="{{'arrow' + i}}" class="arrow" height="9px" src="assets/images/arrow_L.png" alt=""></span>
            </td>
        </tr>
        <tr class="inner" *ngIf="showResultData['showResult' + i]">
            <td colspan="4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label for="">{{textConfig ? textConfig.cashOutValue : "Cashout Value:"}} </label><span [ngClass]="item.colorFlag ? item.colorFlag : ''">{{item.points == 0 ? '-' : item.currentMultiplier | number : '1.2-2'}}</span>
                    </li>
                    <li class="list-group-item">
                        <label for="">{{textConfig ? textConfig.team : "Team:"}} </label><span>{{item.team}}</span>
                    </li>
                    <li class="list-group-item">
                        <label for="">{{textConfig ? textConfig.goalScored : "Goal Scored:"}} </label><span>{{item.multiplier}}</span>
                    </li>
                    <li class="list-group-item" *ngIf="isShabiki && showWithholdingTax">
                        <label for="">{{textConfig ? textConfig.exciseTax : "Excise Tax:"}}</label><span>{{item.exciseTax}}</span>
                    </li>
                    <li class="list-group-item" *ngIf="isShabiki && showWithholdingTax">
                        <label for="">{{textConfig ? textConfig.stakeAfterTax : "Stake Amount After Tax: "}}</label><span>{{item.formattedBetAmountAfterTax}}</span>
                    </li>
                    <li class="list-group-item" *ngIf="isShabiki && showWithholdingTax">
                        <label for="">{{textConfig ? textConfig.withholdingTax : "Withhold Tax:"}} </label><span>{{item.taxedWinnings}}</span>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
</div>