::ng-deep #body {
    max-width: 500px;
}

.main-header-container {
    background: black;
    color: white;
    max-width: 800px;
    margin: 0 auto;
}

.header-container-back-button {
    padding: 7px 12px 4px 12px;
    border: 1px solid;
    font-size: 18px;
    cursor: pointer;
    /* visibility: hidden; */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

#preloader {
    background-image: url("../../assets/images/preloaderbg.jpg");
    position: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    max-width: 800px;
    z-index: 1;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-position: top;
}

.preloader-bar-box {
    margin: 1.5rem 1.5rem 10rem 1.5rem;
}

.preloader-bar {
    background-image: url("../../assets/images/preloaderbar.png");
    /* margin: 15px; */
    border-radius: 0.25rem;
}

.preloader-img {
    margin-top: -55px;
}

.progress {
    height: 3rem;
    background-color: black;
    border-radius: 0.4rem;
    /* padding: 5px; */
    font-weight: bold;
    font-size: 1rem;
    border: 4px solid black;
}

.progress-bar-loading {
    position: absolute;
    left: 0;
    right: 0;
}

.preloader-back-button img {
    height: 50px;
    cursor: pointer;
}

.preloader-back-button .back-btn {
    padding: 10px;
}

.display-game {
    font-family: 'Arial';
}

.desktop-bottom,
.desktop-history {
    display: none;
    position: relative;
}

#bet_panel {
    background-color: black;
}

.info {
    cursor: pointer;
}

#anim_canvas {
    width: 100%;
    height: 100%;
}

.main_container {
    width: 100%;
    margin: 0 auto;
    background: #1A1D24;
    display: flex;
    flex-direction: column;
}

.playabet-main-container {
    max-width: 500px;
}

.betyetu-main-container {
    max-width: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.play_container {
    flex-direction: row;
}

#canvas {
    width: 100%;
    max-height: 545px;
}

#bet-placed-popup .modal-header,
#generic-popup .modal-header {
    justify-content: end;
}

#bet-placed-popup .modal-dialog,
#generic-popup .modal-dialog {
    top: calc(75vh - 55%);
}

#bet-placed-popup .modal-body,
#generic-popup .modal-body {
    font-size: 0.85rem;
    font-weight: 600;
}

#bet-placed-popup .btn,
#generic-popup .btn {
    font-size: 0.8rem;
    background: #50515a;
    margin: 10px;
}

.desktop-previous-multipliers {
    display: none;
    align-items: center;
    justify-content: space-between;
    background: black;
}

.desktop-previous-multipliers .multiplier {
    display: flex;
    justify-content: space-between;
}

.bet_times {
    display: flex;
    justify-content: center;
}

.desktop-previous-multipliers .bet_times span {
    width: 330px;
    margin: 0 9px;
    font-size: 0.75rem;
    padding: 3px 15px;
    border-radius: 3px;
}

.bg-white {
    background-color: #F4FFFD;
    color: black;
}

.bg-yellow {
    background-color: #F1D205;
    color: black;
}

.bg-green {
    background-color: #3BB273;
}

.bg-orange {
    background-color: #F7B32B;
    color: black;
}

.bg-blue {
    background-color: #4D9DE0;
}

.bg-red {
    background-color: #E3170A;
}

.bg-pink {
    background-color: #FFB6C1;
    color: black;
}

.bg-cream {
    background-color: #FFF5EE;
    color: black;
}

.modal-body-new {
    background: #262626;
    color: white;
    border-radius: 15px;
}

.new-info-class {
    background: #333333;
    padding: 15px 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.modal-dialog-new {
    margin: 3rem;
    border-radius: 15px;
}

.new-bet-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: small;
}

.new-bet-info span:first-child {
    color: #b7b3b3;
}

.new-cashedout-successfully-text {
    margin-top: 12px;
    font: normal normal medium Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
}

.new-close-button {
    position: absolute;
    right: -10px;
    top: -10px;
}

.modal-dialog-generic-new {
    margin: 3rem;
}

/* .mobile-htp #bet_panel{
    display: none;
}

.mobile-htp #display-game{
    height: 100%;
}

.mobile-htp #main-container{
    height: 100%;
}

.mobile-htp.game-container{
    height: 100%;
}

.mobile-htp .play_container{
    height: 100%;
}

.mobile-htp .play{
    height: 100%;
}

.mobile-htp #canvas{
    height: 100%;
    max-height: max-content;
} */


@media (orientation: portrait) {
    .play_container .play {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 800px) {
    .play {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* WAC */

@media (max-width: 810px) and (max-height: 610px) {
    .play {
        flex-direction: row;
    }
}

/* WAC */


@media (min-width: 800px) {
    .modal-dialog-new {
        margin: auto;
    }

    .modal-dialog-generic-new {
        margin: auto;
    }

    /* .modal-content-new {
        width: 70%;
        left: 215px;
    } */

    #iframeElement {
        height: 100%;
    }

    .betyetu-popup-new {
        margin-left: 230px;
        margin-right: 210px;
    }

    /* .preloader-bar-box {
        margin: 1.5rem 9.5rem 4rem 9.5rem;
    } */

    .main_container {
        max-width: 800px;
    }

    .display-game {
        background: transparent;
    }

    #bet_panel {
        width: 420px;
        height: 545px;
        overflow: hidden;
    }

    .desktop-previous-multipliers {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        padding-left: 0px;
    }

    .desktop-history {
        min-height: 100vh;
        padding: 15px 150px;
        background: #2f3258f2;
    }

    .desktop-history {
        display: flex;
        justify-content: center;
    }

    .desktop-bottom {
        display: block;
    }

    .play_container {
        display: block;
        position: relative;
    }

    .play_container .play {
        display: flex;
        flex-direction: row;
    }

    .desktop-previous-multipliers .info {
        display: flex;
    }

    #bet-placed-popup .modal-dialog,
    #generic-popup .modal-dialog {
        top: calc(75vh - 55%);
    }

    #canvas {
        width: 100%;
        max-height: 545px;
        max-width: 524px;
    }
}

@media (min-width: 765px) {
    .betyetu-popup-new {
        margin-left: 230px;
        margin-right: 210px;
    }

}

.modal-dialog-new-wac {
    margin: auto;
}