<div id="odds-table">
    <div class="info">
        <div>
            <img src="../../../assets/images/coin.png" alt="">
        </div>
        <p>Below is the table of what can be won by predicting selections correctly in each of the 1,3 and 5 over games.
        </p>
    </div>
    <div>
        <div class="title"><p>1 Over Game</p></div>
        <div class="desc">
            <p><span class="bold-text">ALL</span> SELECTIONS CORRECT
                <span class="f-right bold-text">x5.00</span></p>
        </div>
        <div class="title"><p>3 Over Game</p></div>
        <div class="desc">
            <p><span class="bold-text">ALL</span> SELECTIONS CORRECT<span class="f-right bold-text">x50.00</span></p>

            <p>AT LEAST 1 OVER CORRECT<span class="f-right bold-text">x2.00</span></p>
        </div>
        <div class="title"><p>5 Over Game</p></div>
        <div class="desc">
            <p><span class="bold-text">ALL</span> SELECTIONS CORRECT<span class="f-right bold-text">x500.00</span></p>
            <p>AT LEAST <span class="bold-text">4 OVERS</span> CORRECT<span class="f-right bold-text">x10.00</span></p>
            <p>AT LEAST <span class="bold-text">2 OVERS</span> CORRECT<span class="f-right bold-text">x2.00</span></p>
        </div>
    </div>
</div>