#odds-table{
    font-family: 'Nunito-Bold';
    margin: 10px;
}
.info{
    font-family: 'Nunito-Bold';
    margin: 15px 0px;
    display: flex;
    align-items: center;
    border: 1px solid #B8C6F4;
    border-radius: 5px;
}

p{
    margin: 0;
}

.desc{
    padding-top: 10px;
    padding-bottom: 20px;
}

.f-right{
    float: right;
}

.desc p{
    padding: 0 5px;
    font-size: 12px;
    color: #1A3AA8;
}

.bold-text{
    font-family: 'Nunito-ExtraBold';
}

.info p{
    padding: 0px 5px;
    font-weight: 900;
    color: #132B80;
    font-size: 0.80rem;
    line-height: 16px;
}

.info img{
    padding: 12px 15px;
}

.title{
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    color: #1A3AA8;
    background: #F2F4FD;
}

.title p{
    padding: 7px;
}