<div id="fwp-bottom-component-container" class="row fwp-row">
  <div class="col-2 column">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <div class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
        aria-controls="v-pills-home" aria-selected="true" (click)="getLeaderBoardData(false)"><span>{{buttonConfig ? buttonConfig.players : "PLAYERS"}}</span></div>
      <div class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
        (click)="resetBetHistory()" aria-controls="v-pills-profile" aria-selected="false"><span>{{buttonConfig ? buttonConfig.betHistory :"BET HISTORY"}}</span></div>
      <div class="nav-link" (click)="getBigWinsData()" id="v-pills-messages-tab" data-toggle="pill"
        href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span>{{buttonConfig ? buttonConfig.bigWin : "BIG WINS"}}</span>
      </div>
      <div *ngIf="showChatsOption" class="nav-link" id="v-pills-chats-tab" data-toggle="pill" href="#v-pills-chats" role="tab"
        (click)="onChatsClicked('mobile')" aria-controls="v-pills-chats" aria-selected="false"><span>CHAT</span><span
          *ngIf="showUnreadChats && chatsCount != 0" [ngClass]="{'current-player-id' : isMyId}"
          style="background-color: #E3170A; border-radius: 5px; padding: 5px;">+{{chatsCount}}</span>
      </div>
      <div role="tab" (click)="settingsClicked()" style="margin-top: 25px; cursor: pointer;">
        <span class="material-icons share_icon" id="settingIcon">settings</span>
      </div>
    </div>
  </div>
  <div class="col-10 column">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="players-bets-table">
          <table>
            <thead class="table-header">
              <th>{{textConfig ? textConfig.user : "USER"}}</th>
              <th class="text-center">{{textConfig ? textConfig.multiplier : "MULTIPLIER"}}</th>
              <th class="text-center">{{buttonConfig ? buttonConfig.bet : "BET"}}{{ "(" }}{{currencySymbol}}{{ ")" }}</th>
              <th class="text-right">{{textConfig ? textConfig.win : "WIN"}}{{ "(" }}{{currencySymbol}}{{ ")" }}</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of playerBets">
                <td>
                  <div class="avatar">
                    <img src="" alt="" />
                    <span>{{item.playerId}}</span>
                  </div>
                </td>
                <td class="text-center">{{item.multiplier ? (item.multiplier | number : '1.2-2') : '-'}}</td>
                <td class="text-center">{{item.formattedBetAmount}}</td>
                <td class="text-right">{{item.formattedPoints}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <app-fwphistory [resetHistory]="resetHistory.asObservable()"></app-fwphistory>
      </div>
      <div class="tab-pane" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <div class="big-wins-table">
          <table>
            <thead class="table-header">
              <th>{{textConfig ? textConfig.user : "USER"}}</th>
              <th class="text-center">{{textConfig ? textConfig.multiplier : "MULTIPLIER"}}</th>
              <th class="text-center">{{buttonConfig ? buttonConfig.bet : "BET"}}{{ "(" }}{{currencySymbol}}{{ ")" }}</th>
              <th class="text-right">{{textConfig ? textConfig.win : "WIN"}}{{ "(" }}{{currencySymbol}}{{ ")" }}</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of bigWinsData" class="hide-players">
                <td>
                  <div class="avatar">
                    <img src="" alt="" />
                    <span>{{item.playerId}}</span>
                  </div>
                </td>
                <td class="text-center">{{item.finalMultiplier ? (item.finalMultiplier / 100 | number : '1.2-2') :
                  '-'}}</td>
                <td class="text-center">{{item.formattedBetAmount}}</td>
                <td class="text-right">{{item.formattedWinAmount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="showChatsOption" class="tab-pane" id="v-pills-chats" role="tabpanel" aria-labelledby="v-pills-chats-tab">
        <app-fwpchats [chatData]="chatData" (checkWordLength)="checkWordLength($event)"
          (enterMessage)="enterMessage()">
        </app-fwpchats>
      </div>
    </div>
    <div class="online_players" *ngIf="!openChats">
      <div><label>Online: </label><span> 526</span></div>
      <div><label>Playing: </label><span> 139</span></div>
      <div><label>Betting: </label><span> 12,461</span></div>
    </div>
    <div class="online_players" *ngIf="openChats">
      <label>Rain | Chat Rules</label>
      <label>{{messageLength}} / 300</label>
    </div>
  </div>
</div>
<div id="openSetting">
  <div *ngIf="isSettingsTabOpen" style="position: relative;">
    <div id="settings" class="settings" [ngClass]="{'shabiki-settings':(fwpComponent.configService.configData.platformId == '2')}">
      <table class="settings-table">
        <tr (click)="showFWPRulesPage()">
          <td><img src="assets/images/rulesIcon.png" alt=""></td>
          <td>How To Play</td>
        </tr>
        <tr (click)="showFWPTermsPage()">
          <td>
            <img src="assets/images/rulesIcon.png" alt="">
          </td>
          <td>
            Terms
          </td>
        </tr>
        <tr *ngIf="setAnimationOption">
          <td>Animations</td>
          <td >
            <label class="switch" >
              <input type="checkbox" (click)="showAnimation()">
              <span class="slider round"></span>
            </label>
          </td>
        </tr>
      </table>
      <!-- <ul class="settings-list">
          <li class="sounds"><img src="assets/images/soundIcon.png" alt=""> <span>Sounds</span></li>
          <li class="animation"><img src="assets/images/animationOnIcon.png" alt=""> <span>Animation</span></li>
          <li class="account"><img src="assets/images/profile.png" alt=""> <span>Account</span></li>
          <li class="rules"><img src="assets/images/rulesIcon.png" alt=""> <span>Rules</span></li>
        </ul> -->
    </div>
  </div>
</div>

<div id="fwp-rules-page" class="fwp-rules-page" *ngIf="showRules" [ngClass]="{'fwp-rules-playabet': isPlayabet, 'fwp-rules-betyetu': isBetyetu}">
  <div class="container-fluid" id="htpanchor" class="container-fluid" *ngIf="rules">
    <div class="row header-row">
      <div class="col-2">

      </div>
      <div class="col-8 text-center">
        <h1 class="htp-heading">{{headings.howToPlay}}</h1>
      </div>
      <div class="col-2 close_btn">
        <a (click)="onClose()"><img src="assets/images/HTPFWP_Assets/closeBtn.png"></a>
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-touch="true">

      <div class="carousel-inner">
        <div class="carousel-item text-center" *ngFor="let rule of rules; let i=index"
          [ngClass]="(i === 0) ? 'active' : ''">
          <img class="htp_images" [src]="rule.img" alt="...">
          <!-- <div class="carousel-caption d-none d-md-block">
          </div> -->
          <div class="rules-data">
            <div class="rules-title" *ngIf="i != 0">
              <h2>{{rule.title}}</h2>
            </div>
            <div class="rules-title" *ngIf="i == 0">
              <h2 style="margin-bottom: -2px;">{{rule.title}}</h2>
              <h2>{{rule.title2}}</h2>
            </div>
            <div class="rules-text">
              {{rule.text}}
            </div>
          </div>
          <div *ngIf="i==(rules.length-1)">
            <br>
            <div class="rules-text">
              <p style="color: yellow; cursor: pointer; margin-bottom: 5px;" (click)="showFWPTermsPage()">FAQs and Terms</p>
            </div>
            <!-- <button class="back-button" (click)="onClose()">BACK TO GAME</button> -->
          </div>
        </div>
      </div>
      <div class="indicators" [ngClass]="{'indicators-playabet': isPlayabet, 'indicators-betyetu': isBetyetu}">
        <div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <img src="assets/images/arrow_L.png">
            <span class="sr-only">Previous</span>
          </a>
        </div>
        <div>
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" *ngFor="let rule of rules;let i = index"
              attr.data-slide-to="{{i}}" [ngClass]="(i === 0) ? 'active' : ''"></li>
          </ol>
        </div>
        <div>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <img src="assets/images/arrow_R.png">
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="fwpTerms" class="fwpTerms" *ngIf="showTerms" [ngClass]="{'fwpTerms-playabet': isPlayabet, 'fwpTerms-betyetu': isBetyetu, 'demo': isDemo}">
  <div class="row header-row">
    <div class="col-2">
    </div>
    <div class="col-8 text-center">
      <h3>{{headings.termsAndConditions}}</h3>
    </div>
    <div class="col-2 close_btn">
      <a (click)="onClose()"><img src="assets/images/HTPFWP_Assets/closeBtn.png"></a>
    </div>
  </div>
  <div class="terms-container">
    <div *ngFor="let term of terms" class="term-class">
      <h1 class="text-center">{{term.heading}}</h1>
      <ul>
        <li *ngFor="let text of term.text">{{text}}</li>
      </ul>
    </div>
  </div>
</div>

<div id="desktop-bottom-section" class="desktop-bottom-section">
  <div class="desktop-component" id="desktop-component">
    <div class="betting-info">
      Betting 0.00 will enter demo mode
    </div>
    <div class="online-info">
      <div><label>Online:</label> <span>12212</span></div>
      <div><label>Playing:</label> <span>21212</span></div>
      <div><label>Betting:</label> <span>13213</span></div>
    </div>

    <div class="player_history">
      <table>
        <thead>
          <th>{{textConfig ? textConfig.user : "USER"}}</th>
          <th class="text-center">{{textConfig ? textConfig.multiplier : "MULTIPLIER"}}</th>
          <th class="text-center">{{buttonConfig ? buttonConfig.bet : "BET"}}{{ "(" }}{{currencySymbol}}{{ ")" }}</th>
          <th class="text-right">{{textConfig ? textConfig.win : "WIN"}}{{ "(" }}{{currencySymbol}}{{ ")" }}</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of playerBets">
            <td>
              <div class="avatar player-id">
                <img src="" alt="" />
                <span>{{item.playerId}}</span>
              </div>
            </td>
            <td class="text-center details">{{item.multiplier ? (item.multiplier | number : '1.2-2') : '-'}}</td>
            <td class="text-center details">{{item.formattedBetAmount}}</td>
            <td class="text-right details">{{item.formattedPoints}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div id="history-desktop-main-container" class="history-desktop-main-container">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>{{buttonConfig ? buttonConfig.allBet :"ALL BETS"}}</a>
      <ng-template ngbNavContent>
        <table>
          <thead class="table-header">
            <th>{{textConfig ? textConfig.user : "USER"}}</th>
            <th class="text-center">{{textConfig ? textConfig.multiplier : "MULTIPLIER"}}</th>
            <th class="text-center">{{buttonConfig ? buttonConfig.bet : "BET"}}{{ "(" }}{{currencySymbol}}{{ ")" }}</th>
            <th class="text-right">{{textConfig ? textConfig.win : "WIN"}}{{ "(" }}{{currencySymbol}}{{ ")" }}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of playerBets">
              <td>
                <div class="avatar">
                  <img src="" alt="" />
                  <span>{{item.playerId}}</span>
                </div>
              </td>
              <td class="text-center">{{item.multiplier ? (item.multiplier | number : '1.2-2') : '-'}}</td>
              <td class="text-center">{{item.formattedBetAmount}}</td>
              <td class="text-right">{{item.formattedPoints}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>{{buttonConfig ? buttonConfig.betHistory :"BET HISTORY"}}</a>
      <ng-template ngbNavContent>
        <div>
          <app-fwphistory></app-fwphistory>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3" (click)="getBigWinsData()">
      <a ngbNavLink>{{buttonConfig ? buttonConfig.bigWin : "BIG WINS"}}</a>
      <ng-template ngbNavContent>
        <div class="big-wins-table">
          <table>
            <thead class="table-header">
              <!-- <div class="table-header"> -->
                <th>{{textConfig ? textConfig.user : "USER"}}</th>
                <th class="text-center">{{textConfig ? textConfig.multiplier : "MULTIPLIER"}}</th>
                <th class="text-center">{{buttonConfig ? buttonConfig.bet : "BET"}}{{ "(" }}{{currencySymbol}}{{ ")" }}</th>
                <th class="text-right">{{textConfig ? textConfig.win : "WIN"}}{{ "(" }}{{currencySymbol}}{{ ")" }}</th>
              <!-- </div> -->
            </thead>
            <tbody>
              <tr *ngFor="let item of bigWinsData" class="hide-players">
                <td>
                  <div class="avatar">
                    <img src="" alt="" />
                    <span>{{item.playerId}}</span>
                  </div>
                </td>
                <td class="text-center">{{item.currentMultiplier ? (item.currentMultiplier / 100 | number : '1.2-2') :
                  '-'}}</td>
                <td class="text-center">{{item.formattedBetAmount}}</td>
                <td class="text-right">{{item.formattedWinAmount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </li>
    <li *ngIf="showChatsOption" [ngbNavItem]="4">
      <a ngbNavLink>CHATS</a>
      <ng-template ngbNavContent>
        <app-fwpchats [chatData]="chatData" (checkWordLength)="checkWordLength($event)"
          (enterMessage)="enterMessage()">
        </app-fwpchats>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>