h3,
h1 {
  font-family: 'Nunito-ExtraBold';
}

.leaderboard {
  margin-top: 10px;
}

.row.fwp-row {
  margin: 10px 15px 0 -10px;
}

.nav-pills .nav-link span {
  padding: 15px;
}

#v-pills-tab div {
  font-size: .70rem;
  font-weight: 700;
  background-color: transparent;
  margin-left: 25px;
  text-align: center;
  writing-mode: vertical-lr;
  transform: scale(-1);
  border-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#v-pills-tabContent {
  background: #353B49;
  margin-left: -1px;
  padding: 0 10px;
}


#v-pills-tab .nav-link.active {
  background-color: #353B49;
}

#v-pills-tab div span.material-icons {
  font-size: 12px;
  line-height: 25px;
}

table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0 0.2rem;
  font-size: 0.70rem;
  table-layout: fixed;
}

table td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 5px;
}

table td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table td div {
  padding: 5px 0 5px 5px;
}

.date-time {
  line-height: 14px;
}

thead {
  font-size: 0.65rem;
  color: #7F8899;
}

thead th {
  font-weight: 700;
}

tr {
  background-color: #484F62;
}

.column {
  padding: 0 0 10px 0;
}

.nav-link {
  padding: .5rem .3rem;
  cursor: pointer;
}

.settings {
  position: absolute;
  bottom: 0em;
  left: 4em;
}

.shabiki-settings {
  bottom: 4em;
}

.settings-table {
  /* border-collapse: collapse; */
  width: 50%;
  background-color: black;
}

.settings-table tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

.settings-table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

.settings-table tr:first-child td:last-child {
  border-bottom-right-radius: 5px;
}

.settings-table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.settings-table td:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
}

.settings-table td:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.settings-table img {
  width: 20px;
  height: 20px;
}

.settings-table td {
  background-color: black;
  text-align: center;
  padding: 5px 10px;
}

.settings-table tr {
  cursor: pointer;
}

.settings-table td:nth-child(2) {
  text-align: left;
}

#v-pills-chats {
  background: #353B49;
}

.col-10 .tab-content .tab-pane {
  height: 430px;
}

.col-10 .tab-content .tab-pane.show.active {
  height: 430px;
  overflow: scroll;
}

label {
  color: #8D94A9;
  margin-bottom: 0;
}

table label {
  color: #959CAF;
  font-size: 0.70rem;
  font-weight: 700;
}

img.arrow {
  height: 5px;
  transform: rotate(270deg);
}


table .list-group-item {
  background-color: #535A6D;
  border: none;
  border-bottom: 1px solid #6e6e6e;
  padding: 5px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

table .list-group-item:last-child {
  border-bottom: none;
}

table tr.inner {
  background-color: #535A6D;
}

.online_players {
  background-color: #353B49;
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
  font-weight: 700;
  margin: -1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.online_players div {
  visibility: hidden;
}

.show-players {
  display: table-row !important;
}

.current-player-id {
  background-color: green !important;
}

::-webkit-scrollbar {
  display: none;
}

/* FWP Rules Page */

.fwp-rules-page {
  position: fixed;
  top: 0;
  max-height: 800px;
  background-image: linear-gradient(rgb(6 6 6 / 5%), rgba(52, 83, 123, 0.05)), url("../../../assets/images/HTPDEFENDER_Assets/BG.png");
  background-size: contain;
  font-family: 'Nunito-ExtraBold';
  font-size: 1.05rem;
  letter-spacing: 0.2px;
  max-width: 767px;
}

.fwp-rules-playabet {
  max-width: 500px;
}

.fwp-rules-betyetu {
  max-width: 500px;
}

ul li {
  padding: 10px 35px 10px 10px;
}

.container-fluid {
  height: 100vh;
  background: #363C48;
  color: white;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  margin: 5% 0 3% 0;
}

.carousel-item {
  padding: 0 4%;
}

.header-row {
  border-bottom: 3px solid white;
  padding-top: 5%;
  background: linear-gradient(rgba(52, 83, 123, 0.05), rgba(52, 83, 123, 0.05)), url("../../../assets/images/HTPDEFENDER_Assets/BG.png");
  background-size: cover;
}

.header-row h1 {
  color: #f7ea43;
  font-family: Arial;
  font-size: 1.8rem;
  font-weight: 900;
}

.header-row h3 {
  color: #f7ea43;
}

.header-row img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: #495f88;
}

.back-button {
  background-color: #f7ea43;
  color: #36353C;
  width: 130px;
  border: 0;
  border-radius: 5px;
  padding: 0.5em;
  font-family: 'Arial';
  font-size: 1.25rem;
  font-weight: bolder;
}

h2 {
  color: #f7ea43;
  margin: 0 0 5px;
  font-family: Arial;
  letter-spacing: 0.2px;
  font-size: 1.5rem;
  font-weight: bold;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #151523;
}

.carousel-indicators li.active {
  background-color: #6A7690;
}

.carousel-indicators {
  position: relative;
  margin: 0;
}

.indicators {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
}

.indicators img {
  width: 15px;
  height: auto;
  margin-top: 2px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 25px;
  height: 25px;
}

.indicators a {
  margin: 0 25px;
}

.indicators.indicators-playabet a {
  margin: 0 140px;
}

.indicators.indicators-betyetu a {
  margin: 0 140px;
}

.rules-data {
  /* background: #2d364c; */
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  border: 2px solid white;
}

.rules-text {
  font-size: 1.1rem;
  white-space: pre-wrap;
  line-height: normal;
}

.close_btn {
  text-align: end;
  cursor: pointer;
}

.fwpTerms {
  font-family: 'Nunito-ExtraBold';
  position: absolute;
  top: 0;
  background: #47526a;
  /* max-height: 700px; */
  /* overflow: scroll; */
}

.fwpTerms p {
  margin: 1em;
}

.fwpTerms h1 {
  margin: 0;
}

.fwpTerms .header-row {
  position: fixed;
  width: 100%;
  font-family: 'Nunito-ExtraBold';
  max-width: 800px;
  margin: 0;
}

.fwpTerms .term-class {
  padding-top: 15px;
  text-align: justify;
}

.fwpTerms div.term-class:first-child {
  margin-top: 75px;
}

.fwpTerms .term-class ul {
  margin-bottom: 0px;
}

.terms-container { 
  height: 100vh;
  overflow: auto;
  padding-bottom: 90px;
}

.desktop-bottom-section,
.history-desktop-main-container {
  display: none;
}

.player-id {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.big-wins-table {
  overflow: auto;
  height: 420px;
}

.table-header {
  background: #353b49;
  position: sticky;
  top: 0;
}

.players-bets-table {
  height: 430px;
  overflow: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: transparent;
}

input:focus+.slider {
  box-shadow: 0 0 1px transparent;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-height:700px) {
  .back-button {
    border: 0;
    padding: 0.5em 0.6em;
    font-family: 'Montserrat';
    font-size: 1.05rem;
    font-weight: bold;
  }
}

@media (orientation: landscape) {

  .header-row {
    padding-top: 2%;
  }

  .indicators a {
    margin: 0 120px;
  }

  .carousel-item img {
    max-width: 500px;
    margin: 2% 0;
  }

  .rules-text {
    font-size: 1rem;
  }

  .rules-data h2 {
    font-size: 1.2rem;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }

  .fwpTerms .header-row,
  .fwpTerms {
    max-width: 800px;
  }

  .fwpTerms {
    height: max-content;
    /* overflow: scroll; */
  }

  .fwpTerms-playabet .header-row,
  .fwpTerms-playabet {
    max-width: 500px;
  }

  .fwpTerms-betyetu .header-row,
  .fwpTerms-betyetu {
    max-width: 500px;
  }

  .carousel-item img {
    max-width: 500px;
  }

  .carousel-item img.htp_images {
    max-width: 500px;
  }
}

.fwpTerms-playabet .header-row,
.fwpTerms-playabet {
  max-width: 500px;
}

.fwpTerms-betyetu .header-row,
.fwpTerms-betyetu {
  max-width: 500px;
}

@media (orientation: portrait) {
  .fwpTerms {
    height: max-content;
  }

  .fwpTerms.demo {
    height: inherit;
    max-height: none;
  }
}

@media (min-width: 800px) {

  .desktop-bottom-section,
  .history-desktop-main-container {
    display: block;
  }

  .history-desktop-main-container {
    background: #292D38;
    position: absolute;
    width: 100%;
    /* margin-top: 110px; */
    height: 477px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .carousel-item img {
    max-width: 45% !important;
  }

  .history-desktop-main-container thead {
    font-size: 0.85rem;
    color: #7F8899;
  }

  .history-desktop-main-container tr {
    background-color: #484F62;
  }

  .history-desktop-main-container a {
    font-weight: bold;
    color: #7F8899;
  }

  .history-desktop-main-container .nav-tabs .nav-item.show .nav-link,
  .history-desktop-main-container .nav-tabs .nav-link.active {
    background-color: #353B49;
    color: white;
    border-color: transparent;
  }

  .history-desktop-main-container .mt-2.tab-content {
    margin: 0 !important;
    background: #353b49;
    padding: 0.5rem;
    color: white;
  }

  .history-desktop-main-container .nav-tabs {
    border-bottom: transparent;
  }

  .history-desktop-main-container ul li {
    padding: 0;
    padding-right: 25px;
  }

  .row.fwp-row {
    display: none;
  }

  .fwp-rules-page {
    max-width: 800px;
    z-index: 1;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 50%;
  }

  .desktop-component {
    padding: 10px;
    font-family: 'Nunito-ExtraBold';
  }

  .online-info {
    display: none;
    visibility: hidden;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.75em;
  }

  .online-info div {
    display: none;
  }

  .online-info label {
    color: #7F8899;
  }

  .betting-info {
    display: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #484F62;
    color: #7F8899;
    text-align: center;
  }

  table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 0.2rem;
    font-size: 0.70rem;
    table-layout: fixed;
  }

  table td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 5px;
  }

  table td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  table td div {
    padding: 5px 0 5px 5px;
  }

  thead {
    font-size: 0.65rem;
    color: #7F8899;
  }

  thead th {
    font-weight: 700;
  }

  tr {
    background-color: #484F62;
  }

  .details {
    color: #BA9761;
  }

  .player_history {
    height: 210px;
    /* max-height: 500px; */
    overflow: scroll;
    overflow-x: hidden;
  }

  .fwpTerms {
    position: fixed;
    z-index: 999;
    max-width: 800px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

}

@media (max-width: 412px) {
  .indicators.indicators-playabet a {
    margin: 0 25px;
  }

  .indicators.indicators-betyetu a {
    margin: 0 25px;
  }
}