@html {
    width: 100%;
    height: 100%;

}
html {
    overflow: hidden;
}
body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width : 100%;
    height : 100vh;
}

