.htp-screen-main-container{
    position: fixed;
    top: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    width: 100%;
    font-family: 'Nunito-ExtraBold';
}


.htp-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.htp-screen-main-container .carousel {
    /* position: unset; */
}

.htp-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.htp-screen-main-container .carousel-control-next {
    top: auto;
    background-color: grey;
    padding: 3px;
    color: white;
    border-radius: 10px;
    bottom: 0;
    width: 80px;
    border: none;
    margin-right: 10px;
}

.skip-button{
    top: auto;
    bottom: 0;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    border: none;
}

.indicators {
    background: red;
    position: fixed;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    right: 0;
}

.btn-container{
    width: 100%;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 7px;
    height: 7px;
    margin-right: 3px;
    border-radius: 100%;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(11 223 100);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: auto;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 10px;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators .active {
    opacity: 1;
}

.carousel-inner .carousel-item img{
    max-height: 523px;
}


/* Desktop */


.htp-desktop .htp-screen-main-container{    
    align-items: center;
}


.htp-desktop .carousel-inner .carousel-item img{
    max-width: 362px;
}

.htp-desktop .carousel-inner {
    max-width: 362px;
}

.htp-desktop {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.htp-desktop .carousel-item{
    justify-content: center;
    max-width: 545px;
}

/* IPHONE SE */

@media (max-width: 376px) and (max-height: 668px){
    .carousel-inner .carousel-item img{
        max-height: 455px;
    }
}