.nav-pills-collection {
    background: #16165a;
    padding: 10px 10px 0 10px;
}
.nav-pills-collection li a {
    color:white;
    font-size: small;
    padding: .5rem .5rem;
}
.nav-pills-collection li a.active {
    background: white;
    color: #16165a;
    border-radius : 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}
@media (min-width: 500px) {
    .nav-pills-collection li a {
        padding: .5rem 1rem;
    }
}

@media (max-width: 365px){
    .nav-pills-collection li a{

        font-size: smaller;
    }
}