<div id="preloader">
    <div class="preloader-back-button">
        <img src="assets/images/vcttpreloaderimg.png" id="preload-img">
    </div>
    <div class="preloader-img text-center">
        <img src="assets/images/vcttpreloaderimg2.png" id="preload-img">
    </div>
    <div class="preloader-bar-box" id="preloader-bar-box">
        <div class="preloader-bar">
            <div class="progress">
                <div id="progress-bar" class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar-loading text-center">
                        LOADING
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="display-game" id="display-game">
<iframe id="iframeElement" width="100%" frameBorder="0" [src]="iframeUrl"
    scrolling="yes" *ngIf="!disableCanvas"></iframe>
</div>
<div class="catch-the-trend-score-card" id="catch-the-trend-score-card" *ngIf="showScoreCard && showScores">
    <div class="last-over">
        <div>
            <span *ngFor="let ball of scoreCardDetails.lastOverScores">
                <span class="circle"
                    [ngClass]="{'boundary': ball >= 4, 'run': ball < 4, 'wicket': ball == 'W'}"><span>{{ball}}</span></span>
            </span>
        </div>
        <div class="run-rate">
            <span class="light-text">Current RR:</span> {{scoreCardDetails.runRate}}
        </div>
    </div>
    <div>
        <div class="last-overs text-center">
            <span class="light-text">
                Last 3 Overs:
            </span>
            <span>
                <span class="last-overs-numbers" *ngFor="let ball of scoreCardDetails.lastSixBalls"
                    [ngClass]="{'color-red': ball == 'W'}">{{ball}}</span>
            </span>
            <span *ngIf="scoreCardDetails && scoreCardDetails.lastSixBalls" class="light-text break-over">|</span>
            <span>
                <span class="last-overs-numbers" *ngFor="let ball of scoreCardDetails.lastSecondOver"
                    [ngClass]="{'color-red': ball == 'W'}">{{ball}}</span>
            </span>
            <span *ngIf="scoreCardDetails && scoreCardDetails.lastSecondOver" class="light-text break-over">|</span>
            <span>
                <span class="last-overs-numbers" *ngFor="let ball of scoreCardDetails.lastThirdOver"
                    [ngClass]="{'color-red': ball == 'W'}">{{ball}}</span>
            </span>
        </div>
    </div>
    <table class="table table-borderless">
        <tr>
            <th><span class="bat-img">
                    <img class="img img-responsive" src="assets/images/bluebat_icon.png">
                </span>Batsmen</th>
            <th>R</th>
            <th>B</th>
            <th>4s</th>
            <th>6s</th>
            <th>SR</th>
        </tr>
        <tr class="current-player">
            <td>{{scoreCardDetails.strikerBatsman.name}}</td>
            <td>{{scoreCardDetails.strikerBatsman.run}}</td>
            <td>{{scoreCardDetails.strikerBatsman.balls}}</td>
            <td>{{scoreCardDetails.strikerBatsman.fours}}</td>
            <td>{{scoreCardDetails.strikerBatsman.sixes}}</td>
            <td>{{scoreCardDetails.strikerBatsman.economy}}</td>
        </tr>
        <tr>
            <td>{{scoreCardDetails.nonStrikerBatsman.name}}</td>
            <td>{{scoreCardDetails.nonStrikerBatsman.run}}</td>
            <td>{{scoreCardDetails.nonStrikerBatsman.balls}}</td>
            <td>{{scoreCardDetails.nonStrikerBatsman.fours}}</td>
            <td>{{scoreCardDetails.nonStrikerBatsman.sixes}}</td>
            <td>{{scoreCardDetails.nonStrikerBatsman.economy}}</td>
        </tr>
        <tr colspan="6">
            <div>
                <hr>
            </div>
        </tr>
        <tr>
            <th><span class="blue-ball-img">
                    <img class="img img-responsive" src="assets/images/blueball_icon.png">
                </span>Bowler</th>
            <th>O</th>
            <th>R</th>
            <th>W</th>
            <th>Eco</th>
            <th>0s</th>
        </tr>
        <tr class="current-player">
            <td>{{scoreCardDetails.bowlerStat.name}}</td>
            <td>{{scoreCardDetails.bowlerStat.runningOver}}</td>
            <td>{{scoreCardDetails.bowlerStat.runs}}</td>
            <td>{{scoreCardDetails.bowlerStat.wickets}}</td>
            <td>{{scoreCardDetails.bowlerStat.economy}}</td>
            <td>{{scoreCardDetails.bowlerStat.dots}}</td>
        </tr>
    </table>
</div>
<div class="scoreboard-hide">
    <span (click)="onShowScores(0)" *ngIf="showScores" class="material-icons change-over-icon">
        keyboard_arrow_up
    </span>
</div>
<div class="score-container-wrapper" id="score-container-wrapper">
<div class="score-container" id="score-container">
    <div class="navigation-header" *ngIf="isCatchTheTrendRoute && isNotLeaderBoard">
        <ul class="nav nav-pills nav-pills-collection-ct">
            <li class="nav-item">
                <a class="nav-link active" id="nav-link-play-btn" data-toggle="pill" href="#predictovercatchtrend" (click)="onNavClicked('predictovercatchtrend')">PLAY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="resultcatchtrend" data-toggle="pill" href="#resultcatchtrend" (click)="onNavClicked('resultcatchtrend')">RESULTS</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isReal" class="nav-link" id="oddstable" data-toggle="pill" href="#oddstable"
                    (click)="onNavClicked('oddstable')">ODDS TABLE</a>
                <a *ngIf="!isReal" class="nav-link" id="leaderboard" data-toggle="pill" href="#leaderboard"
                    (click)="onNavClicked('leaderboardcatchtrend')">LEADERBOARD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="howtoplaycatchtrend" data-toggle="pill" href="#howtoplaycatchtrend" (click)="onNavClicked('howtoplaycatchtrend')">HOW TO PLAY</a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>
</div>
<div class="overs-bet">
    <div id="overs-bet" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" id="overs-bet-selection">
                <div style="margin-top: 15px;margin-bottom: -15px;">
                    <h2 class="modal-title text-center">{{isReal ? 'Place Bet' : 'Enter Selections'}}</h2>
                    <span class="close_btn" (click)="closeBetPanel('bet-popup')">
                        <img src="assets/images/close_icon.png" alt="">
                    </span>
                </div>
                <div *ngIf="isReal">
                    <div class="select_overs_title">
                        <h5>SELECT 1, 3 OR 5 OVERS GAME</h5>
                    </div>
                    <div class="over-selection">
                        <div id="overs-bet-class" class="overs-bet-class">
                            <div class="symbol-bet">
                                <button class="btn over-button" id="over-1" (click)="selectOver(1, $event)"
                                    [ngClass]="{'button-selected': 1 == selectedOver}">1 Over Game </button>
                            </div>
                            <div class="symbol-bet">
                                <button class="btn over-button" id="over-3" (click)="selectOver(3, $event)"
                                    [ngClass]="{'button-selected': 3 == selectedOver}" [disabled]="overNumber >= 19">3
                                    Overs Game</button>
                            </div>
                            <div class="symbol-bet">
                                <button class="btn over-button" id="over-5" (click)="selectOver(5, $event)"
                                    [ngClass]="{'button-selected': 5 == selectedOver}" [disabled]="overNumber >= 17">
                                    5 Overs Game</button>
                            </div>
                        </div>
                        <div class="tab-content text-center" *ngIf="betContents">
                            <p *ngFor="let content of betContents">{{content}}</p>
                        </div>
                    </div>

                    <div class="select_stake_heading">
                        <h4>SELECT YOUR STAKE</h4>
                    </div>

                    <div class="stake_btns">
                        <div *ngFor="let item of betValues" class="symbol-bet">
                            <button class="btn bet-button" id="button-{{item}}" (click)="selectButton(item, $event)"
                                [ngClass]="{'button-selected': (item == selectedBet) && !inputSelected}">&#8377;
                                {{item}}.00</button>
                        </div>
                    </div>
                    <div id="max-bet-tooltip" class="max-bet-tooltip">
                        <p>Max bet amount is &#8377;1000.</p>
                    </div>
                    <div class="enter_stake">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">&#8377;</span>
                            <input type="number" id="bet_amount" class="form-control" [(ngModel)]="bar"
                                placeholder="Or enter another amount" aria-label="Or enter another amount"
                                aria-describedby="addon-wrapping" (ngModelChange)="changeInputValue($event)" max="1000"
                                maxlength="4">
                        </div>
                    </div>
                </div>

                <div id="freePlaySelections" *ngIf="!isReal">
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div>OVER NUMBER:</div>
                                <div>{{betData.overNumber}}</div>
                            </li>
                            <li class="list-group-item" *ngIf="betDataSelections" style="padding-bottom: 0px;">
                                <div>SELECTIONS:</div>
                                <div class="text-right" id="selections">
                                    <p>Fours-{{betDataSelections[0]}}</p>
                                    <p>Sixes-{{betDataSelections[1]}}</p>
                                    <p>Wickets-{{betDataSelections[2]}}</p>
                                    <p style="margin-bottom: 12px;">Dot Balls-{{betDataSelections[3]}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="place_bet" *ngIf="isReal">
                    <button type="button" class="btn" (click)="onPlayClicked()" [disabled]="!playButtonState"
                        [ngClass]="{'play-button-enabled': playButtonState == true, 'play-button-disabled': playButtonState == false}">
                        PLACE BET</button>
                </div>

                <div class="place_bet" *ngIf="!isReal">
                    <button type="button" class="btn" (click)="onSubmitClicked()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- <router-outlet></router-outlet> -->

<!-- Modal Bet Details-->


<div id="betModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="betPlacedSuccessfully && ((isReal && (newBet || isViewBetSlipClicked)) || (!isReal && isViewBetSlipClicked))">
            <span class="close_btn" data-dismiss="modal" (click)="closeBetPanel('bet-modal')">
                <img src="assets/images/close_icon1.png" alt="">
            </span>
            <div class="modal-header" *ngIf="!isViewBetSlipClicked">
                <h2 class="modal-title text-center">Bet Placed <br>Successfully</h2>
            </div>
            <div class="modal-body">
                <div class="check_icon" *ngIf="!isViewBetSlipClicked">
                    <img src="assets/images/check_icon.png" alt="">
                </div>
                <div class="bet_details">
                    <h3>{{isReal?'Bet Details':'View Selections'}}</h3>
                </div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div>GAME:</div>
                            <div *ngIf="isReal">{{bettingOvers.length}} <span
                                    *ngIf="bettingOvers.length > 1">Overs</span><span
                                    *ngIf="bettingOvers.length == 1">Over</span></div>
                            <div *ngIf="!isReal">
                                1 Over
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>OVER NUMBER:</div>
                            <div *ngIf="isReal">
                                <span *ngFor="let over of bettingOvers;let index = index;">
                                    {{betResponse.overNumber + over + 1}}
                                    {{(index < bettingOvers.length - 1)? ',' : '' }} </span>
                            </div>
                            <div *ngIf="!isReal">
                                    {{betResponse.overNumber + 1}}
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>SELECTIONS:</div>
                            <div style="text-align: end;" *ngIf="betResponse && betResponse.selections">
                                <p>Fours-{{betResponse.selections[0]}}</p>
                                <p>Sixes-{{betResponse.selections[1]}}</p>
                                <p>Wickets-{{betResponse.selections[2]}}</p>
                                <p>Dot Balls-{{betResponse.selections[3]}}</p>
                            </div>
                        </li>
                        <li class="list-group-item" *ngIf="isReal">
                            <div>AMOUNT STAKED:</div>
                            <div>&#8377; {{betResponse.betAmount}}</div>
                        </li>
                        <li class="list-group-item" *ngIf="isReal">
                            <div>POTENTIAL WIN:</div>
                            <div>&#8377; {{potentialWin | number : '1.2-2'}}</div>
                        </li>
                    </ul>
                </div>
                <div class="warning-msg" *ngIf="selectedOver > 1 && isReal">
                    <div>
                        <img src="assets/images/exclamation.png" alt="">
                    </div>
                    <p *ngIf="selectedOver === 3">
                        Be sure to make your selections for overs {{betResponse.overNumber + 2}},
                        {{betResponse.overNumber + 3}}
                        before these overs start, otherwise your selections from this over will be selected by default.
                    </p>
                    <p *ngIf="selectedOver === 5">
                        Be sure to make your selections for overs
                        {{betResponse.overNumber + 2}},{{betResponse.overNumber + 3}},{{betResponse.overNumber +
                        4}},{{betResponse.overNumber + 5}}
                        before these overs start, otherwise your selections from this over will be selected by default.
                    </p>
                </div>
            </div>
            <div class="close" style="margin-left: 18px; margin-bottom: 10px;" (click)="closeBetPanel('bet-modal')">
                <button class="btn closeBtn" data-dismiss="modal" style="width: 90px;">CLOSE</button>
            </div>
        </div>
        <div class="modal-content" *ngIf="betPlacedSuccessfully && !isReal && newBet && !isViewBetSlipClicked">
            <span class="close_btn" data-dismiss="modal" (click)="closeBetPanel('bet-modal')">
                <img src="assets/images/close_icon1.png" alt="">
            </span>
            <div class="modal-header">
                <h2 class="modal-title text-center">Selections Placed <br>Successfully for over {{betData.overNumber}}
                </h2>
            </div>
            <div class="modal-body">
            </div>
            <div class="close" style="margin-left: 18px; margin-bottom: 10px;" (click)="closeBetPanel('bet-modal')">
                <button class="btn closeBtn" data-dismiss="modal" style="width: 90px;">CLOSE</button>
            </div>
        </div>
        <div class="modal-content" *ngIf="!newBet && !isViewBetSlipClicked">
            <span class="close_btn" data-dismiss="modal" (click)="closeBetPanel('bet-modal')">
                <img src="assets/images/close_icon1.png" alt="">
            </span>
            <div class="modal-header" style="margin-top: 25px;">
                <h2 class="modal-title text-center">Success</h2>
            </div>
            <div class="modal-body" style="color:#132B80">
                Your selection has been entered successfully for over number {{betData.overNumber}}
            </div>
            <div class="close" style="margin-left: 18px;margin-bottom: 10px;" (click)="closeBetPanel('bet-modal')">
                <button class="btn closeBtn" data-dismiss="modal" style="width: 90px;">CLOSE</button>
            </div>
        </div>
    </div>
</div>
<div id="overAlreadyStarted" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: white; color: #132B80;">
            <span class="close_btn" data-dismiss="modal" (click)="closeBetPanel('bet-modal')">
                <img src="assets/images/close_icon1.png" alt="">
            </span>
            <div class="modal-body">
                <div class="over_selected">
                    The Over Selected
                    <div style="font-size: x-large;font-weight: 900;">{{betData.overNumber}}</div>
                    has already started
                </div>
                <div class="place_bet_info" style="margin: 25px;">
                    Click <span>PLACE BET</span> to place this bet on
                    the next available over, <span>{{betData.overNumber + 1}}</span> or go
                    back and make another selection.
                </div>
                <div class="btns">
                    <button class="btn back" data-dismiss="modal" (click)="closeBetPanel('bet-modal')">&lt;
                        BACK</button>
                    <button class="btn placebet" data-dismiss="modal"
                        (click)="onPlayClickedWhenOverAlreadyStarted()">PLACE BET</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!--  Bet already placed -->
<div id="betAlreadyPlaced" class="modal" tabindex="-1" role="dialog" *ngIf="betAlreadyPlaced">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: white; color: #132B80;">
            <span class="close_btn" data-dismiss="modal" (click)="closeBetPanel('bet-modal')">
                <img src="assets/images/close_icon1.png" alt="">
            </span>
            <div class="modal-body">
                <div class="bet_selected">
                    The Bet has already been placed for over
                    <span>{{betData.overNumber}}</span>

                </div>
                <div class="btns">
                    <button class="btn back" data-dismiss="modal" (click)="closeBetPanel('bet-modal')">&lt;
                        CLOSE</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- No selections Error msgs -->

<div id="noBetSelection" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="close_btn" data-dismiss="modal" (click)="closeBetPanel('bet-modal')">
                <img src="assets/images/close_icon2.png" alt="">
            </span>
            <div class="modal-body">
                <div>
                    <img src="assets/images/exclamation.png" alt="">
                </div>
                <p>
                    Being that you haven’t confirmed your selections before Over {{overNumber}} begun, you have
                    automatically been
                    assigned the same selections as the previous over.
                </p>
            </div>

            <div class="close_button" data-dismiss="modal" (click)="closeBetPanel('bet-modal')">
                <button>CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!-- Game is ended popups -->

<div id="game-end-popup" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: white; color: #132B80;">
            <span class="close_btn" data-dismiss="modal" (click)="closeBetPanel('bet-modal')">
                <img src="assets/images/close_icon.png" alt="">
            </span>
            <div class="modal-body">
                <p class="text-center" *ngIf="oversWon !== 0">
                    Congratulations you have got {{oversWon}} overs correct from {{totalOversPlayed}} overs played and
                    have won a prize of
                    <br> {{totalWin}}
                </p>
                <p class="text-center" *ngIf="oversWon == 0 && totalOversPlayed == 1" style="font-size: 1rem;">
                    Unlucky, you have correctly predicted {{correctSelections}} selections from 4 selections and haven’t
                    won of
                    this occasion
                </p>
                <p class="text-center" *ngIf="oversWon == 0 && totalOversPlayed > 1" style=" font-size: 1rem;">
                    Unlucky, you have correctly predicted {{oversWon}} overs from {{totalOversPlayed}} overs and haven’t
                    won of
                    this occasion
                </p>
            </div>
            <div class="close_button" data-dismiss="modal" (click)="closeBetPanel('bet-modal')">
                <button>CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!-- Initial popup -->
<div id="initial_popup" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="game_type"> {{isReal ? "CASH PLAY" : "FREE PLAY"}}</div>
                <div *ngIf="!isReal">
                    <div class="top_weekly">TOP THE WEEKLY LEADERBOARD TO WIN</div>
                    <div class="prize"><span>&#8377;10,000</span></div>
                </div>
                <div class="predict_correctly">
                    <p *ngIf="!isReal">
                        Correctly predict the number of 4’s, 6’s, W’s and 0’s in each over to score points and climb the
                        leaderboard.
                    </p>
                    <p *ngIf="isReal">
                        Correctly predict the number of 4’s, 6’s, W’s and 0’s in each over and win upto 500 times your
                        stake!*
                    </p>

                </div>
                <div class="play_now_btn">
                    <button (click)="playNowClicked()">PLAY NOW</button>
                </div>
                <div class="message">
                    <label for="">
                        <input type="checkbox" name="" id="" (change)="onCheckboxClicked($event)">Don't show this
                        message again
                    </label>
                </div>
                <div class="predict_correctly real" *ngIf="isReal">
                    *The prize 500 times stake is for playing the 5 Over game and predicting all overs correctly
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>


<div id="generic-popup" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: white; color: #132B80;">
            <div class="modal-header">
                <span class="close_btn" data-dismiss="modal" (click)="closePanel('generic-popup')">
                    <img src="assets/images/close_icon.png" alt="">
                </span>
            </div>
            <div class="modal-body" id="modal-body">
                <p class="text-center">
                    {{genericErrorMessage}}
                </p>
            </div>
            <div class="text-center" data-dismiss="modal" (click)="closePanel('generic-popup')">
                <button class="btn btn-primary">CLOSE</button>
                <br>
            </div>
        </div>
    </div>
</div>