h3,
div {
  font-family: "Nunito-Bold";
}

/* preloader */
#preloader {
  background-image: url("../../assets/images/preloaderbg.jpg");
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.preloader-bar-box {
  margin: 1.5rem 1.5rem 4rem 1.5rem;
}

.preloader-bar {
  background-image: url("../../assets/images/preloaderbar.png");
  /* margin: 15px; */
  border-radius: 0.25rem;
}

.progress {
  height: 3rem;
  background-color: black;
  border-radius: 0.4rem;
  /* padding: 5px; */
  font-weight: bold;
  font-size: 1rem;
  border: 4px solid black;
}

.progress-bar-loading {
  position: absolute;
  left: 0;
  right: 0;
}

.preloader-back-button {
  margin: 4rem 1.5rem 1.5rem 1.5rem;
}

.preloader-back-button img {
  width: 100%;
}

.catch-the-trend-card {
  background: url("../../assets/images/bigbannerpurple.png") no-repeat center;
  background-size: 101%;
  padding: 10px 5px;
  color: white;
}

.c10c-head-1 {
  padding: 5px 5px 0 5px;
  display: flex;
  justify-content: space-between;
}

.c10c-head-1>div:first-child {
  color: #fc0;
  font-weight: bold;
  font-size: 1.75em;
  font-family: "Nunito-Bold";
}

.c10c-head-1 .btn {
  background: white;
  color: #e22222;
  padding: 0 0.5rem 0.01rem 0.5rem;
  /* height: 1rem; */
  font-size: 0.8em;
  margin-top: -0.3rem;
  vertical-align: top;
  font-weight: bolder;
}

.c10c-head-2 {
  font-weight: bold;
  font-size: 1.1em;
  padding: 0 5px;
}

.c10c-head-3 {
  font-size: 0.8em;
  padding: 5px 5px 0 5px;
}

.c10c-head-4 {
  color: #fc0;
  font-weight: bold;
  font-size: 2.5em;
  padding: 10px 5px 0 5px;
}

.c10c-head-4 span:first-child {
  font-size: 1.5rem;
  padding-right: 5px;
}

.c10c-head-4 span:nth-child(2) {
  font-family: "Nunito-Bold";
}

.catch-the-trend-card-2 {
  display: flex;
  justify-content: space-between;
  color: white;
  background: #1c1b4d;
  font-size: 1.15em;
  font-weight: bold;
  padding: 2%;
}

.catch-the-trend-card-2 .c10c2-head-2 {
  font-size: 0.5em;
  font-weight: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c10c2-head-2 img {
  max-height: 30px;
}

#overAlreadyStarted .modal-body div {
  font-size: 16px;
  text-align: center;
}

#overAlreadyStarted .btns {
  font-family: "Nunito-ExtraBold";
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

#overAlreadyStarted .close_btn {
  position: static;
  text-align: end;
  padding: 10px 10px 0 5px;
}

#overAlreadyStarted {
  top: 25%;
}

.over_selected {
  margin-top: -25px;
}

.place_bet_info {
  font-family: "Nunito";
}

.place_bet_info span {
  font-weight: bolder;
}

.btns .back {
  width: 100px;
  color: #455076;
  background-color: #f0f0f0;
}

.btns .placebet {
  width: 130px;
  color: #132b80;
  background-color: #f7cd46;
}

.catch-the-trend-nav {
  padding: 2% 1%;
  background: #dbddf7;
}

.catch-the-trend-score-card {
  background: #292e52;
  color: white;
  font-size: 0.8em;
  padding: 10px;
}

.last-over {
  display: flex;
  justify-content: space-between;
}

.last-overs>span {
  padding: 3px;
}

.last-overs-numbers {
  padding: 2px !important;
}

.last-over,
.last-overs {
  padding: 5px 0;
}

.circle {
  display: inline-block;
  line-height: 0px;
  border-radius: 50%;
  font-size: 12px;
  margin: 0 5px;
  height: 25px;
  width: 25px;
  font-weight: bold;
  text-align: center;
}

.circle span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin: 0 auto;
}

.boundary {
  background: #5192ce;
  color: white;
}

.run {
  background: #d6d8ed;
  color: #1c1b4d;
}

.wicket {
  background: #d0202f;
  color: white;
  margin-right: 8px;
}

.light-text,
th {
  color: #888db7;
}

.total-score .score-top {
  font-size: 0.9em;
}

.total-score-2>span:first-child {
  float: right;
}

.total-score-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

th {
  font-weight: normal;
}

th:not(:first-child),
td:not(:first-child) {
  text-align: right;
}

th,
td {
  padding: 0 0.25rem;
  vertical-align: bottom;
}

th:not(:first-child),
td:not(:first-child) {
  text-align: center;
}

.table {
  color: white;
  margin-bottom: 0;
  table-layout: fixed;
  margin-top: 5px;
}

hr {
  width: 89vw;
  margin: 7px 10px;
  border-top: 1px solid #585b79;
}

th:first-child,
td:first-child {
  width: 40%;
}

.current-player {
  color: #fc0;
}

.scoreboard-hide {
  background: #40425c;
  color: white;
  text-align: center;
}

.scoreboard-hide span {
  cursor: pointer;
}

.dot-class {
  background: url(../../assets/images/ballIndicator_dotBall.png) no-repeat center;
  background-size: contain;
}

.modal-title {
  margin: 0;
  font-family: "Nunito-Bold";
  font-size: 26px;
}

.overs-bet {
  position: relative;
  font-family: "Nunito-Bold";
  font-weight: bold;
}

#overs-bet.modal {
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.4);
}

#overs-bet .modal-dialog {
  margin: 0;
}

#overs-bet {
  position: fixed;
  overflow: auto;
  width: 100%;
  z-index: 999;
  /* bottom: 0; */
  /* max-width: 767px; */
  align-items: center;
  justify-content: center;
}

.over-button {
  font-size: 0.8rem;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;

  letter-spacing: 0.05em;
}

#overs-bet .header {
  display: flex;
  justify-content: space-between;
}

.close-button button {
  background: #dedede;
  padding: 0;
  height: 22px;
}

.close-button span {
  font-size: 20px;
}

#overs-bet h4 {
  font-weight: bold;
}

.over-selection {
  padding: 5px 5px;
  height: 125px;
}

.overs-bet-class {
  display: flex;
  justify-content: space-between;
}

button.closeBtn {
  background-color: #a2a2a2;
  color: #031146;
  font-weight: 800;
}

.over-selection .over-label {
  padding: 0.375rem 0;
}

#overs-bet select {
  max-width: 100px;
  display: inline;
  margin: 0 10px;
}

.modal-content {
  background-color: #132b80;
  color: white;
  border: 5px solid rgba(255, 255, 255, 0.4);
}

.modal {
  background-color: rgba(0, 0, 0, 0.9);
}

.warning-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffd494;
  margin-top: 20px;
  border-radius: 5px;
  text-align: left;
}

.warning-msg p {
  font-size: 12px;
  margin-bottom: 0px;
  padding: 5px;
  line-height: 16px;
  color: #855000;
}

.warning-msg div img {
  padding: 10px 5px;
}

.btn {
  font-size: 0.72rem;
  font-weight: 600;
}

.over-button,
.stake_btns .btn {
  /* width: 105px; */
  height: 35px;
}

.select_overs_title {
  text-align: center;
  border: 1px solid #385de1;
  border-radius: 5px;
  margin: 5px;
}

.select_overs_title h5,
.select_stake_heading h4 {
  margin-bottom: 5px;
  font-family: "Nunito-Bold";
}

.close_btn {
  position: relative;
  float: right;
  top: -40px;
  padding-right: 10px;
  cursor: pointer;
}

#pills-tabContent {
  text-align: center;
  height: 85px;
}

button.nav-link {
  background-color: #1b3db6;
  font-size: 12px;
  font-weight: 600;
}

.select_overs_title h5 {
  padding-top: 7px;
  font-size: 16px;
}

.select_stake_heading {
  text-align: center;
  border: 1px solid #385de1;
  border-radius: 5px;
  margin: 10px 10px;
}

.enter_stake {
  margin: 10px 10px;
}

.btn {
  background-color: #1b3db6;
  color: white;
}

#selections p {
  margin: 0;
}

.nav-pills .nav-link.active {
  background-color: #f7cd46;
  color: black;
}

.select_stake_heading h4 {
  padding-top: 5px;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: center;
}

.overs,
.stake_btns {
  display: flex;
  justify-content: space-evenly;
}

.stake_btns button {
  font-size: 16px;
}

.overs {
  flex-direction: column;
}

.input-group-text {
  border: transparent;
}

.overs .nav {
  justify-content: space-around;
}

.nav-link {
  color: white;
}

.place_bet {
  text-align: center;
  padding-bottom: 15px;
  margin-top: 10px;
}

.place_bet .btn {
  background-color: #f7cd46;
  color: #132b80;
  font-family: 'Nunito-ExtraBold';
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.05em;
  width: 80%;
}

.tab-content .tab-pane {
  font-weight: 600;
}

#overs-bet .tab-content {
  margin-top: 5px;
}

.tab-content p {
  font-size: 16px;
  margin: 0px;
  margin-bottom: 2px;
}

.tab-pane p {
  margin-bottom: 5px;
}

.input-group-text {
  background-color: #1b3db6;
  color: white;
}

/* Message Bet details modal */

#betModal.modal,
#new-bet-modal.modal {
  justify-content: center;
  align-items: center;
}

#betModal .modal-title,
#new-bet-modal .modal-title {
  font-weight: 700;
  color: #132b80;
}

#betModal .close_btn img,
#new-bet-modal .close_btn img {
  float: right;
  padding: 0px;
  top: 50px;
  position: inherit;
}

#betModal .modal-header,
#new-bet-modal .modal-header {
  padding-top: 0px;
  justify-content: center;
  border-bottom: initial;
}

#betModal .modal-body,
#new-bet-modal .modal-body {
  padding-top: 0px;
  text-align: center;
}

#betModal .modal-content,
#new-bet-modal .modal-content {
  border: 5px solid rgba(0, 0, 0, 0.4);
  background: white;
}

#betModal .list-group-item,
#new-bet-modal .list-group-item {
  display: flex;
  justify-content: space-between;
  border: transparent;
}

#betModal li,
#new-bet-modal li {
  font-size: 14px;
  font-weight: bold;
  color: #132b80;
  padding-bottom: 5px;
  padding-top: 5px;
}

#betModal li:nth-child(odd),
#new-bet-modal li:nth-child(odd) {
  background-color: #f2f4fd;
}

.bet_details {
  color: #132b80;
  padding-top: 15px;
}

.bet_details h3 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;
}

.warning_msg {
  background-color: #ffd494;
  display: flex;
  align-items: center;
  margin: 15px;
  border-radius: 5px;
}

.warning_msg div img {
  padding: 10px;
}

.warning_msg p {
  font-size: 12px;
  margin-bottom: 0px;
  padding: 5px;
  color: #855000;
}

.bet-class {
  display: flex;
  justify-content: space-evenly;
  background-color: #dedede;
}

.symbol-bet {
  margin: 2% 5px;
}

.bet-class .btn {
  background: white;
  font-size: 0.8rem;
}

.bet-class .play-button {
  width: 10rem;
}

.bet-class .play-button-enabled {
  background-color: #badaba;
  color: #2cbf2c;
  border: 1px solid #0fcc0f;
  font-weight: bold;
}

.bet-class .play-button-disabled {
  background: #4a4444;
  border: darkgrey;
  color: #2cbf2c;
  font-weight: bold;
}

.button-selected {
  background: #f7cd46 !important;
  color: black;
}

#pick-10-bet .symbol-bet:last-child {
  margin-left: 5%;
}

.bet-class input {
  width: 100px;
  font-size: 0.8rem;
  padding: 0.375rem 0.4rem;
  outline: none;
  border: 0;
  text-align: center;
}

.modal-side-menu {
  font-weight: bold;
}

.bat-img img {
  margin: -5px -7.5px -5px -10px;
}

.ball-img img {
  margin: -5px 0 0 -5px;
}

.blue-ball-img img {
  margin: -5px -5px -5px -10px;
}

.break-over {
  padding: 0 5px;
}

.color-red {
  color: #e22222;
}

@media (min-width: 500px) {

  li a {
    font-size: 16px;
    padding: 14px 5px;
  }

  li.active a span,
  li:hover a span {
    padding: 10px;
    border-radius: 30px;
  }

  #pick-10-bet .symbol-bet:last-child {
    margin-left: 20%;
  }
}

@media (max-width: 500px) {
  .bet-class input {
    width: 4rem;
  }

  .bet-class .play-button {
    width: 6rem;
  }

  .bet-class .btn {
    font-size: 0.7rem;
    padding: 0.375rem 0.4rem;
  }
}

/*  error messages styling */

#noBetSelection.modal {
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
}

#noBetSelection .modal-content {
  background: #ffd494;
}

#noBetSelection .modal-body p {
  font-family: 'Nunito-ExtraBold';
  font-size: 0.76rem;
  font-weight: lighter;
  margin-bottom: 0px;
  color: #855000;
}

#noBetSelection .modal-body div {
  margin-right: 10px;
}

#noBetSelection .close_button button {
  font-size: 14px;
  font-weight: 700;
  background: #ffca7a;
  border: transparent;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #d17d00;
  width: 20%;
}

#noBetSelection .close_btn {
  text-align: end;
  position: static;
  top: 0;
  padding-right: 0;
}

#game-end-popup {
  align-items: center;
  justify-content: center;
}

#game-end-popup .close_btn {
  top: 5px;
  left: 90%;
}

#game-end-popup .close_button button {
  font-size: 14px;
  font-weight: 700;
  border: transparent;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 20%;
}

#noBetSelection .modal-body {
  display: flex;
  align-items: center;
  font-size: 12px;
}

#freePlaySelections .list-group {
  font-size: 16px;
  width: 340px;
  padding: 0 10px;
}

#freePlaySelections .list-group-item {
  display: flex;
  justify-content: space-between;
  background-color: #173397;
  margin-bottom: 10px;
}

.free-selection-alert {
  margin-top: 20px;
  background: #ffd494;
  display: flex;
  align-items: center;
  color: #855000;
  border-radius: 5px;
}

.free-selection-alert p {
  font-family: Nunito;
  font-weight: 600;
  margin: 0;
  text-align: left;
  font-size: smaller;
  padding: 10px 0 10px 0px;
}

.free-selection-alert div {
  padding: 0px 10px;
}

.close {
  font-family: Nunito-ExtraBold;
  opacity: 1;
}

#betAlreadyPlaced {
  justify-content: center;
  align-items: center;
}

#betAlreadyPlaced .close_btn {
  top: 5px;
  left: 320px;
}

.bet_selected {
  font-size: 16px;
  text-align: center;
  padding: 5px 70px 10px 70px;
}

#initial_popup {
  justify-content: center;
  align-items: center;
}

#initial_popup.modal {
  background: rgba(0, 0, 0, 0.5);
}

#initial_popup .modal-body {
  padding: 0;
}

#initial_popup .modal-dialog {
  margin: 1.5rem;
}

#initial_popup .modal-content {
  background-color: white;
  color: #132b80;
  border: none;
  border-radius: 10px;
}

.game_type {
  font-family: 'Nunito-ExtraBold';
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: center;
  background: #1A3AA8;
  color: #F7CD46;
  padding: 16px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.max-bet-tooltip {
  display: none;
  background-color: #fc0;
  position: absolute;
  z-index: 1050;
  left: 75px;
  top: 305px;
  padding: 5px 15px;
}

.max-bet-tooltip p {
  color: #031146;
  margin: 0;
}

.max-bet-tooltip p:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fc0 transparent transparent transparent;
}

.current-over-highlight {
  border: 3px solid red;
}


.top_weekly {
  margin: 12px;
  padding: 5px;
  text-align: center;
  font-size: 0.75rem;
  background: #F2F4FD;
  border-radius: 15px;
}

.prize {
  text-align: center;
}

.prize span {
  text-align: center;
  border: 2px solid #F7CD46;
  padding: 5px 15px;
  border-radius: 15px;
}

.predict_correctly {
  margin: 15px;
  text-align: center;
  background: #F2F4FD;
  border-radius: 5px;
  padding: 5px;
}

.predict_correctly.real {
  font-size: 0.75rem;
}

.play_now_btn {
  text-align: center;
}

.message {
  text-align: center;
  margin: 10px;
}

.message label {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.message input {
  margin-right: 10px;
}

.play_now_btn button {
  font-size: 24px;
  font-family: 'Nunito-ExtraBold';
  width: 90%;
  border: none;
  background: #F7CD46;
  border-radius: 5px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #132B80;
  padding: 10px 0;
}

/* #noBetSelection.modal{
    display: block;
} */

.winning-ball {
  color: #0fcc0f;
}

.losing-ball {
  color: red;
}

::placeholder {
  color: #132b80;
  font-size: 16px;
}


@media (max-width: 360px) {
  .btn {
    font-size: smaller;
  }
}

@media (max-width: 375px) {
  .over-button {
    padding: 1px 6px;
  }
}

@media (min-width: 600px) {
  /* .score-container-wrapper {
    height: calc(100vh - 30%);
  } */
}

/* new scorecard */
.score-container {
  /* height: 100%; */
  max-width: 700px;
  margin: 0 auto;
}

.navigation-header .nav {
  justify-content: space-around;
}

/* .navigation-header .nav a{
  color: #ffffff !important;
} */

.nav-pills-collection-ct {
  background: #16165a;
  padding: 7px;
}

.nav-pills-collection-ct li a {
  color: white;
  padding: .5rem .5rem;
  font-family: 'Nunito-ExtraBold';
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
}

.nav-pills-collection-ct li a.active {
  background: white;
  color: #16165a;
  border-radius: 3px;
  font-weight: bold;
  padding: 7px 12px;
}